In [1]:
from selenium import webdriver
import selenium
import time
import pymongo
import requests
from bs4 import BeautifulSoup
import time
import json

import numpy as np
import pandas as pd

In [2]:
mc = pymongo.MongoClient()  # Connect to the MongoDB server using default settings

In [6]:

db = mc['movies_metadata']  # Use (or create) a database called 'movies_metadata'
test = db['test']  # Use (or create) a collection called 'test'

In [7]:
movies = db['movies'] #Create a collection called movies

In [ ]:
movies_clean = db['movies_clean']

In [589]:
movies_clean_v2 = db['movies_clean_v2']

In [590]:
mc.database_names()

['admin', 'local', 'movies_metadata', 'nyt_dump', 'tweets']

In [591]:
db.collection_names()

['test', 'movies', 'movies_backup', 'movies_clean']

In [379]:
movies_backup = db['movies_backup']
movies_backup.insert_many(movies.find())

0

In [592]:
db.collection_names()

['test', 'movies', 'movies_backup', 'movies_clean']

In [9]:
len(list(movies.find()))
#2017 movies populate movies.find first 510 records
#moving on...

1583

In [30]:
#2016 movies:
browser = webdriver.Firefox()
i = 2
browser.get("https://www.the-numbers.com/United-States/movies/year/2016")
while (browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(5)").text != '$0'):
    
    #If the worldwide revenue is a nonzero amount... then go to the direct webpage for the movie
    #Then store that webpage's html code in the pymongo collection
    #The data on the webpage is sorted by worldwide box office revenue in descending order, with all the zero amounts 
    #at the bottom 
    url = browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(1) > b:nth-child(1) > a:nth-child(1)").get_attribute('href')
    # pause between HTTP requests
    browser.get(url)
    DELAY = 5 + 5 * np.random.random() # time to wait between HTTP requests
    time.sleep(DELAY)
    html = browser.page_source
    movies.insert_one({'url': url,
                     'ts': time.time(),
                     'html': html
                     })
    print(i)
    i += 1
    browser.get("https://www.the-numbers.com/United-States/movies/year/2016")

519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552

In [18]:
#2015 movies:
browser = webdriver.Firefox()
i = 2
browser.get("https://www.the-numbers.com/United-States/movies/year/2015")
while (browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(5)").text != '$0'):
    time.sleep(2)
    #If the worldwide revenue is a nonzero amount... then go to the direct webpage for the movie
    #Then store that webpage's html code in the pymongo collection
    url = browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(1) > b:nth-child(1) > a:nth-child(1)").get_attribute('href')
    # pause between HTTP requests
    browser.get(url)
    DELAY = 5 + 5 * np.random.random() # time to wait between HTTP requests
    time.sleep(DELAY)
    html = browser.page_source
    movies.insert_one({'url': url,
                     'ts': time.time(),
                     'html': html
                     })
    print(i)
    i += 1
    browser.get("https://www.the-numbers.com/United-States/movies/year/2015")

483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523

#What numbers do I need?
Title - from html code itself, should be located somewhere just before the first table

Items below can be extracted from pd.read_html, look into whether its easier to pull from this or directly from the unparsed mongodb format
Domestic Box office
Intl Box office 
Worldwide Box office

Release Date
MPAA Rating
Running Time
Source
Genre
Production Method
Creative Type
Production Companies


Lead Actor 1
Lead Actor 2
Lead Actor 3
Lead Actor 4

Director
Executive Producer
Producer

In [50]:
import sys
sys.getsizeof(list(movies.find()))

13904

In [476]:

for i in range(len(list(movies.find()))):
    single_movie_data = {}
    html = movies.find()[i]['html']
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.find('h1', attrs={"itemprop" : "name"}).text
    tables = soup.select('div#summary table')
    for table in tables:
        table_html = str(table)
        if 'Amount' in table_html:
            table_metrics = table
        if 'Production Countries:' in table_html :
            table_details = table
            break

    for row in table_metrics.select('tr'):
        if len(row.select('td')) == 3:
            cols = row.select('td')
            field_name = cols[0].text.replace('.', '')
            field_value = cols[2].text
            single_movie_data[field_name] = field_value

    for row in table_details.select('tr'):
        cols = row.select('td')
        field_name = cols[0].text
        field_value = cols[1].text
        single_movie_data[field_name] = field_value

    tables = soup.find_all('div', attrs={'class':'cast_new'})

    for table in tables:
        table_html = str(table)
        if 'Lead Ensemble' in table_html:
            table_cast = table
        if 'Production and Technical Credits' in table_html :
            table_crew = table
            break
    table_crew

    cast_lst = []
    for row in table_cast.select('tr'):
        cols = row.select('td')
        actor_name= cols[0].text
        cast_lst.append(actor_name)
    single_movie_data['lead_cast'] = cast_lst

    for row in table_crew.select('tr'):
        cols = row.select('td')
        field_name = cols[2].text.replace('.','')
        if field_name in single_movie_data.keys():
            field_value = cols[0].text
            single_movie_data[field_name].append(field_value)
        else:
            single_movie_data[field_name] = [cols[0].text]
    
    movies_clean.insert_one({'title': title,
                            'data': single_movie_data})
    print(i,title)

0 Star Wars Ep. VIII: The Last Jedi (2017)
1 Beauty and the Beast (2017)
2 The Fate of the Furious (2017)
3 Despicable Me 3 (2017)
4 Jumanji: Welcome to the Jungle (2017)
5 Spider-Man: Homecoming (2017)
6 Guardians of the Galaxy Vol 2 (2017)
7 Thor: Ragnarok (2017)
8 Wonder Woman (2017)
9 Coco (2017)
10 Pirates of the Caribbean: Dead Men Tell No Tales (2017)
11 It (2017)
12 Justice League (2017)
13 Logan (2017)
14 Transformers: The Last Knight (2017)
15 Kong: Skull Island (2017)
16 The Boss Baby (2017)
17 Dunkirk (2017)
18 War for the Planet of the Apes (2017)
19 The Greatest Showman (2017)
20 The Mummy (2017)
21 Kingsman: The Golden Circle (2017)
22 Cars 3 (2017)
23 Fifty Shades Darker (2017)
24 Murder on the Orient Express (2017)
25 xXx: Return of Xander Cage (2017)
26 The Lego Batman Movie (2017)
27 Annabelle: Creation (2017)
28 Wonder (2017)
29 Ferdinand (2017)
30 Split (2017)
31 Blade Runner 2049 (2017)
32 Get Out (2017)
33 Alien: Covenant (2017)
34 Baby Driver (2017)
35 Geostorm (2017)
36 The Emoji Movie (2017)
37 A Dog’s Purpose (2017)
38 Smurfs: The Lost Village (2017)
39 The Shape of Water (2017)
40 Pitch Perfect 3 (2017)
41 Baywatch (2017)
42 Daddy’s Home 2 (2017)
43 The Post (2017)
44 The Hitman’s Bodyguard (2017)
45 John Wick: Chapter Two (2017)
46 Ghost in the Shell (2017)
47 Three Billboards Outside Ebbing, Missouri (2017)
48 Power Rangers (2017)
49 Girls Trip (2017)
50 King Arthur: Legend of the Sword (2017)
51 American Made (2017)
52 A Bad Moms Christmas (2017)
53 Happy Death Day (2017)
54 Captain Underpants: The First Epic Movie (2017)
55 The Lego Ninjago Movie (2017)
56 The Dark Tower (2017)
57 Jigsaw (2017)
58 Life (2017)
59 Atomic Blonde (2017)
60 The Shack (2017)
61 Rings (2017)
62 Going in Style (2017)
63 Lady Bird (2017)
64 Victoria and Abdul (2017)
65 How to Be a Latin Lover (2017)
66 The Star (2017)
67 47 Meters Down (2017)
68 Everything, Everything (2017)
69 The Mountain Between Us (2017)
70 American Assassin (2017)
71 The Nut Job 2: Nutty by Nature (2017)
72 Snatched (2017)
73 My Little Pony: The Movie (2017)
74 All the Money in the World (2017)
75 Molly’s Game (2017)
76 The Big Sick (2017)
77 Tyler Perry’s Boo 2! A Madea Halloween (2017)
78 Rough Night (2017)
79 I, Tonya (2017)
80 Phantom Thread (2017)
81 Flatliners (2017)
82 Wind River (2017)
83 mother! (2017)
84 Call Me by Your Name (2017)
85 The Circle (2017)
86 Fist Fight (2017)
87 Logan Lucky (2017)
88 Downsizing (2017)
89 Home Again (2017)
90 Gifted (2017)
91 Diary of a Wimpy Kid: The Long Haul (2017)
92 Kidnap (2017)
93 Hostiles (2017)
94 The House (2017)
95 The Beguiled (2017)
96 Sleepless (2017)
97 The Disaster Artist (2017)
98 The Bye Bye Man (2017)
99 The Zookeeper’s Wife (2017)
100 A Cure for Wellness (2017)
101 Wish Upon (2017)
102 CHiPS (2017)
103 Detroit (2017)
104 Only the Brave (2017)
105 Father Figures (2017)
106 It Comes at Night (2017)
107 What Happened to Monday? (2017)
108 The Case for Christ (2017)
109 Battle of the Sexes (2017)
110 The Glass Castle (2017)
111 The Lost City of Z (2017)
112 Unforgettable (2017)
113 Before I Fall (2017)
114 Woody Woodpecker (2017)
115 Megan Leavey (2017)
116 Roman J. Israel, Esq. (2017)
117 Gold (2017)
118 The Space Between Us (2017)
119 The Belko Experiment (2017)
120 The Promise (2017)
121 Suburbicon (2017)
122 Marshall (2017)
123 Thank You for Your Service (2017)
124 The Florida Project (2017)
125 Paris Can Wait (2017)
126 My Cousin Rachel (2017)
127 Wonder Wheel (2017)
128 A Stork's Journey (2017)
129 I Am Not Your Negro (2017)
130 Beatriz at Dinner (2017)
131 Let There Be Light (2017)
132 Condorito: La Pelicula (2017)
133 Deep (2017)
134 Birth of the Dragon (2017)
135 Just Getting Started (2017)
136 Same Kind of Different as Me (2017)
137 Lowriders (2017)
138 All Saints (2017)
139 The Healer (2017)
140 Norman: The Moderate Rise and Tragic Fall of a New York Fixer (2017)
141 Stronger (2017)
142 You Were Never Really Here (2017)
143 The Killing of a Sacred Deer (2017)
144 Breathe (2017)
145 Table 19 (2017)
146 The Book of Henry (2017)
147 Overdrive (2017)
148 KEDi (2017)
149 The Hero (2017)
150 An Inconvenient Sequel (2017)
151 Sleight (2017)
152 Tulip Fever (2017)
153 Amityville: The Awakening (2017)
154 2:22 (2017)
155 Phoenix Forgotten (2017)
156 Unlocked (2017)
157 Til Death Do Us Part (2017)
158 Film Stars Don’t Die in Liverpool (2017)
159 Mayweather vs. McGregor (2017)
160 Jeepers Creepers 3 (2017)
161 Good Time (2017)
162 Ingrid Goes West (2017)
163 Una mujer fantástica (2017)
164 2017 Oscar Shorts (2017)
165 Shot Caller (2017)
166 Brad’s Status (2017)
167 A Question of Faith (2017)
168 Is Genesis History? (2017)
169 The Dinner (2017)
170 LBJ (2017)
171 The Last Word (2017)
172 The Wall (2017)
173 The Midnight Man (2017)
174 24 Hours to Live (2017)
175 The Resurrection of Gavin Stone (2017)
176 The Lovers (2017)
177 Okja (2017)
178 Brimstone (2017)
179 A Ghost Story (2017)
180 Professor Marston & The Wonder Women (2017)
181 Jane (2017)
182 Menashe (2017)
183 Slamma Jamma (2017)
184 Escape Room (2017)
185 The Comedian (2017)
186 The Little Hours (2017)
187 Inhumans (2017)
188 HHhH (2017)
189 The Stray (2017)
190 Mark Felt: The Man Who Brought Down the White House (2017)
191 Met Opera: Der Rosenkavalier (2017)
192 Patti Cake$ (2017)
193 Final Portrait (2017)
194 Fallen (2017)
195 My Friend Dahmer (2017)
196 Wonderstruck (2017)
197 The Only Living Boy in New York (2017)
198 Met Opera: Norma (2017)
199 Step (2017)
200 2017 Contenido Alternativo Stanley Kubrick (2017)
201 Last Flag Flying (2017)
202 Lucky (2017)
203 Columbus (2017)
204 Song to Song (2017)
205 Landline (2017)
206 Slumber (2017)
207 Leatherface (2017)
208 Spark: A Space Tail (2017)
209 Bu Qi Er Yu (2017)
210 Surf’s Up 2: Wavemania (2017)
211 Tommy’s Honour (2017)
212 Wakefield (2017)
213 Baby, Baby, Baby! (2017)
214 May it Last: A Portrait of the Avett Brothers (2017)
215 Escape From New York (2017)
216 Wilson (2017)
217 Rodin (2017)
218 Rebel in the Rye (2017)
219 Brigsby Bear (2017)
220 Milada (2017)
221 The Black Prince (2017)
222 The Secret Scripture (2017)
223 Renegades (2017)
224 Met Opera: Nabucco (2017)
225 Inside (2017)
226 Novitiate (2017)
227 Beyond Skyline (2017)
228 Pearl Jam: Let’s Play Two (2017)
229 Dolores (2017)
230 6 Below: Miracle on the Mountain (2017)
231 Beach Rats (2017)
232 Letters from Baghdad (2017)
233 Met Opera: Eugene Onegin (2017)
234 Tom of Finland (2017)
235 Met Opera: La Traviata (2017)
236 Una (2017)
237 Love, Kennedy (2017)
238 Chasing Trane: The John Coltrane Documentary (2017)
239 The Babysitter (2017)
240 Bedeviled (2017)
241 The Ottoman Lieutenant (2017)
242 Sofia the First: The Mystic Isles (2017)
243 Chuck (2017)
244 Long Strange Trip: The Untold Story of the Grateful Dead (2017)
245 Citizen Jane: Battle for the City (2017)
246 Black Butterfly (2017)
247 Met Opera: Rusalka (2017)
248 Fishtales (2017)
249 Met Opera: Die Zauberflote (2017)
250 Eloise (2017)
251 Met Opera 2017: Romeo et Juliette (2017)
252 Obit (2017)
253 The Breadwinner (2017)
254 The Last Face (2017)
255 Don’t Hang Up (2017)
256 Met Opera: Idomeneo (2017)
257 Elena and the Secret of Avalor (2017)
258 Security (2017)
259 David Lynch: The Art Life (2017)
260 All I See is You (2017)
261 I Do…Until I Don’t (2017)
262 Aftermath (2017)
263 Once Upon a Time in Venice (2017)
264 Dean (2017)
265 Gook (2017)
266 Band Aid (2017)
267 Crown Heights (2017)
268 Jeremiah Tower: The Last Magnificent (2017)
269 American Satan (2017)
270 Marjorie Prime (2017)
271 Risk (2017)
272 Chavela (2017)
273 In Dubious Battle (2017)
274 Tell Me How I Die (2017)
275 Escape Room (2017)
276 We Bare Bears (2017)
277 City of Ghosts (2017)
278 California Typewriter (2017)
279 Disney’s Newsies: The Broadway Musical (2017)
280 Take Every Wave: The Life of Laird Hamilton (2017)
281 9/11 (2017)
282 Better Watch Out (2017)
283 Whose Streets? (2017)
284 The Bad Batch (2017)
285 Ghost House (2017)
286 Champion (2017)
287 Blue (2017)
288 Met Opera: The Exterminating Angel (2017)
289 No Stone Unturned (2017)
290 Keep The Change (2017)
291 Valley of Bones (2017)
292 The Assignment (2017)
293 Walking Out (2017)
294 Big Sonia (2017)
295 Buena Vista Social Club—Adios (2017)
296 Palace of the Damned (2017)
297 Ex Libris: The New York Public Library (2017)
298 The Vault (2017)

299 Restless Creature: Wendy Whelan (2017)
300 The Last Dalai Lama? (2017)
301 Adventure Time with Finn and Jake Islands (2017)
302 The Stoic (2017)
303 Hare Krishna! The Mantra, The Movement and the Swami Who Started it all (2017)
304 Dawson City: Frozen Time (2017)
305 The B-Side (2017)
306 Memento (2017)
307 We Love You, Sally Carmichael (2017)
308 Abacus: Small Enough to Jail (2017)
309 Warren Miller's Here, There & Everywhere (2017)
310 Newness (2017)
311 The Bachelors (2017)
312 Bullet Head (2017)
313 Aida’s Secrets (2017)
314 Tragedy Girls (2017)
315 Tim Timmerman: Hope of America (2017)
316 I Called Him Morgan (2017)
317 Dina (2017)
318 Double Play (2017)
319 Keep Watching (2017)
320 Because of Grácia (2017)
321 Chapter & Verse (2017)
322 Score: A Film Music Documentary (2017)
323 Bill Nye: Science Guy (2017)
324 First Kill (2017)
325 Wait For Your Laugh (2017)
326 Te Ata (2017)
327 Buster’s Mal Heart (2017)
328 Max 2: White House Hero (2017)
329 Turn it Around: The Story of East Bay Punk (2017)
330 Rememory (2017)
331 My Entire High School Sinking Into the Sea (2017)
332 Porto (2017)
333 Alive and Kicking (2017)
334 Architects of Denial (2017)
335 The Tiger Hunter (2017)
336 A Ciambra (2017)
337 Donald Cried (2017)
338 Bang! The Bert Berns Story (2017)
339 The Force (2017)
340 The Gracefield Incident (2017)
341 La Chana (2017)
342 METALLICA Quebec Magnetic (2017)
343 Mudbound (2017)
344 Quest (2017)
345 Unrest (2017)
346 Person to Person (2017)
347 Bending the Arc (2017)
348 Saving Banksy (2017)
349 78/52: Hitchcocks Shower Scene (2017)
350 So B. It (2017)
351 The Hunter’s Prayer (2017)
352 That’s Not Me (2017)
353 Woodshock (2017)
354 Hermia & Helena (2017)
355 XX (2017)
356 Heartbeats (2017)
357 Voice From the Stone (2017)
358 Havenhurst (2017)
359 Batman and Harley Quinn (2017)
360 A Woman, A Part (2017)
361 Growing up Smith (2017)
362 Rat Film (2017)
363 Sophie and the Rising Sun (2017)
364 All Nighter (2017)
365 Love & Taxes (2017)
366 Super Dark Times (2017)
367 Mickey And The Roadster Racers (2017)
368 Brimstone & Glory (2017)
369 Sidemen: Long Road to Glory (2017)
370 7 Witches (2017)
371 No Greater Love (2017)
372 Dealt (2017)
373 Swan Princess: Royally Undercover (2017)
374 Black And White Stripes: The Juventus Story (2017)
375 The Shadow Effect (2017)
376 Uncertain (2017)
377 Lemon (2017)
378 The Transfiguration (2017)
379 Radio Dreams (2017)
380 30 Years of Garbage: The Garbage Pail Kids Story (2017)
381 Carrie Pilby (2017)
382 Ribbons (2017)
383 Wasted! The Story of Food Waste (2017)
384 Papillon (2017)
385 The Lucky Man (2017)
386 Fun Mom Dinner (2017)
387 The Departure (2017)
388 Jasmine (2017)
389 The Outcasts (2017)
390 Dead Awake (2017)
391 Simple Creature (2017)
392 Kill Switch (2017)
393 For Ahkeem (2017)
394 Finding Oscar (2017)
395 Grace of Jake (2017)
396 Trophy (2017)
397 Paradise Club (2017)
398 Le divan de Staline (2017)
399 Massacre on Aisle 12 (2017)
400 A Beginner’s Guide to Snuff (2017)
401 Man Underground (2017)
402 Paradise (2017)
403 The Pirates Of Somalia (2017)
404 The Work (2017)
405 The Blackcoat’s Daughter (2017)
406 Burden (2017)
407 Lazer Team 2 (2017)
408 Brain on Fire (2017)
409 The Man From Outer Space (2017)
410 Bobbi Jene (2017)
411 Stake Land 2 (2017)
412 All the Rage (Saved by Sarno) (2017)
413 In Memorium (2017)
414 Shot! The Psycho-Spiritual Mantra of Rock (2017)
415 Mansfield 66/67 (2017)
416 The Last Shaman (2017)
417 Sweet Virginia (2017)
418 Bad Grandmas (2017)
419 Food Evolution (2017)
420 Mission Control: The Unsung Heroes of Apollo (2017)
421 Basmati Blues (2017)
422 Contemporary Color (2017)
423 The Institute (2017)
424 Rebels on Pointe (2017)
425 Vince Giordano: There’s a Future in the Past (2017)
426 Bethany (2017)
427 Brave New Jersey (2017)
428 Shadowman (2017)
429 Trafficked (2017)
430 Intent to Destroy: Death, Denial & Depiction (2017)
431 Ira (2017)
432 Permanent (2017)
433 Junction 48 (2017)
434 Heal (2017)
435 All This Panic (2017)
436 Lovesong (2017)
437 Clarence (2017)
438 Within (2017)
439 Painted Woman (2017)
440 The Sunshine Makers (2017)
441 Blood Feast (2017)
442 Julian Schnabel: A Private Portrait (2017)
443 Suspiria (2017)
444 Extortion (2017)
445 Mr. Chibbs (2017)
446 Served Like a Girl (2017)
447 From Nowhere (2017)
448 The Ballad of Lefty Brown (2017)
449 The Wrong Light (2017)
450 Birthright: A War Story (2017)
451 Frank Serpico (2017)
452 Empatía (2017)
453 Brawl in Cell Block 99 (2017)
454 The Jazz Funeral (2017)
455 Most Beautiful Island (2017)
456 The Pathological Optimist (2017)
457 The Sweet Life (2017)
458 Last Rampage (2017)
459 The Fuzz (2017)
460 The Freedom to Marry (2017)
461 Arise from Darkness (2017)
462 Icaros: A Vision (2017)
463 Company Town (2017)
464 Destination Unknown (2017)
465 Shot (2017)
466 Night School (2017)
467 I Love You Both (2017)
468 The Tribes of Palos Verdes (2017)
469 A Boy Called Po (2017)
470 Vengeance: A Love Story (2017)
471 The Pulitzer at 100 (2017)
472 Wolves at the Door (2017)
473 My Father, Die (2017)
474 Badsville (2017)
475 Mirror Game: Ab Khel Shuru (2017)
476 Swim Team (2017)
477 I Am Michael (2017)
478 Blood Money (2017)
479 Avicii: True Stories (2017)
480 Armed Response (2017)
481 Emily (2017)
482 Who’s Crazy (2017)
483 Inversion (2017)
484 Money (2017)
485 Santoalla (2017)
486 Catfight (2017)
487 Take Me (2017)
488 Miles (2017)
489 Strangers on a Train (2017)
490 Thrill Ride (2017)
491 Wetlands (2017)
492 Dayveon (2017)
493 Accidental Courtesy: Daryl Davis, Race & America (2017)
494 The Reagan Show (2017)
495 Starship Troopers: Traitor of Mars (2017)
496 Revolutions (2017)
497 A Different American Dream (2017)
498 The Penguin Counters (2017)
499 Extraordinary Ordinary People (2017)
500 Bitch (2017)
501 Love, Sweat & Tears (2017)
502 The Helsings (2017)
503 Running Wild (2017)
504 The Magic Pill (2017)
505 Dark Night (2017)
506 L.A. ‘92 (2017)
507 Bastard (2017)
508 Una Funcion Para Olvidar (2017)
509 Bushwick (2017)
510 Captain America: Civil War (2016)
511 Rogue One: A Star Wars Story (2016)
512 Finding Dory (2016)
513 Zootopia (2016)
514 The Jungle Book (2016)
515 The Secret Life of Pets (2016)
516 Batman v Superman: Dawn of Justice (2016)
517 Fantastic Beasts and Where to Find Them (2016)
518 Deadpool (2016)
519 Suicide Squad (2016)
520 Doctor Strange (2016)
521 Moana (2016)
522 Sing (2016)
523 X-Men: Apocalypse (2016)
524 Kung Fu Panda 3 (2016)
525 Warcraft (2016)
526 La La Land (2016)
527 Jason Bourne (2016)
528 Ice Age: Collision Course (2016)
529 Independence Day: Resurgence (2016)
530 The Angry Birds Movie (2016)
531 The Legend of Tarzan (2016)
532 Trolls (2016)
533 Star Trek Beyond (2016)
534 The Great Wall (2016)
535 Now You See Me 2 (2016)
536 The Conjuring 2: The Enfield Poltergeist (2016)
537 Resident Evil: The Final Chapter (2016)
538 Passengers (2016)
539 Miss Peregrine’s Home for Peculiar Children (2016)
540 Alice Through the Looking Glass (2016)
541 Teenage Mutant Ninja Turtles: Out of the Shadows (2016)
542 Assassin’s Creed (2016)
543 Sully (2016)
544 Hidden Figures (2016)
545 Ghostbusters (2016)
546 Inferno (2016)
547 Central Intelligence (2016)
548 Me Before You (2016)
549 Bridget Jones’s Baby (2016)
550 Arrival (2016)
551 The BFG (2016)
552 London Has Fallen (2016)
553 Bad Moms (2016)
554 Storks (2016)
555 The Divergent Series: Allegiant (2016)
556 The Girl on the Train (2016)
557 The Huntsman: Winter’s War (2016)
558 The Magnificent Seven (2016)
559 Jack Reacher: Never Go Back (2016)
560 Don’t Breathe (2016)
561 Hacksaw Ridge (2016)
562 The Accountant (2016)
563 Lights Out (2016)
564 Sausage Party (2016)
565 Pete’s Dragon (2016)
566 Skiptrace (2016)
567 Gods of Egypt (2016)
568 Ride Along 2 (2016)
569 Deepwater Horizon (2016)
570 Allied (2016)
571 The Shallows (2016)
572 The Purge: Election Year (2016)
573 Why Him? (2016)
574 The 5th Wave (2016)
575 Mechanic: Resurrection (2016)
576 Neighbors 2: Sorority Rising (2016)
577 10 Cloverfield Lane (2016)
578 Dirty Grandpa (2016)
579 How to be Single (2016)
580 Money Monster (2016)
581 Ben-Hur (2016)
582 My Big Fat Greek Wedding 2 (2016)
583 Office Christmas Party (2016)
584 Collateral Beauty (2016)
585 War Dogs (2016)
586 Ouija: Origin of Evil (2016)
587 Underworld: Blood Wars (2016)

588 The Boss (2016)
589 Manchester by the Sea (2016)
590 Kubo and the Two Strings (2016)
591 Mike and Dave Need Wedding Dates (2016)
592 Miracles from Heaven (2016)
593 Tyler Perry’s Boo! A Madea Halloween (2016)
594 13 Hours: The Secret Soldiers of Benghazi (2016)
595 The Boy (2016)
596 Moonlight (2016)
597 Fences (2016)
598 Hail, Caesar! (2016)
599 Monster Trucks (2016)
600 Nerve (2016)
601 The Nice Guys (2016)
602 Florence Foster Jenkins (2016)
603 Zoolander 2 (2016)
604 All Eyez on Me (2016)
605 Barbershop: The Next Cut (2016)
606 Patriots Day (2016)
607 Mother’s Day (2016)
608 The Finest Hours (2016)
609 A Monster Calls (2016)
610 Risen (2016)
611 Eddie the Eagle (2016)
612 Café Society (2016)
613 Almost Christmas (2016)
614 The Forest (2016)
615 The Witch (2016)
616 Crouching Tiger, Hidden Dragon: Sword of Destiny (2016)
617 Hell or High Water (2016)
618 Blair Witch (2016)
619 Nocturnal Animals (2016)
620 Masterminds (2016)
621 When the Bough Breaks (2016)
622 Keeping Up with the Joneses (2016)
623 Norm of the North (2016)
624 Jackie (2016)
625 Triple 9 (2016)
626 Billy Lynn’s Long Halftime Walk (2016)
627 Whiskey Tango Foxtrot (2016)
628 Born in China (2016)
629 Kevin Hart: What Now? (2016)
630 God’s Not Dead 2 (2016)
631 No Manches Frida (2016)
632 The Choice (2016)
633 Middle School: The Worst Years of My Life (2016)
634 Bad Santa 2 (2016)
635 Free State of Jones (2016)
636 Live by Night (2016)
637 Captain Fantastic (2016)
638 Rock Dog (2016)
639 Fifty Shades of Black (2016)
640 Keanu (2016)
641 The Light Between Oceans (2016)
642 The Edge of Seventeen (2016)
643 The Infiltrator (2016)
644 The Founder (2016)
645 The Birth of a Nation (2016)
646 Pride and Prejudice and Zombies (2016)
647 Silence (2016)
648 Hello, My Name is Doris (2016)
649 Hardcore Henry (2016)
650 Hillary’s America: The Secret History of the Democratic Party (2016)
651 Loving (2016)
652 A Hologram for the King (2016)
653 Ratchet and Clank (2016)
654 Shut In (2016)
655 The Darkness (2016)
656 Paterson (2016)
657 The Beatles: Eight Days a Week (2016)
658 The Perfect Match (2016)
659 Popstar: Never Stop Never Stopping (2016)
660 Queen of Katwe (2016)
661 Meet the Blacks (2016)
662 Bastille Day (2016)
663 A Beautiful Planet (2016)
664 Midnight Special (2016)
665 Compadres (2016)
666 The Young Messiah (2016)
667 Morgan (2016)
668 Maggie’s Plan (2016)
669 Incarnate (2016)
670 20th Century Women (2016)
671 Southside with You (2016)
672 Bleed for This (2016)
673 The Autopsy of Jane Doe (2016)
674 Miss Sloane (2016)
675 Swiss Army Man (2016)
676 My Best Friend’s Wedding (2016)
677 Genius (2016)
678 Anomalisa (2016)
679 The Meddler (2016)
680 Everybody Wants Some (2016)
681 Lost in the Pacific (2016)
682 Blood Father (2016)
683 Miles Ahead (2016)
684 Hands of Stone (2016)
685 Where to Invade Next (2016)
686 Max Steel (2016)
687 Don’t Think Twice (2016)
688 The Eagle Huntress (2016)
689 Batman: The Killing Joke (2016)
690 Demolition (2016)
691 Rules Don’t Apply (2016)
692 Green Room (2016)
693 Miss Saigon 25th Anniversary Performance (2016)
694 Indignation (2016)
695 The Neon Demon (2016)
696 Throne of Elves (2016)
697 Before I Wake (2016)
698 The Disappointments Room (2016)
699 Swap (2016)
700 Quackerz (2016)
701 2016 Oscar Shorts (2016)
702 Hillsong: Let Hope Rise (2016)
703 Pele: Birth of a Legend (2016)
704 Misconduct (2016)
705 Bling (2016)
706 The Met: Live in HD - Madama Butterfly (2016)
707 The Met: Live in HD - Manon Lescaut (2016)
708 Equals (2016)
709 American Honey (2016)
710 I’m Not Ashamed (2016)
711 Greater (2016)
712 Met Opera: La Boheme (2016)
713 I Saw the Light (2016)
714 Weiner (2016)
715 The Harry Potter IMAX Marathon (2016)
716 American Pastoral (2016)
717 Mine (2016)
718 Equity (2016)
719 USS Indianapolis: Men of Courage (2016)
720 Priceless (2016)
721 Born to Be Blue (2016)
722 Elvis & Nixon (2016)
723 Summer Camp (2016)
724 Barbie: Spy Squad (2016)
725 Lazer Team (2016)
726 The Whole Truth (2016)
727 The Music of Strangers: Yo-Yo Ma and the Silk Road Ensemble (2016)
728 Vaxxed: From Cover Up to Catastrophe (2016)
729 I.T. (2016)
730 The Hollars (2016)
731 Certain Women (2016)
732 The First Monday in May (2016)
733 Little Men (2016)
734 High Strung (2016)
735 Marauders (2016)
736 Believe (2016)
737 Mr. Right (2016)
738 31 (2016)
739 Bakery in Brooklyn (2016)
740 Saturday’s Warrior (2016)
741 Cell (2016)
742 Met Opera: Turandot (2016)
743 Backtrack (2016)
744 The Devil’s Candy (2016)
745 Mr. Church (2016)
746 Met Opera: Les Pêcheurs de Perles (2016)
747 The Sea of Trees (2016)
748 A Tale of Love and Darkness (2016)
749 Harry & Snowman (2016)
750 Lo And Behold, Reveries Of The Connected World (2016)
751 Bolshoi Babylon (2016)
752 Embrace (2016)
753 City of Gold (2016)
754 The Bronze (2016)
755 Wiener-Dog (2016)
756 The Family Fang (2016)
757 Gleason (2016)
758 Precious Cargo (2016)
759 Range 15 (2016)
760 Unsullied (2016)
761 Gimme Danger (2016)
762 Abattoir (2016)
763 Three Generations (2016)
764 Voiceless (2016)
765 All Roads Lead to Rome (2016)
766 Met Opera Don Giovanni (2016) (2016)
767 Barbie: Star Light Adventure (2016)
768 Met Opera Roberto Devereux (2016)
769 Na mlecnom putu (2016)
770 Life, Animated (2016)
771 The Invitation (2016)
772 Imperium (2016)
773 Blackway (2016)
774 El Americano: The Movie (2016)
775 The Bounce Back (2016)
776 Met Opera: Elektra (2016)
777 AmeriGeddon (2016)
778 Christine (2016)
779 I Am Wrath (2016)
780 Tristan und Isolde - Met Opera 2016 (Opera) (2016)
781 This Beautiful Fantastic (2016)
782 Parched (2016)
783 Mimimalism: A Documentary About the Important Things (2016)
784 Michael Buble - Tour Stop 148 (2016)
785 The Love Witch (2016)
786 Wild Oats (2016)
787 Tumbledown (2016)
788 Sundown (2016)
789 Jimmy Vestvood: Amerikan Hero (2016)
790 Baskin (2016)
791 Southbound (2016)
792 Viral (2016)
793 White Girl (2016)
794 Complete Unknown (2016)
795 Exposed (2016)
796 The Fits (2016)
797 De Palma (2016)
798 The Witness (2016)
799 Por Siempre (2016)
800 Eva Hesse (2016)
801 Met Opera 2016: L'Amour De Loin (2016)
802 Touched With Fire (2016)
803 Generation Found (2016)
804 Seed: The Untold Story (2016)
805 Manhattan Nocturne (2016)
806 Kicks (2016)
807 Michael Moore in TrumpLand (2016)
808 America Wild: National Parks Adventure (2016)
809 72 Hours (2016)
810 Krisha (2016)
811 Requiem for the American Dream (2016)
812 Met Opera: Madama Butterfly (puccini) (2016)
813 Miss Sharon Jones (2016)
814 Remember the Goal (2016)
815 Caged No More (2016)
816 The Fourth Phase (2016)
817 Voyage of Time (2016)
818 Zero Days (2016)
819 Cameraperson (2016)
820 Best Worst Thing That Ever Could Have Happened (2016)
821 The Will to Fly (2016)
822 Martyrs (2016)
823 Puerto Ricans in Paris (2016)
824 Victor (2016)
825 Tower (2016)
826 Bringing Tibet Home (2016)
827 The Neighbor (2016)
828 Author: The JT LeRoy Story (2016)
829 The History of Love (2016)
830 Other People (2016)
831 Morris from America (2016)
832 The Good Neighbor (2016)
833 Term Life (2016)
834 Los sures (2016)
835 A Kind of Murder (2016)
836 For the Love of Spock (2016)
837 Kickboxer: Vengeance (2016)
838 Chicken People (2016)
839 Colliding Dreams (2016)
840 Don’t Blink: Robert Frank (2016)
841 King Cobra (2016)
842 Do Not Resist (2016)
843 Raiders! The Story of the Greatest Fan Film Ever Made (2016)
844 Met Opera: La Boheme (2016) (2016)
845 The Congressman (2016)
846 Norman Lear: Just Another Version of You (2016)
847 Dog Eat Dog (2016)
848 Le Ride (2016)
849 The Greasy Strangler (2016)
850 The Great Gilly Hopkins (2016)
851 Max Rose (2016)
852 Back to the Jurassic (2016)
853 Trapped (2016)
854 Creative Control (2016)
855 Amateur Night (2016)
856 Army Of One (2016)
857 Too Late (2016)
858 Command and Control (2016)
859 Batman: Return of the Caped Crusaders (2016)
860 Met Opera: Lulu (2016)
861 In a Valley of Violence (2016)
862 Mifune: The Last Samurai (2016)
863 UFC 205: Alvarez Vs. Mcgregor (2016)
864 Battle Mountain: Graeme Obreeʼs Story (2016)
865 King Georges (2016)
866 East Side Sushi (2016)
867 Kanlı Girdap (2016)
868 Urge (2016)
869 Holidays (2016)
870 The Devil’s Dolls (2016)
871 The Trust (2016)
872 Nuts! (2016)
873 Danny Says (2016)
874 The Land (2016)
875 The House on Pine Street (2016)

876 In Pursuit of Silence (2016)
877 Of Mind and Music (2016)
878 Spa Night (2016)
879 Is That a Gun in Your Pocket? (2016)
880 Kanye West: The Global Premiere of WAVES (2016)
881 Catching the Sun (2016)
882 Troublemakers: The Story of Land Art (2016)
883 Germans and Jews (2016)
884 Mapplethorpe: Look at the Pictures (2016)
885 Restored Me (2016)
886 How to Let Go of the World and Love All The Things Climate Can’t Change (2016)
887 Kill Me, Deadly (2016)
888 Who Gets the Dog? (2016)
889 Full of Grace (2016)
890 The Homeless Billionaire (2016)
891 Off the Rails (2016)
892 The Intervention (2016)
893 The Curse of Sleeping Beauty (2016)
894 Jack of the Red Hearts (2016)
895 Lamb (2016)
896 Being Charlie (2016)
897 The Seventh Fire (2016)
898 The Best Democracy Money Can Buy (2016)
899 The Unknowns (2016)
900 3 Weeks in Yerevan (2016)
901 Time to Choose (2016)
902 The Eyes of My Mother (2016)
903 Take Me to the River (2016)
904 Kate Plays Christine (2016)
905 Unlocking the Cage (2016)
906 Anesthesia (2016)
907 Speed Sisters (2016)
908 Front Cover (2016)
909 I Am Not a Serial Killer (2016)
910 The Dog Wedding (2016)
911 Disturbing the Peace (2016)
912 Sold (2016)
913 Crocodile Gennadiy (2016)
914 The Fiancé (2016)
915 Met Opera: Tosca (encore) (2016)
916 Good Kids (2016)
917 Gridiron Heroes (2016)
918 The Black Dove (2016)
919 Generation Startup (2016)
920 Septembers of Shiraz (2016)
921 Blue Jay (2016)
922 Thank You For Your Service (2016)
923 Met Opera: Cosi Fan Tutte (2016)
924 Band of Robbers (2016)
925 This Last Lonely Place (2016)
926 Never (2016)
927 Get Squirrely (2016)
928 Love Me True (2016)
929 No Pay, Nudity (2016)
930 The Romans (2016)
931 Art Bastard (2016)
932 Revelation: Dawn of Global Government (2016)
933 Seoul Searching (2016)
934 Ktown Cowboys (2016)
935 Search Engines (2016)
936 Landfill Harmonic (2016)
937 The Channel (2016)
938 Peter and the Farm (2016)
939 Harry Benson: Shoot First (2016)
940 A Bit of Bad Luck (2016)
941 Wildflower (2016)
942 Holy Hell (2016)
943 Men go to Battle (2016)
944 How He Fell in Love (2016)
945 Streit’s: Matzo and the American Dream (2016)
946 Always Shine (2016)
947 Operation Avalanche (2016)
948 Five Nights in Maine (2016)
949 Starcrossed (2016)
950 It’s Already Tomorrow in Hong Kong (2016)
951 Monsieur Mayonnaise (2016)
952 The Uncondemned (2016)
953 One More Time (2016)
954 Newtown (2016)
955 Yosemite (2016)
956 A Space Program (2016)
957 Spices of Liberty (2016)
958 The Hurt Business (2016)
959 The Adderall Diaries (2016)
960 The Monster (2016)
961 Hot Water (2016)
962 When Two Worlds Collide (2016)
963 Christmas, Again (2016)
964 Lucha Mexico (2016)
965 The Ruins of Lifta (2016)
966 Theo Who Lived (2016)
967 Anonymous (2016)
968 Satanic (2016)
969 Pet (2016)
970 National Bird (2016)
971 Approaching the Unknown (2016)
972 Beta Test (2016)
973 River of Grass (2016)
974 What Happened Last Night (2016)
975 King Jack (2016)
976 Frank & Lola (2016)
977 Reparation (2016)
978 Crazy About Tiffany’s (2016)
979 Providence (2016)
980 We Are Twisted F***ing Sister! (2016)
981 Silicon Cowboys (2016)
982 Jim: The James Foley Story (2016)
983 Golden Kingdom (2016)
984 Talent Has Hunger (2016)
985 The Lost Arcade (2016)
986 Indian Point (2016)
987 The Preppie Connection (2016)
988 The Brainwashing of My Dad (2016)
989 Last Days in the Desert (2016)
990 Boom Bust Boom (2016)
991 Mad Tiger (2016)
992 The Dying of the Light (2016)
993 Vigilante Diaries (2016)
994 Daddy (2016)
995 The Charnel House (2016)
996 Ghost Team (2016)
997 The Bad Kids (2016)
998 Slash (2016)
999 Undrafted (2016)
1000 Gibby (2016)
1001 The Ghosts of Johnson Woods (2016)
1002 It Had to be You (2016)
1003 The Code of Cain (2016)
1004 Call Her Applebroog (2016)
1005 Cabin Fever (2016)
1006 Roseanne for President! (2016)
1007 Blood on the Mountain (2016)
1008 Richard Linklater: Dream is Destiny (2016)
1009 Miss Stevens (2016)
1010 The Automatic Hate (2016)
1011 Search Party (2016)
1012 Synchronicity (2016)
1013 Axel: The Biggest Little Hero (2016)
1014 Arlo: The Burping Pig (2016)
1015 On Meditation (2016)
1016 Auto Shop of Horrors (2016)
1017 Breaking a Monster (2016)
1018 Among the Believers (2016)
1019 Man Down (2016)
1020 San Francisco Ballet: Romeo and Juliet (2016)
1021 Coming Through the Rye (2016)
1022 The Hollow (2016)
1023 The Last Film Festival (2016)
1024 Mi America (2016)
1025 God Bless Ozzy Osbourne (2016)
1026 Burning Bodhi (2016)
1027 Gray Matters (2016)
1028 Michael Jackson's Journey from Motown to Off the Wall (2016)
1029 Best and Most Beautiful Things (2016)
1030 Hooligan Sparrow (2016)
1031 The Professor: Tai Chi's Journey West (2016)
1032 Gehenna: Where Death Lives (2016)
1033 Homme Less (2016)
1034 Notfilm (2016)
1035 Memoria (2016)
1036 Uncle Howard (2016)
1037 Yoga Hosers (2016)
1038 Interrogation (2016)
1039 A Beautiful Now (2016)
1040 Passage to Mars (2016)
1041 Ciclo Grande Cinema Russo (2016)
1042 A Small Good Thing (2016)
1043 Above and Below (2016)
1044 London Town (2016)
1045 Art House (2016)
1046 Rupture (2016)
1047 Robo-Dog (2016)
1048 Misfortune (2016)
1049 Officer Downe (2016)
1050 Green is Gold (2016)
1051 The Chameleon (2016)
1052 Amanda Knox (2016)
1053 400 Days (2016)
1054 Mojave (2016)
1055 Ming of Harlem: Twenty One Storeys in the Air (2016)
1056 Sky Ladder: The Art of Cai Guo-Qiang (2016)
1057 The American Dreamer (2016)
1058 Yarn (2016)
1059 E-League: Counter-Strike: Go Offensive (2016)
1060 Camino (2016)
1061 Star Wars Ep. VII: The Force Awakens (2015)
1062 Jurassic World (2015)
1063 Furious 7 (2015)
1064 Avengers: Age of Ultron (2015)
1065 Minions (2015)
1066 Spectre (2015)
1067 Inside Out (2015)
1068 Mission: Impossible—Rogue Nation (2015)
1069 The Martian (2015)
1070 The Hunger Games: Mockingjay - Part 2 (2015)
1071 Fifty Shades of Grey (2015)
1072 Cinderella (2015)
1073 The Revenant (2015)
1074 Ant-Man (2015)
1075 Hotel Transylvania 2 (2015)
1076 San Andreas (2015)
1077 Terminator: Genisys (2015)
1078 Kingsman: The Secret Service (2015)
1079 Home (2015)
1080 Mad Max: Fury Road (2015)
1081 The Good Dinosaur (2015)
1082 The SpongeBob Movie: Sponge Out of Water (2015)
1083 Maze Runner: The Scorch Trials (2015)
1084 The Divergent Series: Insurgent (2015)
1085 Pitch Perfect 2 (2015)
1086 The Peanuts Movie (2015)
1087 Alvin and the Chipmunks: The Road Chip (2015)
1088 Pixels (2015)
1089 Daddy’s Home (2015)
1090 Spy! (2015)
1091 Everest (2015)
1092 Ted 2 (2015)
1093 Tomorrowland (2015)
1094 Straight Outta Compton (2015)
1095 The Intern (2015)
1096 Jupiter Ascending (2015)
1097 Creed (2015)
1098 Fantastic Four (2015)
1099 Bridge of Spies (2015)
1100 Focus (2015)
1101 Goosebumps (2015)
1102 Pan (2015)
1103 The Hateful Eight (2015)
1104 Trainwreck (2015)
1105 The Big Short (2015)
1106 The Last Witch Hunter (2015)
1107 Point Break (2015)
1108 Magic Mike XXL (2015)
1109 Insidious Chapter 3 (2015)
1110 Seventh Son (2015)
1111 Paul Blart: Mall Cop 2 (2015)
1112 Get Hard (2015)
1113 Sisters (2015)
1114 The Man From U.N.C.L.E. (2015)
1115 Chappie (2015)
1116 Joy (2015)
1117 Vacation (2015)
1118 Black Mass (2015)
1119 The Visit (2015)
1120 Poltergeist (2015)
1121 Southpaw (2015)
1122 Spotlight (2015)
1123 In the Heart of the Sea (2015)
1124 The Second Best Exotic Marigold Hotel (2015)
1125 Paper Towns (2015)
1126 Sicario (2015)
1127 Hitman: Agent 47 (2015)
1128 The Wedding Ringer (2015)
1129 Paranormal Activity: The Ghost Dimension (2015)
1130 Crimson Peak (2015)
1131 War Room (2015)
1132 The Age of Adaline (2015)
1133 Run All Night (2015)
1134 The Danish Girl (2015)
1135 Dao shi xia shan (2015)
1136 Zhong Kui fu mo: Xue yao mo ling (2015)
1137 The Longest Ride (2015)
1138 Unfriended (2015)
1139 Krampus (2015)
1140 The Walk (2015)
1141 The Perfect Guy (2015)
1142 The Gift (2015)
1143 Woman in Gold (2015)
1144 Sinister 2 (2015)
1145 The Boy Next Door (2015)
1146 The Night Before (2015)
1147 Concussion (2015)
1148 Entourage (2015)
1149 McFarland, USA (2015)
1150 Hot Pursuit (2015)
1151 Max (2015)
1152 The DUFF (2015)
1153 Carol (2015)
1154 No Escape (2015)
1155 Love the Coopers (2015)
1156 The Gallows (2015)
1157 Still Alice (2015)
1158 The Lady in the Van (2015)
1159 Ricki and the Flash (2015)
1160 Ex Machina (2015)

1161 Criminal (2015)
1162 Room (2015)
1163 Steve Jobs (2015)
1164 The Lazarus Effect (2015)
1165 A Walk in the Woods (2015)
1166 Snowden (2015)
1167 Self/Less (2015)
1168 The Woman in Black 2: Angel of Death (2015)
1169 Victor Frankenstein (2015)
1170 Project Almanac (2015)
1171 Burnt (2015)
1172 Secret in Their Eyes (2015)
1173 Mortdecai (2015)
1174 American Ultra (2015)
1175 Far from the Madding Crowd (2015)
1176 Mr. Holmes (2015)
1177 The 33 (2015)
1178 Irrational Man (2015)
1179 Aloha (2015)
1180 It Follows (2015)
1181 Solace (2015)
1182 Black or White (2015)
1183 Blackhat (2015)
1184 Dope (2015)
1185 Little Boy (2015)
1186 Monkey Kingdom (2015)
1187 Scouts Guide to the Zombie Apocalypse (2015)
1188 The Vatican Tapes (2015)
1189 Love & Mercy (2015)
1190 Woodlawn (2015)
1191 Do You Believe? (2015)
1192 The Gunman (2015)
1193 While We're Young (2015)
1194 Strange Magic (2015)
1195 Macbeth (2015)
1196 The Green Inferno (2015)
1197 Unfinished Business (2015)
1198 Hot Tub Time Machine 2 (2015)
1199 Trumbo (2015)
1200 We Are Your Friends (2015)
1201 Me and Earl and the Dying Girl (2015)
1202 Our Brand is Crisis (2015)
1203 Grandma (2015)
1204 Danny Collins (2015)
1205 I'll See You in My Dreams (2015)
1206 Only You (2015)
1207 Absolutely Anything (2015)
1208 L'hermine (2015)
1209 Knock Knock (2015)
1210 Learning to Drive (2015)
1211 The Loft (2015)
1212 True Story (2015)
1213 Truth (2015)
1214 The Boy (2015)
1215 Fathers and Daughters (2015)
1216 She's Funny That Way (2015)
1217 90 Minutes in Heaven (2015)
1218 Demonic (2015)
1219 He Named Me Malala (2015)
1220 Mistress America (2015)
1221 The Blinky Bill Movie (2015)
1222 Dark Places (2015)
1223 Jane Got a Gun (2015)
1224 Boychoir (2015)
1225 By the Sea (2015)
1226 Spare Parts (2015)
1227 Pawn Sacrifice (2015)
1228 Ladrones (2015)
1229 Child 44 (2015)
1230 Rock the Kasbah (2015)
1231 Heist (2015)
1232 The End of the Tour (2015)
1233 Tracers (2015)
1234 Captive (2015)
1235 Barbie in Rock'n Royals (2015)
1236 Chi-raq (2015)
1237 2015 Oscar Shorts (2015)
1238 5 Flights Up (2015)
1239 Jem and the Holograms (2015)
1240 Sleeping with Other People (2015)
1241 Extinction (2015)
1242 Meru (2015)
1243 The Diary of a Teenage Girl (2015)
1244 My All-American (2015)
1245 Pay the Ghost (2015)
1246 Roger Waters the Wall (2015)
1247 Clown (2015)
1248 Cake (2015)
1249 Last Knights (2015)
1250 Kurt Cobain: Montage Of Heck (2015)
1251 Infinitely Polar Bear (2015)
1252 Old Fashioned (2015)
1253 The Benefactor (2015)
1254 99 Homes (2015)
1255 Game of Thrones: The IMAX Experience (2015)
1256 Freeheld (2015)
1257 Meet the Patels (2015)
1258 The Letters (2015)
1259 The Wolfpack (2015)
1260 Black Sea (2015)
1261 Barbie in Princess Power (2015)
1262 The Met: Live in HD - Tannhauser (2015)
1263 Queen of the Desert (2015)
1264 Iris (2015)
1265 The Cokeville Miracle (2015)
1266 Beyond the Mask (2015)
1267 The Cobbler (2015)
1268 Open Season Scared Silly (2015)
1269 Where Hope Grows (2015)
1270 The Overnight (2015)
1271 Knight of Cups (2015)
1272 Big Stone Gap (2015)
1273 Faith of Our Fathers (2015)
1274 Seymour: An Introduction (2015)
1275 Peggy Guggenheim: Art Addict (2015)
1276 Wild Card (2015)
1277 Tangerine (2015)
1278 Best of Enemies (2015)
1279 Visions (2015)
1280 Playing It Cool (2015)
1281 The Wrecking Crew (2015)
1282 Manglehorn (2015)
1283 Survivor (2015)
1284 The D Train (2015)
1285 Kumiko, The Treasure Hunter (2015)
1286 Othello - RSC Live (2015)
1287 National Theatre Live: Man and Superman (2015)
1288 Cartel Land (2015)
1289 Once I Was a Beehive (2015)
1290 Maps to the Stars (2015)
1291 Red Army (2015)
1292 Madame Bovary (2015)
1293 Good Kill (2015)
1294 Janis: Little Girl Blue (2015)
1295 The Stanford Prison Experiment (2015)
1296 Curious George 3: Back to the Jungle (2015)
1297 Hitchcock/Truffaut (2015)
1298 Welcome to Me (2015)
1299 Gallows Hill (2015)
1300 Burying the Ex (2015)
1301 Maggie (2015)
1302 Breaking Through (2015)
1303 Cooties (2015)
1304 Kahlil Gibran's The Prophet (2015)
1305 The Black Panthers: Vanguard of the Revolution (2015)
1306 Met Opera: Il Trovatore (2015)
1307 Listen to Me Marlon (2015)
1308 Barely Lethal (2015)
1309 Deli Man: The Movie (2015)
1310 Steve Jobs: The Man in the Machine (2015)
1311 The Beaux' Stratgem - NT Live (2015)
1312 Before We Go (2015)
1313 Bone Tomahawk (2015)
1314 Brotherly Love (2015)
1315 Some Kind of Beautiful (2015)
1316 Mississippi Grind (2015)
1317 Heart of a Dog (2015)
1318 The Voices (2015)
1319 Song One (2015)
1320 Rosenwald (2015)
1321 Backmask (2015)
1322 Bound to Vengeance (2015)
1323 Unbranded (2015)
1324 The Hunting Ground (2015)
1325 Freetown (2015)
1326 Criminal Activities (2015)
1327 Mediterranea (2015)
1328 Z for Zachariah (2015)
1329 Otello Met Opera 2015 (2015)
1330 Going Clear: Scientology and the Prison of Belief (2015)
1331 Ballet 422 (2015)
1332 Dark Awakening (2015)
1333 David and Goliath (2015)
1334 Time Out of Mind (2015)
1335 Hidden (2015)
1336 Stonewall (2015)
1337 The Man in 3B (2015)
1338 Above and Beyond (2015)
1339 600 Millas (2015)
1340 Queen and Country (2015)
1341 Outcast (2015)
1342 Met Opera: The Merry Widow (2015)
1343 Carter High (2015)
1344 Experimenter (2015)
1345 Tales of Halloween (2015)
1346 Jeremy Scott: The People’s Designer (2015)
1347 Boulevard (2015)
1348 People, Places, Things (2015)
1349 Chocolate City (2015)
1350 Humpback Whales 3D (2015)
1351 The Forger (2015)
1352 My Little Pony Equestria Girls: Friendship Games (2015)
1353 Merchants of Doubt (2015)
1354 5 to 7 (2015)
1355 Lambert & Stamp (2015)
1356 An Honest Liar (2015)
1357 Serena (2015)
1358 Hüddam (2015)
1359 All Things Must Pass (2015)
1360 After the Ball (2015)
1361 Journey to Space 3D (2015)
1362 Contracted 2 (2015)
1363 Hell & Back (2015)
1364 The Rewrite (2015)
1365 The Last Five Years (2015)
1366 Songs My Brothers Taught Me (2015)
1367 Cop Car (2015)
1368 Cut Bank (2015)
1369 Accidental Love (2015)
1370 Building Jerusalem (2015)
1371 Don't Think I've Forgotten: Cambodia's Lost Rock and Roll (2015)
1372 Momentum (2015)
1373 Warren Miller’s No Turning Back (2015)
1374 Queen of Earth (2015)
1375 Met Opera: Cavalleria Rusticana & Pagliacci (2015)
1376 Altergeist (2015)
1377 In Jackson Heights (2015)
1378 Digging for Fire (2015)
1379 Road Hard (2015)
1380 James White (2015)
1381 Do I Sound Gay? (2015)
1382 Memories of the Sword (2015)
1383 Warren Miller's Chasing Shadows (2015)
1384 Adult Beginners (2015)
1385 Results (2015)
1386 Every Secret Thing (2015)
1387 Beyond The Reach (2015)
1388 Met Opera: La Donna del Lago (2015)
1389 Beyond the Brick: A LEGO Brickumentary (2015)
1390 A Ballerina's Tale (2015)
1391 A Poem Is a Naked Person (2015)
1392 Sunshine Superman (2015)
1393 1915 (2015)
1394 Met Opera: Les Contes d’Hoffmann (2015)
1395 Man from Reno (2015)
1396 Return to Sender (2015)
1397 Christmas Eve (2015)
1398 May in the Summer (2015)
1399 Beasts of No Nation (2015)
1400 Met Opera: Iolanta & Duke Bluebeard's Castle (2015)
1401 Tab Hunter Confidential (2015)
1402 Pandas: The Journey Home (2015)
1403 Steve McQueen: The Man & Le Mans (2015)
1404 Heaven Knows What (2015)
1405 Nasty Baby (2015)
1406 Trace Amounts (2015)
1407 I Spit on Your Grave 3 (2015)
1408 Blackbird (2015)
1409 I Am Big Bird: The Caroll Spinney Story (2015)
1410 Batkid Begins (2015)
1411 The Seven Five (2015)
1412 Superfast! (2015)
1413 Freaks of Nature (2015)
1414 Marie's Story (2015)
1415 The Keeping Room (2015)
1416 Ashby (2015)
1417 Drunk Stoned Brilliant Dead The Story of the National Lampoon (2015)
1418 Met Opera: Die Meistersinger von Nurnberg (2015)
1419 Harbinger Down (2015)
1420 I Smile Back (2015)
1421 Jauja (2015)
1422 Difret (2015)
1423 Brian Wilson: I Just Wasn't Made for These Times (2015)
1424 Entertainment (2015)
1425 War Pigs (2015)
1426 Love Thy Nature (2015)
1427 Aloft (2015)
1428 The Quay Brothers in 35MM (2015)
1429 The Dog Who Saved Summer (2015)
1430 Spring (2015)
1431 Red Herring (2015)
1432 Gnome Alone (2015)
1433 Appropriate Behavior (2015)
1434 Alien Outpost (2015)
1435 Lost River (2015)
1436 River of Fundament (2015)
1437 Mavis! (2015)
1438 Russell Madness (2015)
1439 Anguish (2015)
1440 Fabergé: A Life Of Its Own (2015)
1441 Unity (2015)
1442 The Search for General Tso (2015)
1443 Nowitzki: The Perfect Shot (2015)
1444 The Opposite Sex (2015)

1445 Prophet’s Prey (2015)
1446 Hungry Hearts (2015)
1447 Lila & Eve (2015)
1448 Welcome to Leith (2015)
1449 Finders Keepers (2015)
1450 Speak No Evil (2015)
1451 Black November (2015)
1452 Amira & Sam (2015)
1453 Don Verdean (2015)
1454 The Winding Stream (2015)
1455 The Nightmare (2015)
1456 Match (2015)
1457 Runoff (2015)
1458 Paul Taylor Creative Domain (2015)
1459 3 and 1/2 Minutes (2015)
1460 Americons (2015)
1461 Look At Us Now, Mother! (2015)
1462 Like Sunday, Like Rain (2015)
1463 7 Chinese Brothers (2015)
1464 Sembene! (2015)
1465 Tap World (2015)
1466 Peace Officer (2015)
1467 Preggoland (2015)
1468 Out of the Dark (2015)
1469 Backstreet Boys: Show 'Em What You're Made Of (2015)
1470 Kill Me Three Times (2015)
1471 The Diabolical (2015)
1472 Slow Learners (2015)
1473 Can't Stand Losing You: Surviving the Police (2015)
1474 Animals (2015)
1475 Boy Meets Girl (2015)
1476 Friends and Romans (2015)
1477 The Runner (2015)
1478 Misery Loves Comedy (2015)
1479 This Changes Everything (2015)
1480 The Challenger (2015)
1481 The Human Centipede 3 (Final Sequence) (2015)
1482 El Ardor (2015)
1483 The Other One (2015)
1484 Butterfly Girl (2015)
1485 A Reason (2015)
1486 Hits (2015)
1487 Cheatin' (2015)
1488 Far Too Far (2015)
1489 Zombeavers (2015)
1490 10 Days in a Madhouse (2015)
1491 Gone Doggy Gone (2015)
1492 Buzzard (2015)
1493 The Drop Box (2015)
1494 Just Jim (2015)
1495 Survivor (2015)
1496 The Armor Of Light (2015)
1497 The Squeeze (2015)
1498 Emptying The Skies (2015)
1499 Just Before I Go (2015)
1500 Mala Mala (2015)
1501 Station to Station (2015)
1502 The Forecaster (2015)
1503 The Life and Mind of Mark DeFriest (2015)
1504 Wild Canaries (2015)
1505 One Cut, One Life (2015)
1506 Medeas (2015)
1507 B-Side (2015)
1508 Dawn of the Crescent Moon (2015)
1509 Little Accidents (2015)
1510 Meet Me in Montenegro (2015)
1511 Farewell to Hollywood (2015)
1512 Wa-shoku: Beyond Sushi (2015)
1513 Counting (2015)
1514 The Girl in the Book (2015)
1515 Vendetta (2015)
1516 Straight Outta Tompkins (2015)
1517 Living in the Age of Airplanes (2015)
1518 One Small Hitch (2015)
1519 Area 51 (2015)
1520 Rubble Kings (2015)
1521 Cast Party - Podcast Festival (2015)
1522 Antarctic Edge: 70º South (2015)
1523 Aaaaaaaah! (2015)
1524 A Murder in the Park (2015)
1525 Dreams Rewired (2015)
1526 Gabriel (2015)
1527 The Sisterhood of Night (2015)
1528 Jenny’s Wedding (2015)
1529 Famous Nathan (2015)
1530 Buttercup Bill (2015)
1531 Orion: The Man Who Would Be King (2015)
1532 Sex, Death and Bowling (2015)
1533 Top Spin (2015)
1534 Shout Gladi Gladi (2015)
1535 This Isn't Funny (2015)
1536 The Living (2015)
1537 Fresh Dressed (2015)
1538 She's Lost Control (2015)
1539 The True Cost (2015)
1540 Hitting the Apex (2015)
1541 Death Valley (2015)
1542 SBK The-Movie (2015)
1543 Miss Hill: Making Dance Matter (2015)
1544 Seeds of Time (2015)
1545 La navaja de Don Juan (2015)
1546 Unfreedom (2015)
1547 Julia (2015)
1548 Broken Horses (2015)
1549 Blackhats (2015)
1550 The Forgotten Kingdom (2015)
1551 Know How (2015)
1552 Drunk Wedding (2015)
1553 Windsor Drive (2015)
1554 Allure (2015)
1555 Body (2015)
1556 Hayride 2 (2015)
1557 Drake's Homecoming: The Lost Footage (2015)
1558 Racing Extinction (2015)
1559 L.A. Slasher (2015)
1560 Réalité (2015)
1561 Me, You and Five Bucks (2015)
1562 Everly (2015)
1563 Sneakerheadz (2015)
1564 The Other Man: F.W. de Klerk and the End of Apartheid (2015)
1565 The Looking Glass (2015)
1566 The Russian Woodpecker (2015)
1567 Forever (2015)
1568 Brand: A Second Coming (2015)
1569 Making Rounds (2015)
1570 Vice (2015)
1571 Brahmin Bulls (2015)
1572 Esports in Cinemas: All Work All Play (2015)
1573 3 Nights in the Desert (2015)
1574 Skin Trade (2015)
1575 Childless (2015)
1576 My Accomplice (2015)
1577 Alex of Venice (2015)
1578 The Wannabe (2015)
1579 The Invoking 2 (2015)
1580 Against the Sun (2015)
1581 American Hero (2015)
1582 Addicted to Fresno (2015)

In [478]:
len(list(movies.find()))

1583

In [477]:
len(list(movies_clean.find()))

1583

In [493]:
df = pd.DataFrame(list(movies_clean.find()))
df.head()

,_id,data,title
0,5af4ae197cfdd30e191994b0,"{'All Time Domestic Box Office': '$620,181,382...",Star Wars Ep. VIII: The Last Jedi (2017)
1,5af4ae197cfdd30e191994b1,"{'All Time Domestic Box Office': '$504,014,165...",Beauty and the Beast (2017)
2,5af4ae197cfdd30e191994b2,{'All Time Domestic Box Office (Rank 101-200)'...,The Fate of the Furious (2017)
3,5af4ae197cfdd30e191994b3,"{'All Time Domestic Box Office': '$264,624,300...",Despicable Me 3 (2017)
4,5af4ae1a7cfdd30e191994b4,"{'All Time Domestic Box Office': '$404,353,892...",Jumanji: Welcome to the Jungle (2017)

In [501]:
df2 = pd.DataFrame(list(df['data']))

In [534]:
df2.columns[750:850]

Index(['All Time Worldwide Box Office (Rank 8,401-8,500)',
       'All Time Worldwide Box Office (Rank 8,501-8,600)',
       'All Time Worldwide Box Office (Rank 8,601-8,700)',
       'All Time Worldwide Box Office (Rank 8,701-8,800)',
       'All Time Worldwide Box Office (Rank 8,801-8,900)',
       'All Time Worldwide Box Office (Rank 8,901-9,000)',
       'All Time Worldwide Box Office (Rank 801-900)',
       'All Time Worldwide Box Office (Rank 9,001-9,100)',
       'All Time Worldwide Box Office (Rank 9,101-9,200)',
       'All Time Worldwide Box Office (Rank 9,201-9,300)',
       'All Time Worldwide Box Office (Rank 9,301-9,400)',
       'All Time Worldwide Box Office (Rank 9,401-9,500)',
       'All Time Worldwide Box Office (Rank 9,501-9,600)',
       'All Time Worldwide Box Office (Rank 9,601-9,700)',
       'All Time Worldwide Box Office (Rank 9,701-9,800)',
       'All Time Worldwide Box Office (Rank 9,801-9,900)',
       'All Time Worldwide Box Office (Rank 9,901-10,000)',
       'All Time Worldwide Box Office (Rank 901-1,000)',
       'All Time Worldwide Box Office for Comedy Movies',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,001-1,100)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,101-1,200)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,201-1,300)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,301-1,400)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,401-1,500)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,501-1,600)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,601-1,700)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,701-1,800)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,801-1,900)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 1,901-2,000)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 101-200)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,001-2,100)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,101-2,200)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,201-2,300)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,301-2,400)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,401-2,500)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,501-2,600)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,601-2,700)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,701-2,800)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,801-2,900)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 2,901-3,000)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 201-300)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 3,001-3,100)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 3,101-3,200)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 3,201-3,300)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 3,301-3,400)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 3,401-3,500)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 301-400)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 401-500)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 501-600)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 601-700)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 701-800)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 801-900)',
       'All Time Worldwide Box Office for Comedy Movies (Rank 901-1,000)',
       'All Time Worldwide Box Office for Digital Animation Movies',
       'All Time Worldwide Box Office for Digital Animation Movies (Rank 101-200)',
       'All Time Worldwide Box Office for Digital Animation Movies (Rank 201-300)',
       'All Time Worldwide Box Office for Digital Animation Movies (Rank 301-400)',
       'All Time Worldwide Box Office for Digital Animation Movies (Rank 401-500)',
       'All Time Worldwide Box Office for Digital Animation Movies (Rank 501-600)',
       'All Time Worldwide Box Office for R Movies',
       'All Time Worldwide Box Office for R Movies (Rank 1,001-1,100)',
       'All Time Worldwide Box Office for R Movies (Rank 1,101-1,200)',
       'All Time Worldwide Box Office for R Movies (Rank 1,201-1,300)',
       'All Time Worldwide Box Office for R Movies (Rank 1,301-1,400)',
       'All Time Worldwide Box Office for R Movies (Rank 1,401-1,500)',
       'All Time Worldwide Box Office for R Movies (Rank 1,501-1,600)',
       'All Time Worldwide Box Office for R Movies (Rank 1,601-1,700)',
       'All Time Worldwide Box Office for R Movies (Rank 1,701-1,800)',
       'All Time Worldwide Box Office for R Movies (Rank 1,801-1,900)',
       'All Time Worldwide Box Office for R Movies (Rank 1,901-2,000)',
       'All Time Worldwide Box Office for R Movies (Rank 101-200)',
       'All Time Worldwide Box Office for R Movies (Rank 2,001-2,100)',
       'All Time Worldwide Box Office for R Movies (Rank 2,101-2,200)',
       'All Time Worldwide Box Office for R Movies (Rank 2,201-2,300)',
       'All Time Worldwide Box Office for R Movies (Rank 2,301-2,400)',
       'All Time Worldwide Box Office for R Movies (Rank 2,401-2,500)',
       'All Time Worldwide Box Office for R Movies (Rank 2,501-2,600)',
       'All Time Worldwide Box Office for R Movies (Rank 2,601-2,700)',
       'All Time Worldwide Box Office for R Movies (Rank 2,701-2,800)',
       'All Time Worldwide Box Office for R Movies (Rank 2,801-2,900)',
       'All Time Worldwide Box Office for R Movies (Rank 2,901-3,000)',
       'All Time Worldwide Box Office for R Movies (Rank 201-300)',
       'All Time Worldwide Box Office for R Movies (Rank 3,001-3,100)',
       'All Time Worldwide Box Office for R Movies (Rank 3,101-3,200)',
       'All Time Worldwide Box Office for R Movies (Rank 3,201-3,300)',
       'All Time Worldwide Box Office for R Movies (Rank 3,301-3,400)',
       'All Time Worldwide Box Office for R Movies (Rank 3,401-3,500)',
       'All Time Worldwide Box Office for R Movies (Rank 3,501-3,600)',
       'All Time Worldwide Box Office for R Movies (Rank 3,601-3,700)',
       'All Time Worldwide Box Office for R Movies (Rank 3,701-3,800)',
       'All Time Worldwide Box Office for R Movies (Rank 3,801-3,900)',
       'All Time Worldwide Box Office for R Movies (Rank 3,901-4,000)',
       'All Time Worldwide Box Office for R Movies (Rank 301-400)',
       'All Time Worldwide Box Office for R Movies (Rank 4,001-4,100)',
       'All Time Worldwide Box Office for R Movies (Rank 4,101-4,200)',
       'All Time Worldwide Box Office for R Movies (Rank 4,201-4,300)',
       'All Time Worldwide Box Office for R Movies (Rank 4,301-4,400)',
       'All Time Worldwide Box Office for R Movies (Rank 4,401-4,500)',
       'All Time Worldwide Box Office for R Movies (Rank 4,501-4,600)',
       'All Time Worldwide Box Office for R Movies (Rank 4,601-4,700)'],
      dtype='object')

In [535]:
df3 = df2.iloc[:, 557:600]
df3

,All Time Worldwide Box Office,"All Time Worldwide Box Office (Rank 1,001-1,100)","All Time Worldwide Box Office (Rank 1,101-1,200)","All Time Worldwide Box Office (Rank 1,201-1,300)","All Time Worldwide Box Office (Rank 1,301-1,400)","All Time Worldwide Box Office (Rank 1,401-1,500)","All Time Worldwide Box Office (Rank 1,501-1,600)","All Time Worldwide Box Office (Rank 1,601-1,700)","All Time Worldwide Box Office (Rank 1,701-1,800)","All Time Worldwide Box Office (Rank 1,801-1,900)",...,"All Time Worldwide Box Office (Rank 12,101-12,200)","All Time Worldwide Box Office (Rank 12,201-12,300)","All Time Worldwide Box Office (Rank 12,301-12,400)","All Time Worldwide Box Office (Rank 12,401-12,500)","All Time Worldwide Box Office (Rank 12,501-12,600)","All Time Worldwide Box Office (Rank 12,601-12,700)","All Time Worldwide Box Office (Rank 12,701-12,800)","All Time Worldwide Box Office (Rank 12,801-12,900)","All Time Worldwide Box Office (Rank 12,901-13,000)","All Time Worldwide Box Office (Rank 13,001-13,100)"
0,"$1,320,214,241",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"$1,263,109,573",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"$1,237,466,026",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"$1,034,542,646",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"$958,513,171",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"$880,210,429",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"$863,197,744",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"$850,653,412",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"$817,012,815",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"$800,398,408",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"$794,758,876",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [519]:
'All Time Worldwide Box Office' in df2.columns

True

In [ ]:
# details_df.to_json(orient='records')

In [483]:
import sys
sys.getsizeof((movies.find()))

56

In [661]:
%%time
#V2

for i in range(len(list(movies.find()))):
    single_movie_data = {}
    html = movies.find()[i]['html']
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.find('h1', attrs={"itemprop" : "name"}).text


    table = soup.find('table', attrs={'id':'movie_finances'})
    for row in table.select('tr'):
        cols = row.select('td')
        if len(cols) > 1:
            field_name = cols[0].text.replace('.', '')
            field_value = cols[1].text.replace('$', '').replace(',', '')
        single_movie_data[field_name] = field_value

    tables = soup.select('div#summary table')
    for table in tables:
        table_html = str(table)
        if 'Production Countries:' in table_html :
            table_details = table
            break

    for row in table_details.select('tr'):
        cols = row.select('td')
        field_name = cols[0].text.replace(':', '').replace('\xa0', ' ')
        field_value = cols[1].text.replace('$', '').replace(',', '')
        single_movie_data[field_name] = field_value

    tables = soup.find_all('div', attrs={'class':'cast_new'})

    for table in tables:
        table_html = str(table)
        if 'Lead Ensemble' in table_html:
            table_cast = table
        if 'Production and Technical Credits' in table_html :
            table_crew = table
            break

    cast_lst = []
    for row in table_cast.select('tr'):
        cols = row.select('td')
        actor_name= cols[0].text
        cast_lst.append(actor_name)
    single_movie_data['lead_cast'] = cast_lst

    for row in table_crew.select('tr'):
        cols = row.select('td')
        field_name = cols[2].text.replace('.','')
        if field_name in single_movie_data.keys():
            if type(single_movie_data[field_name]) == list:
                field_value = cols[0].text
                single_movie_data[field_name].append(field_value)
            else:
                field_value = cols[0].text
                single_movie_data[field_name] = [single_movie_data[field_name]]
                single_movie_data[field_name].append(field_value)
        else:
            single_movie_data[field_name] = cols[0].text

    movies_clean_v2.insert_one({'title': title,
                            'data': single_movie_data})
    print(i,title)

0 Star Wars Ep. VIII: The Last Jedi (2017)
1 Beauty and the Beast (2017)
2 The Fate of the Furious (2017)
3 Despicable Me 3 (2017)
4 Jumanji: Welcome to the Jungle (2017)
5 Spider-Man: Homecoming (2017)
6 Guardians of the Galaxy Vol 2 (2017)
7 Thor: Ragnarok (2017)
8 Wonder Woman (2017)
9 Coco (2017)
10 Pirates of the Caribbean: Dead Men Tell No Tales (2017)
11 It (2017)
12 Justice League (2017)
13 Logan (2017)
14 Transformers: The Last Knight (2017)
15 Kong: Skull Island (2017)
16 The Boss Baby (2017)
17 Dunkirk (2017)
18 War for the Planet of the Apes (2017)
19 The Greatest Showman (2017)
20 The Mummy (2017)
21 Kingsman: The Golden Circle (2017)
22 Cars 3 (2017)
23 Fifty Shades Darker (2017)
24 Murder on the Orient Express (2017)
25 xXx: Return of Xander Cage (2017)
26 The Lego Batman Movie (2017)
27 Annabelle: Creation (2017)
28 Wonder (2017)
29 Ferdinand (2017)
30 Split (2017)
31 Blade Runner 2049 (2017)
32 Get Out (2017)
33 Alien: Covenant (2017)
34 Baby Driver (2017)
35 Geostorm (2017)
36 The Emoji Movie (2017)
37 A Dog’s Purpose (2017)
38 Smurfs: The Lost Village (2017)
39 The Shape of Water (2017)
40 Pitch Perfect 3 (2017)
41 Baywatch (2017)
42 Daddy’s Home 2 (2017)
43 The Post (2017)
44 The Hitman’s Bodyguard (2017)
45 John Wick: Chapter Two (2017)
46 Ghost in the Shell (2017)
47 Three Billboards Outside Ebbing, Missouri (2017)
48 Power Rangers (2017)
49 Girls Trip (2017)
50 King Arthur: Legend of the Sword (2017)
51 American Made (2017)
52 A Bad Moms Christmas (2017)
53 Happy Death Day (2017)
54 Captain Underpants: The First Epic Movie (2017)
55 The Lego Ninjago Movie (2017)
56 The Dark Tower (2017)
57 Jigsaw (2017)
58 Life (2017)
59 Atomic Blonde (2017)
60 The Shack (2017)
61 Rings (2017)
62 Going in Style (2017)
63 Lady Bird (2017)
64 Victoria and Abdul (2017)
65 How to Be a Latin Lover (2017)
66 The Star (2017)
67 47 Meters Down (2017)
68 Everything, Everything (2017)
69 The Mountain Between Us (2017)
70 American Assassin (2017)
71 The Nut Job 2: Nutty by Nature (2017)
72 Snatched (2017)
73 My Little Pony: The Movie (2017)
74 All the Money in the World (2017)
75 Molly’s Game (2017)
76 The Big Sick (2017)
77 Tyler Perry’s Boo 2! A Madea Halloween (2017)
78 Rough Night (2017)
79 I, Tonya (2017)
80 Phantom Thread (2017)
81 Flatliners (2017)
82 Wind River (2017)
83 mother! (2017)
84 Call Me by Your Name (2017)
85 The Circle (2017)
86 Fist Fight (2017)
87 Logan Lucky (2017)
88 Downsizing (2017)
89 Home Again (2017)
90 Gifted (2017)
91 Diary of a Wimpy Kid: The Long Haul (2017)
92 Kidnap (2017)
93 Hostiles (2017)
94 The House (2017)
95 The Beguiled (2017)
96 Sleepless (2017)
97 The Disaster Artist (2017)
98 The Bye Bye Man (2017)
99 The Zookeeper’s Wife (2017)
100 A Cure for Wellness (2017)
101 Wish Upon (2017)
102 CHiPS (2017)
103 Detroit (2017)
104 Only the Brave (2017)
105 Father Figures (2017)
106 It Comes at Night (2017)
107 What Happened to Monday? (2017)
108 The Case for Christ (2017)
109 Battle of the Sexes (2017)
110 The Glass Castle (2017)
111 The Lost City of Z (2017)
112 Unforgettable (2017)
113 Before I Fall (2017)
114 Woody Woodpecker (2017)
115 Megan Leavey (2017)
116 Roman J. Israel, Esq. (2017)
117 Gold (2017)
118 The Space Between Us (2017)
119 The Belko Experiment (2017)
120 The Promise (2017)
121 Suburbicon (2017)
122 Marshall (2017)
123 Thank You for Your Service (2017)
124 The Florida Project (2017)
125 Paris Can Wait (2017)
126 My Cousin Rachel (2017)
127 Wonder Wheel (2017)
128 A Stork's Journey (2017)
129 I Am Not Your Negro (2017)
130 Beatriz at Dinner (2017)
131 Let There Be Light (2017)
132 Condorito: La Pelicula (2017)
133 Deep (2017)
134 Birth of the Dragon (2017)
135 Just Getting Started (2017)
136 Same Kind of Different as Me (2017)
137 Lowriders (2017)
138 All Saints (2017)
139 The Healer (2017)
140 Norman: The Moderate Rise and Tragic Fall of a New York Fixer (2017)
141 Stronger (2017)
142 You Were Never Really Here (2017)
143 The Killing of a Sacred Deer (2017)
144 Breathe (2017)
145 Table 19 (2017)
146 The Book of Henry (2017)
147 Overdrive (2017)
148 KEDi (2017)
149 The Hero (2017)
150 An Inconvenient Sequel (2017)
151 Sleight (2017)
152 Tulip Fever (2017)
153 Amityville: The Awakening (2017)
154 2:22 (2017)
155 Phoenix Forgotten (2017)
156 Unlocked (2017)
157 Til Death Do Us Part (2017)
158 Film Stars Don’t Die in Liverpool (2017)
159 Mayweather vs. McGregor (2017)
160 Jeepers Creepers 3 (2017)
161 Good Time (2017)
162 Ingrid Goes West (2017)
163 Una mujer fantástica (2017)
164 2017 Oscar Shorts (2017)
165 Shot Caller (2017)
166 Brad’s Status (2017)
167 A Question of Faith (2017)
168 Is Genesis History? (2017)
169 The Dinner (2017)
170 LBJ (2017)
171 The Last Word (2017)
172 The Wall (2017)
173 The Midnight Man (2017)
174 24 Hours to Live (2017)
175 The Resurrection of Gavin Stone (2017)
176 The Lovers (2017)
177 Okja (2017)
178 Brimstone (2017)
179 A Ghost Story (2017)
180 Professor Marston & The Wonder Women (2017)
181 Jane (2017)
182 Menashe (2017)
183 Slamma Jamma (2017)
184 Escape Room (2017)
185 The Comedian (2017)
186 The Little Hours (2017)
187 Inhumans (2017)
188 HHhH (2017)
189 The Stray (2017)
190 Mark Felt: The Man Who Brought Down the White House (2017)
191 Met Opera: Der Rosenkavalier (2017)
192 Patti Cake$ (2017)
193 Final Portrait (2017)
194 Fallen (2017)
195 My Friend Dahmer (2017)
196 Wonderstruck (2017)
197 The Only Living Boy in New York (2017)
198 Met Opera: Norma (2017)
199 Step (2017)
200 2017 Contenido Alternativo Stanley Kubrick (2017)
201 Last Flag Flying (2017)
202 Lucky (2017)
203 Columbus (2017)
204 Song to Song (2017)
205 Landline (2017)
206 Slumber (2017)
207 Leatherface (2017)
208 Spark: A Space Tail (2017)
209 Bu Qi Er Yu (2017)
210 Surf’s Up 2: Wavemania (2017)
211 Tommy’s Honour (2017)
212 Wakefield (2017)
213 Baby, Baby, Baby! (2017)
214 May it Last: A Portrait of the Avett Brothers (2017)
215 Escape From New York (2017)
216 Wilson (2017)
217 Rodin (2017)
218 Rebel in the Rye (2017)
219 Brigsby Bear (2017)
220 Milada (2017)
221 The Black Prince (2017)
222 The Secret Scripture (2017)
223 Renegades (2017)
224 Met Opera: Nabucco (2017)
225 Inside (2017)
226 Novitiate (2017)
227 Beyond Skyline (2017)
228 Pearl Jam: Let’s Play Two (2017)
229 Dolores (2017)
230 6 Below: Miracle on the Mountain (2017)
231 Beach Rats (2017)
232 Letters from Baghdad (2017)
233 Met Opera: Eugene Onegin (2017)
234 Tom of Finland (2017)
235 Met Opera: La Traviata (2017)
236 Una (2017)
237 Love, Kennedy (2017)
238 Chasing Trane: The John Coltrane Documentary (2017)
239 The Babysitter (2017)
240 Bedeviled (2017)
241 The Ottoman Lieutenant (2017)
242 Sofia the First: The Mystic Isles (2017)
243 Chuck (2017)
244 Long Strange Trip: The Untold Story of the Grateful Dead (2017)
245 Citizen Jane: Battle for the City (2017)
246 Black Butterfly (2017)
247 Met Opera: Rusalka (2017)
248 Fishtales (2017)
249 Met Opera: Die Zauberflote (2017)
250 Eloise (2017)
251 Met Opera 2017: Romeo et Juliette (2017)
252 Obit (2017)
253 The Breadwinner (2017)
254 The Last Face (2017)
255 Don’t Hang Up (2017)
256 Met Opera: Idomeneo (2017)
257 Elena and the Secret of Avalor (2017)
258 Security (2017)
259 David Lynch: The Art Life (2017)
260 All I See is You (2017)
261 I Do…Until I Don’t (2017)
262 Aftermath (2017)
263 Once Upon a Time in Venice (2017)
264 Dean (2017)
265 Gook (2017)
266 Band Aid (2017)
267 Crown Heights (2017)
268 Jeremiah Tower: The Last Magnificent (2017)
269 American Satan (2017)
270 Marjorie Prime (2017)
271 Risk (2017)
272 Chavela (2017)
273 In Dubious Battle (2017)
274 Tell Me How I Die (2017)
275 Escape Room (2017)
276 We Bare Bears (2017)
277 City of Ghosts (2017)
278 California Typewriter (2017)
279 Disney’s Newsies: The Broadway Musical (2017)
280 Take Every Wave: The Life of Laird Hamilton (2017)
281 9/11 (2017)
282 Better Watch Out (2017)
283 Whose Streets? (2017)
284 The Bad Batch (2017)
285 Ghost House (2017)
286 Champion (2017)
287 Blue (2017)
288 Met Opera: The Exterminating Angel (2017)
289 No Stone Unturned (2017)
290 Keep The Change (2017)
291 Valley of Bones (2017)
292 The Assignment (2017)
293 Walking Out (2017)
294 Big Sonia (2017)
295 Buena Vista Social Club—Adios (2017)
296 Palace of the Damned (2017)
297 Ex Libris: The New York Public Library (2017)
298 The Vault (2017)

299 Restless Creature: Wendy Whelan (2017)
300 The Last Dalai Lama? (2017)
301 Adventure Time with Finn and Jake Islands (2017)
302 The Stoic (2017)
303 Hare Krishna! The Mantra, The Movement and the Swami Who Started it all (2017)
304 Dawson City: Frozen Time (2017)
305 The B-Side (2017)
306 Memento (2017)
307 We Love You, Sally Carmichael (2017)
308 Abacus: Small Enough to Jail (2017)
309 Warren Miller's Here, There & Everywhere (2017)
310 Newness (2017)
311 The Bachelors (2017)
312 Bullet Head (2017)
313 Aida’s Secrets (2017)
314 Tragedy Girls (2017)
315 Tim Timmerman: Hope of America (2017)
316 I Called Him Morgan (2017)
317 Dina (2017)
318 Double Play (2017)
319 Keep Watching (2017)
320 Because of Grácia (2017)
321 Chapter & Verse (2017)
322 Score: A Film Music Documentary (2017)
323 Bill Nye: Science Guy (2017)
324 First Kill (2017)
325 Wait For Your Laugh (2017)
326 Te Ata (2017)
327 Buster’s Mal Heart (2017)
328 Max 2: White House Hero (2017)
329 Turn it Around: The Story of East Bay Punk (2017)
330 Rememory (2017)
331 My Entire High School Sinking Into the Sea (2017)
332 Porto (2017)
333 Alive and Kicking (2017)
334 Architects of Denial (2017)
335 The Tiger Hunter (2017)
336 A Ciambra (2017)
337 Donald Cried (2017)
338 Bang! The Bert Berns Story (2017)
339 The Force (2017)
340 The Gracefield Incident (2017)
341 La Chana (2017)
342 METALLICA Quebec Magnetic (2017)
343 Mudbound (2017)
344 Quest (2017)
345 Unrest (2017)
346 Person to Person (2017)
347 Bending the Arc (2017)
348 Saving Banksy (2017)
349 78/52: Hitchcocks Shower Scene (2017)
350 So B. It (2017)
351 The Hunter’s Prayer (2017)
352 That’s Not Me (2017)
353 Woodshock (2017)
354 Hermia & Helena (2017)
355 XX (2017)
356 Heartbeats (2017)
357 Voice From the Stone (2017)
358 Havenhurst (2017)
359 Batman and Harley Quinn (2017)
360 A Woman, A Part (2017)
361 Growing up Smith (2017)
362 Rat Film (2017)
363 Sophie and the Rising Sun (2017)
364 All Nighter (2017)
365 Love & Taxes (2017)
366 Super Dark Times (2017)
367 Mickey And The Roadster Racers (2017)
368 Brimstone & Glory (2017)
369 Sidemen: Long Road to Glory (2017)
370 7 Witches (2017)
371 No Greater Love (2017)
372 Dealt (2017)
373 Swan Princess: Royally Undercover (2017)
374 Black And White Stripes: The Juventus Story (2017)
375 The Shadow Effect (2017)
376 Uncertain (2017)
377 Lemon (2017)
378 The Transfiguration (2017)
379 Radio Dreams (2017)
380 30 Years of Garbage: The Garbage Pail Kids Story (2017)
381 Carrie Pilby (2017)
382 Ribbons (2017)
383 Wasted! The Story of Food Waste (2017)
384 Papillon (2017)
385 The Lucky Man (2017)
386 Fun Mom Dinner (2017)
387 The Departure (2017)
388 Jasmine (2017)
389 The Outcasts (2017)
390 Dead Awake (2017)
391 Simple Creature (2017)
392 Kill Switch (2017)
393 For Ahkeem (2017)
394 Finding Oscar (2017)
395 Grace of Jake (2017)
396 Trophy (2017)
397 Paradise Club (2017)
398 Le divan de Staline (2017)
399 Massacre on Aisle 12 (2017)
400 A Beginner’s Guide to Snuff (2017)
401 Man Underground (2017)
402 Paradise (2017)
403 The Pirates Of Somalia (2017)
404 The Work (2017)
405 The Blackcoat’s Daughter (2017)
406 Burden (2017)
407 Lazer Team 2 (2017)
408 Brain on Fire (2017)
409 The Man From Outer Space (2017)
410 Bobbi Jene (2017)
411 Stake Land 2 (2017)
412 All the Rage (Saved by Sarno) (2017)
413 In Memorium (2017)
414 Shot! The Psycho-Spiritual Mantra of Rock (2017)
415 Mansfield 66/67 (2017)
416 The Last Shaman (2017)
417 Sweet Virginia (2017)
418 Bad Grandmas (2017)
419 Food Evolution (2017)
420 Mission Control: The Unsung Heroes of Apollo (2017)
421 Basmati Blues (2017)
422 Contemporary Color (2017)
423 The Institute (2017)
424 Rebels on Pointe (2017)
425 Vince Giordano: There’s a Future in the Past (2017)
426 Bethany (2017)
427 Brave New Jersey (2017)
428 Shadowman (2017)
429 Trafficked (2017)
430 Intent to Destroy: Death, Denial & Depiction (2017)
431 Ira (2017)
432 Permanent (2017)
433 Junction 48 (2017)
434 Heal (2017)
435 All This Panic (2017)
436 Lovesong (2017)
437 Clarence (2017)
438 Within (2017)
439 Painted Woman (2017)
440 The Sunshine Makers (2017)
441 Blood Feast (2017)
442 Julian Schnabel: A Private Portrait (2017)
443 Suspiria (2017)
444 Extortion (2017)
445 Mr. Chibbs (2017)
446 Served Like a Girl (2017)
447 From Nowhere (2017)
448 The Ballad of Lefty Brown (2017)
449 The Wrong Light (2017)
450 Birthright: A War Story (2017)
451 Frank Serpico (2017)
452 Empatía (2017)
453 Brawl in Cell Block 99 (2017)
454 The Jazz Funeral (2017)
455 Most Beautiful Island (2017)
456 The Pathological Optimist (2017)
457 The Sweet Life (2017)
458 Last Rampage (2017)
459 The Fuzz (2017)
460 The Freedom to Marry (2017)
461 Arise from Darkness (2017)
462 Icaros: A Vision (2017)
463 Company Town (2017)
464 Destination Unknown (2017)
465 Shot (2017)
466 Night School (2017)
467 I Love You Both (2017)
468 The Tribes of Palos Verdes (2017)
469 A Boy Called Po (2017)
470 Vengeance: A Love Story (2017)
471 The Pulitzer at 100 (2017)
472 Wolves at the Door (2017)
473 My Father, Die (2017)
474 Badsville (2017)
475 Mirror Game: Ab Khel Shuru (2017)
476 Swim Team (2017)
477 I Am Michael (2017)
478 Blood Money (2017)
479 Avicii: True Stories (2017)
480 Armed Response (2017)
481 Emily (2017)
482 Who’s Crazy (2017)
483 Inversion (2017)
484 Money (2017)
485 Santoalla (2017)
486 Catfight (2017)
487 Take Me (2017)
488 Miles (2017)
489 Strangers on a Train (2017)
490 Thrill Ride (2017)
491 Wetlands (2017)
492 Dayveon (2017)
493 Accidental Courtesy: Daryl Davis, Race & America (2017)
494 The Reagan Show (2017)
495 Starship Troopers: Traitor of Mars (2017)
496 Revolutions (2017)
497 A Different American Dream (2017)
498 The Penguin Counters (2017)
499 Extraordinary Ordinary People (2017)
500 Bitch (2017)
501 Love, Sweat & Tears (2017)
502 The Helsings (2017)
503 Running Wild (2017)
504 The Magic Pill (2017)
505 Dark Night (2017)
506 L.A. ‘92 (2017)
507 Bastard (2017)
508 Una Funcion Para Olvidar (2017)
509 Bushwick (2017)
510 Captain America: Civil War (2016)
511 Rogue One: A Star Wars Story (2016)
512 Finding Dory (2016)
513 Zootopia (2016)
514 The Jungle Book (2016)
515 The Secret Life of Pets (2016)
516 Batman v Superman: Dawn of Justice (2016)
517 Fantastic Beasts and Where to Find Them (2016)
518 Deadpool (2016)
519 Suicide Squad (2016)
520 Doctor Strange (2016)
521 Moana (2016)
522 Sing (2016)
523 X-Men: Apocalypse (2016)
524 Kung Fu Panda 3 (2016)
525 Warcraft (2016)
526 La La Land (2016)
527 Jason Bourne (2016)
528 Ice Age: Collision Course (2016)
529 Independence Day: Resurgence (2016)
530 The Angry Birds Movie (2016)
531 The Legend of Tarzan (2016)
532 Trolls (2016)
533 Star Trek Beyond (2016)
534 The Great Wall (2016)
535 Now You See Me 2 (2016)
536 The Conjuring 2: The Enfield Poltergeist (2016)
537 Resident Evil: The Final Chapter (2016)
538 Passengers (2016)
539 Miss Peregrine’s Home for Peculiar Children (2016)
540 Alice Through the Looking Glass (2016)
541 Teenage Mutant Ninja Turtles: Out of the Shadows (2016)
542 Assassin’s Creed (2016)
543 Sully (2016)
544 Hidden Figures (2016)
545 Ghostbusters (2016)
546 Inferno (2016)
547 Central Intelligence (2016)
548 Me Before You (2016)
549 Bridget Jones’s Baby (2016)
550 Arrival (2016)
551 The BFG (2016)
552 London Has Fallen (2016)
553 Bad Moms (2016)
554 Storks (2016)
555 The Divergent Series: Allegiant (2016)
556 The Girl on the Train (2016)
557 The Huntsman: Winter’s War (2016)
558 The Magnificent Seven (2016)
559 Jack Reacher: Never Go Back (2016)
560 Don’t Breathe (2016)
561 Hacksaw Ridge (2016)
562 The Accountant (2016)
563 Lights Out (2016)
564 Sausage Party (2016)
565 Pete’s Dragon (2016)
566 Skiptrace (2016)
567 Gods of Egypt (2016)
568 Ride Along 2 (2016)
569 Deepwater Horizon (2016)
570 Allied (2016)
571 The Shallows (2016)
572 The Purge: Election Year (2016)
573 Why Him? (2016)
574 The 5th Wave (2016)
575 Mechanic: Resurrection (2016)
576 Neighbors 2: Sorority Rising (2016)
577 10 Cloverfield Lane (2016)
578 Dirty Grandpa (2016)
579 How to be Single (2016)
580 Money Monster (2016)
581 Ben-Hur (2016)
582 My Big Fat Greek Wedding 2 (2016)
583 Office Christmas Party (2016)
584 Collateral Beauty (2016)
585 War Dogs (2016)
586 Ouija: Origin of Evil (2016)

587 Underworld: Blood Wars (2016)
588 The Boss (2016)
589 Manchester by the Sea (2016)
590 Kubo and the Two Strings (2016)
591 Mike and Dave Need Wedding Dates (2016)
592 Miracles from Heaven (2016)
593 Tyler Perry’s Boo! A Madea Halloween (2016)
594 13 Hours: The Secret Soldiers of Benghazi (2016)
595 The Boy (2016)
596 Moonlight (2016)
597 Fences (2016)
598 Hail, Caesar! (2016)
599 Monster Trucks (2016)
600 Nerve (2016)
601 The Nice Guys (2016)
602 Florence Foster Jenkins (2016)
603 Zoolander 2 (2016)
604 All Eyez on Me (2016)
605 Barbershop: The Next Cut (2016)
606 Patriots Day (2016)
607 Mother’s Day (2016)
608 The Finest Hours (2016)
609 A Monster Calls (2016)
610 Risen (2016)
611 Eddie the Eagle (2016)
612 Café Society (2016)
613 Almost Christmas (2016)
614 The Forest (2016)
615 The Witch (2016)
616 Crouching Tiger, Hidden Dragon: Sword of Destiny (2016)
617 Hell or High Water (2016)
618 Blair Witch (2016)
619 Nocturnal Animals (2016)
620 Masterminds (2016)
621 When the Bough Breaks (2016)
622 Keeping Up with the Joneses (2016)
623 Norm of the North (2016)
624 Jackie (2016)
625 Triple 9 (2016)
626 Billy Lynn’s Long Halftime Walk (2016)
627 Whiskey Tango Foxtrot (2016)
628 Born in China (2016)
629 Kevin Hart: What Now? (2016)
630 God’s Not Dead 2 (2016)
631 No Manches Frida (2016)
632 The Choice (2016)
633 Middle School: The Worst Years of My Life (2016)
634 Bad Santa 2 (2016)
635 Free State of Jones (2016)
636 Live by Night (2016)
637 Captain Fantastic (2016)
638 Rock Dog (2016)
639 Fifty Shades of Black (2016)
640 Keanu (2016)
641 The Light Between Oceans (2016)
642 The Edge of Seventeen (2016)
643 The Infiltrator (2016)
644 The Founder (2016)
645 The Birth of a Nation (2016)
646 Pride and Prejudice and Zombies (2016)
647 Silence (2016)
648 Hello, My Name is Doris (2016)
649 Hardcore Henry (2016)
650 Hillary’s America: The Secret History of the Democratic Party (2016)
651 Loving (2016)
652 A Hologram for the King (2016)
653 Ratchet and Clank (2016)
654 Shut In (2016)
655 The Darkness (2016)
656 Paterson (2016)
657 The Beatles: Eight Days a Week (2016)
658 The Perfect Match (2016)
659 Popstar: Never Stop Never Stopping (2016)
660 Queen of Katwe (2016)
661 Meet the Blacks (2016)
662 Bastille Day (2016)
663 A Beautiful Planet (2016)
664 Midnight Special (2016)
665 Compadres (2016)
666 The Young Messiah (2016)
667 Morgan (2016)
668 Maggie’s Plan (2016)
669 Incarnate (2016)
670 20th Century Women (2016)
671 Southside with You (2016)
672 Bleed for This (2016)
673 The Autopsy of Jane Doe (2016)
674 Miss Sloane (2016)
675 Swiss Army Man (2016)
676 My Best Friend’s Wedding (2016)
677 Genius (2016)
678 Anomalisa (2016)
679 The Meddler (2016)
680 Everybody Wants Some (2016)
681 Lost in the Pacific (2016)
682 Blood Father (2016)
683 Miles Ahead (2016)
684 Hands of Stone (2016)
685 Where to Invade Next (2016)
686 Max Steel (2016)
687 Don’t Think Twice (2016)
688 The Eagle Huntress (2016)
689 Batman: The Killing Joke (2016)
690 Demolition (2016)
691 Rules Don’t Apply (2016)
692 Green Room (2016)
693 Miss Saigon 25th Anniversary Performance (2016)
694 Indignation (2016)
695 The Neon Demon (2016)
696 Throne of Elves (2016)
697 Before I Wake (2016)
698 The Disappointments Room (2016)
699 Swap (2016)
700 Quackerz (2016)
701 2016 Oscar Shorts (2016)
702 Hillsong: Let Hope Rise (2016)
703 Pele: Birth of a Legend (2016)
704 Misconduct (2016)
705 Bling (2016)
706 The Met: Live in HD - Madama Butterfly (2016)
707 The Met: Live in HD - Manon Lescaut (2016)
708 Equals (2016)
709 American Honey (2016)
710 I’m Not Ashamed (2016)
711 Greater (2016)
712 Met Opera: La Boheme (2016)
713 I Saw the Light (2016)
714 Weiner (2016)
715 The Harry Potter IMAX Marathon (2016)
716 American Pastoral (2016)
717 Mine (2016)
718 Equity (2016)
719 USS Indianapolis: Men of Courage (2016)
720 Priceless (2016)
721 Born to Be Blue (2016)
722 Elvis & Nixon (2016)
723 Summer Camp (2016)
724 Barbie: Spy Squad (2016)
725 Lazer Team (2016)
726 The Whole Truth (2016)
727 The Music of Strangers: Yo-Yo Ma and the Silk Road Ensemble (2016)
728 Vaxxed: From Cover Up to Catastrophe (2016)
729 I.T. (2016)
730 The Hollars (2016)
731 Certain Women (2016)
732 The First Monday in May (2016)
733 Little Men (2016)
734 High Strung (2016)
735 Marauders (2016)
736 Believe (2016)
737 Mr. Right (2016)
738 31 (2016)
739 Bakery in Brooklyn (2016)
740 Saturday’s Warrior (2016)
741 Cell (2016)
742 Met Opera: Turandot (2016)
743 Backtrack (2016)
744 The Devil’s Candy (2016)
745 Mr. Church (2016)
746 Met Opera: Les Pêcheurs de Perles (2016)
747 The Sea of Trees (2016)
748 A Tale of Love and Darkness (2016)
749 Harry & Snowman (2016)
750 Lo And Behold, Reveries Of The Connected World (2016)
751 Bolshoi Babylon (2016)
752 Embrace (2016)
753 City of Gold (2016)
754 The Bronze (2016)
755 Wiener-Dog (2016)
756 The Family Fang (2016)
757 Gleason (2016)
758 Precious Cargo (2016)
759 Range 15 (2016)
760 Unsullied (2016)
761 Gimme Danger (2016)
762 Abattoir (2016)
763 Three Generations (2016)
764 Voiceless (2016)
765 All Roads Lead to Rome (2016)
766 Met Opera Don Giovanni (2016) (2016)
767 Barbie: Star Light Adventure (2016)
768 Met Opera Roberto Devereux (2016)
769 Na mlecnom putu (2016)
770 Life, Animated (2016)
771 The Invitation (2016)
772 Imperium (2016)
773 Blackway (2016)
774 El Americano: The Movie (2016)
775 The Bounce Back (2016)
776 Met Opera: Elektra (2016)
777 AmeriGeddon (2016)
778 Christine (2016)
779 I Am Wrath (2016)
780 Tristan und Isolde - Met Opera 2016 (Opera) (2016)
781 This Beautiful Fantastic (2016)
782 Parched (2016)
783 Mimimalism: A Documentary About the Important Things (2016)
784 Michael Buble - Tour Stop 148 (2016)
785 The Love Witch (2016)
786 Wild Oats (2016)
787 Tumbledown (2016)
788 Sundown (2016)
789 Jimmy Vestvood: Amerikan Hero (2016)
790 Baskin (2016)
791 Southbound (2016)
792 Viral (2016)
793 White Girl (2016)
794 Complete Unknown (2016)
795 Exposed (2016)
796 The Fits (2016)
797 De Palma (2016)
798 The Witness (2016)
799 Por Siempre (2016)
800 Eva Hesse (2016)
801 Met Opera 2016: L'Amour De Loin (2016)
802 Touched With Fire (2016)
803 Generation Found (2016)
804 Seed: The Untold Story (2016)
805 Manhattan Nocturne (2016)
806 Kicks (2016)
807 Michael Moore in TrumpLand (2016)
808 America Wild: National Parks Adventure (2016)
809 72 Hours (2016)
810 Krisha (2016)
811 Requiem for the American Dream (2016)
812 Met Opera: Madama Butterfly (puccini) (2016)
813 Miss Sharon Jones (2016)
814 Remember the Goal (2016)
815 Caged No More (2016)
816 The Fourth Phase (2016)
817 Voyage of Time (2016)
818 Zero Days (2016)
819 Cameraperson (2016)
820 Best Worst Thing That Ever Could Have Happened (2016)
821 The Will to Fly (2016)
822 Martyrs (2016)
823 Puerto Ricans in Paris (2016)
824 Victor (2016)
825 Tower (2016)
826 Bringing Tibet Home (2016)
827 The Neighbor (2016)
828 Author: The JT LeRoy Story (2016)
829 The History of Love (2016)
830 Other People (2016)
831 Morris from America (2016)
832 The Good Neighbor (2016)
833 Term Life (2016)
834 Los sures (2016)
835 A Kind of Murder (2016)
836 For the Love of Spock (2016)
837 Kickboxer: Vengeance (2016)
838 Chicken People (2016)
839 Colliding Dreams (2016)
840 Don’t Blink: Robert Frank (2016)
841 King Cobra (2016)
842 Do Not Resist (2016)
843 Raiders! The Story of the Greatest Fan Film Ever Made (2016)
844 Met Opera: La Boheme (2016) (2016)
845 The Congressman (2016)
846 Norman Lear: Just Another Version of You (2016)
847 Dog Eat Dog (2016)
848 Le Ride (2016)
849 The Greasy Strangler (2016)
850 The Great Gilly Hopkins (2016)
851 Max Rose (2016)
852 Back to the Jurassic (2016)
853 Trapped (2016)
854 Creative Control (2016)
855 Amateur Night (2016)
856 Army Of One (2016)
857 Too Late (2016)
858 Command and Control (2016)
859 Batman: Return of the Caped Crusaders (2016)
860 Met Opera: Lulu (2016)
861 In a Valley of Violence (2016)
862 Mifune: The Last Samurai (2016)
863 UFC 205: Alvarez Vs. Mcgregor (2016)
864 Battle Mountain: Graeme Obreeʼs Story (2016)
865 King Georges (2016)
866 East Side Sushi (2016)
867 Kanlı Girdap (2016)
868 Urge (2016)
869 Holidays (2016)
870 The Devil’s Dolls (2016)
871 The Trust (2016)
872 Nuts! (2016)
873 Danny Says (2016)
874 The Land (2016)
875 The House on Pine Street (2016)
876 In Pursuit of Silence (2016)

877 Of Mind and Music (2016)
878 Spa Night (2016)
879 Is That a Gun in Your Pocket? (2016)
880 Kanye West: The Global Premiere of WAVES (2016)
881 Catching the Sun (2016)
882 Troublemakers: The Story of Land Art (2016)
883 Germans and Jews (2016)
884 Mapplethorpe: Look at the Pictures (2016)
885 Restored Me (2016)
886 How to Let Go of the World and Love All The Things Climate Can’t Change (2016)
887 Kill Me, Deadly (2016)
888 Who Gets the Dog? (2016)
889 Full of Grace (2016)
890 The Homeless Billionaire (2016)
891 Off the Rails (2016)
892 The Intervention (2016)
893 The Curse of Sleeping Beauty (2016)
894 Jack of the Red Hearts (2016)
895 Lamb (2016)
896 Being Charlie (2016)
897 The Seventh Fire (2016)
898 The Best Democracy Money Can Buy (2016)
899 The Unknowns (2016)
900 3 Weeks in Yerevan (2016)
901 Time to Choose (2016)
902 The Eyes of My Mother (2016)
903 Take Me to the River (2016)
904 Kate Plays Christine (2016)
905 Unlocking the Cage (2016)
906 Anesthesia (2016)
907 Speed Sisters (2016)
908 Front Cover (2016)
909 I Am Not a Serial Killer (2016)
910 The Dog Wedding (2016)
911 Disturbing the Peace (2016)
912 Sold (2016)
913 Crocodile Gennadiy (2016)
914 The Fiancé (2016)
915 Met Opera: Tosca (encore) (2016)
916 Good Kids (2016)
917 Gridiron Heroes (2016)
918 The Black Dove (2016)
919 Generation Startup (2016)
920 Septembers of Shiraz (2016)
921 Blue Jay (2016)
922 Thank You For Your Service (2016)
923 Met Opera: Cosi Fan Tutte (2016)
924 Band of Robbers (2016)
925 This Last Lonely Place (2016)
926 Never (2016)
927 Get Squirrely (2016)
928 Love Me True (2016)
929 No Pay, Nudity (2016)
930 The Romans (2016)
931 Art Bastard (2016)
932 Revelation: Dawn of Global Government (2016)
933 Seoul Searching (2016)
934 Ktown Cowboys (2016)
935 Search Engines (2016)
936 Landfill Harmonic (2016)
937 The Channel (2016)
938 Peter and the Farm (2016)
939 Harry Benson: Shoot First (2016)
940 A Bit of Bad Luck (2016)
941 Wildflower (2016)
942 Holy Hell (2016)
943 Men go to Battle (2016)
944 How He Fell in Love (2016)
945 Streit’s: Matzo and the American Dream (2016)
946 Always Shine (2016)
947 Operation Avalanche (2016)
948 Five Nights in Maine (2016)
949 Starcrossed (2016)
950 It’s Already Tomorrow in Hong Kong (2016)
951 Monsieur Mayonnaise (2016)
952 The Uncondemned (2016)
953 One More Time (2016)
954 Newtown (2016)
955 Yosemite (2016)
956 A Space Program (2016)
957 Spices of Liberty (2016)
958 The Hurt Business (2016)
959 The Adderall Diaries (2016)
960 The Monster (2016)
961 Hot Water (2016)
962 When Two Worlds Collide (2016)
963 Christmas, Again (2016)
964 Lucha Mexico (2016)
965 The Ruins of Lifta (2016)
966 Theo Who Lived (2016)
967 Anonymous (2016)
968 Satanic (2016)
969 Pet (2016)
970 National Bird (2016)
971 Approaching the Unknown (2016)
972 Beta Test (2016)
973 River of Grass (2016)
974 What Happened Last Night (2016)
975 King Jack (2016)
976 Frank & Lola (2016)
977 Reparation (2016)
978 Crazy About Tiffany’s (2016)
979 Providence (2016)
980 We Are Twisted F***ing Sister! (2016)
981 Silicon Cowboys (2016)
982 Jim: The James Foley Story (2016)
983 Golden Kingdom (2016)
984 Talent Has Hunger (2016)
985 The Lost Arcade (2016)
986 Indian Point (2016)
987 The Preppie Connection (2016)
988 The Brainwashing of My Dad (2016)
989 Last Days in the Desert (2016)
990 Boom Bust Boom (2016)
991 Mad Tiger (2016)
992 The Dying of the Light (2016)
993 Vigilante Diaries (2016)
994 Daddy (2016)
995 The Charnel House (2016)
996 Ghost Team (2016)
997 The Bad Kids (2016)
998 Slash (2016)
999 Undrafted (2016)
1000 Gibby (2016)
1001 The Ghosts of Johnson Woods (2016)
1002 It Had to be You (2016)
1003 The Code of Cain (2016)
1004 Call Her Applebroog (2016)
1005 Cabin Fever (2016)
1006 Roseanne for President! (2016)
1007 Blood on the Mountain (2016)
1008 Richard Linklater: Dream is Destiny (2016)
1009 Miss Stevens (2016)
1010 The Automatic Hate (2016)
1011 Search Party (2016)
1012 Synchronicity (2016)
1013 Axel: The Biggest Little Hero (2016)
1014 Arlo: The Burping Pig (2016)
1015 On Meditation (2016)
1016 Auto Shop of Horrors (2016)
1017 Breaking a Monster (2016)
1018 Among the Believers (2016)
1019 Man Down (2016)
1020 San Francisco Ballet: Romeo and Juliet (2016)
1021 Coming Through the Rye (2016)
1022 The Hollow (2016)
1023 The Last Film Festival (2016)
1024 Mi America (2016)
1025 God Bless Ozzy Osbourne (2016)
1026 Burning Bodhi (2016)
1027 Gray Matters (2016)
1028 Michael Jackson's Journey from Motown to Off the Wall (2016)
1029 Best and Most Beautiful Things (2016)
1030 Hooligan Sparrow (2016)
1031 The Professor: Tai Chi's Journey West (2016)
1032 Gehenna: Where Death Lives (2016)
1033 Homme Less (2016)
1034 Notfilm (2016)
1035 Memoria (2016)
1036 Uncle Howard (2016)
1037 Yoga Hosers (2016)
1038 Interrogation (2016)
1039 A Beautiful Now (2016)
1040 Passage to Mars (2016)
1041 Ciclo Grande Cinema Russo (2016)
1042 A Small Good Thing (2016)
1043 Above and Below (2016)
1044 London Town (2016)
1045 Art House (2016)
1046 Rupture (2016)
1047 Robo-Dog (2016)
1048 Misfortune (2016)
1049 Officer Downe (2016)
1050 Green is Gold (2016)
1051 The Chameleon (2016)
1052 Amanda Knox (2016)
1053 400 Days (2016)
1054 Mojave (2016)
1055 Ming of Harlem: Twenty One Storeys in the Air (2016)
1056 Sky Ladder: The Art of Cai Guo-Qiang (2016)
1057 The American Dreamer (2016)
1058 Yarn (2016)
1059 E-League: Counter-Strike: Go Offensive (2016)
1060 Camino (2016)
1061 Star Wars Ep. VII: The Force Awakens (2015)
1062 Jurassic World (2015)
1063 Furious 7 (2015)
1064 Avengers: Age of Ultron (2015)
1065 Minions (2015)
1066 Spectre (2015)
1067 Inside Out (2015)
1068 Mission: Impossible—Rogue Nation (2015)
1069 The Martian (2015)
1070 The Hunger Games: Mockingjay - Part 2 (2015)
1071 Fifty Shades of Grey (2015)
1072 Cinderella (2015)
1073 The Revenant (2015)
1074 Ant-Man (2015)
1075 Hotel Transylvania 2 (2015)
1076 San Andreas (2015)
1077 Terminator: Genisys (2015)
1078 Kingsman: The Secret Service (2015)
1079 Home (2015)
1080 Mad Max: Fury Road (2015)
1081 The Good Dinosaur (2015)
1082 The SpongeBob Movie: Sponge Out of Water (2015)
1083 Maze Runner: The Scorch Trials (2015)
1084 The Divergent Series: Insurgent (2015)
1085 Pitch Perfect 2 (2015)
1086 The Peanuts Movie (2015)
1087 Alvin and the Chipmunks: The Road Chip (2015)
1088 Pixels (2015)
1089 Daddy’s Home (2015)
1090 Spy! (2015)
1091 Everest (2015)
1092 Ted 2 (2015)
1093 Tomorrowland (2015)
1094 Straight Outta Compton (2015)
1095 The Intern (2015)
1096 Jupiter Ascending (2015)
1097 Creed (2015)
1098 Fantastic Four (2015)
1099 Bridge of Spies (2015)
1100 Focus (2015)
1101 Goosebumps (2015)
1102 Pan (2015)
1103 The Hateful Eight (2015)
1104 Trainwreck (2015)
1105 The Big Short (2015)
1106 The Last Witch Hunter (2015)
1107 Point Break (2015)
1108 Magic Mike XXL (2015)
1109 Insidious Chapter 3 (2015)
1110 Seventh Son (2015)
1111 Paul Blart: Mall Cop 2 (2015)
1112 Get Hard (2015)
1113 Sisters (2015)
1114 The Man From U.N.C.L.E. (2015)
1115 Chappie (2015)
1116 Joy (2015)
1117 Vacation (2015)
1118 Black Mass (2015)
1119 The Visit (2015)
1120 Poltergeist (2015)
1121 Southpaw (2015)
1122 Spotlight (2015)
1123 In the Heart of the Sea (2015)
1124 The Second Best Exotic Marigold Hotel (2015)
1125 Paper Towns (2015)
1126 Sicario (2015)
1127 Hitman: Agent 47 (2015)
1128 The Wedding Ringer (2015)
1129 Paranormal Activity: The Ghost Dimension (2015)
1130 Crimson Peak (2015)
1131 War Room (2015)
1132 The Age of Adaline (2015)
1133 Run All Night (2015)
1134 The Danish Girl (2015)
1135 Dao shi xia shan (2015)
1136 Zhong Kui fu mo: Xue yao mo ling (2015)
1137 The Longest Ride (2015)
1138 Unfriended (2015)
1139 Krampus (2015)
1140 The Walk (2015)
1141 The Perfect Guy (2015)
1142 The Gift (2015)
1143 Woman in Gold (2015)
1144 Sinister 2 (2015)
1145 The Boy Next Door (2015)
1146 The Night Before (2015)
1147 Concussion (2015)
1148 Entourage (2015)
1149 McFarland, USA (2015)
1150 Hot Pursuit (2015)
1151 Max (2015)
1152 The DUFF (2015)
1153 Carol (2015)
1154 No Escape (2015)
1155 Love the Coopers (2015)
1156 The Gallows (2015)
1157 Still Alice (2015)
1158 The Lady in the Van (2015)
1159 Ricki and the Flash (2015)
1160 Ex Machina (2015)
1161 Criminal (2015)
1162 Room (2015)
1163 Steve Jobs (2015)

1164 The Lazarus Effect (2015)
1165 A Walk in the Woods (2015)
1166 Snowden (2015)
1167 Self/Less (2015)
1168 The Woman in Black 2: Angel of Death (2015)
1169 Victor Frankenstein (2015)
1170 Project Almanac (2015)
1171 Burnt (2015)
1172 Secret in Their Eyes (2015)
1173 Mortdecai (2015)
1174 American Ultra (2015)
1175 Far from the Madding Crowd (2015)
1176 Mr. Holmes (2015)
1177 The 33 (2015)
1178 Irrational Man (2015)
1179 Aloha (2015)
1180 It Follows (2015)
1181 Solace (2015)
1182 Black or White (2015)
1183 Blackhat (2015)
1184 Dope (2015)
1185 Little Boy (2015)
1186 Monkey Kingdom (2015)
1187 Scouts Guide to the Zombie Apocalypse (2015)
1188 The Vatican Tapes (2015)
1189 Love & Mercy (2015)
1190 Woodlawn (2015)
1191 Do You Believe? (2015)
1192 The Gunman (2015)
1193 While We're Young (2015)
1194 Strange Magic (2015)
1195 Macbeth (2015)
1196 The Green Inferno (2015)
1197 Unfinished Business (2015)
1198 Hot Tub Time Machine 2 (2015)
1199 Trumbo (2015)
1200 We Are Your Friends (2015)
1201 Me and Earl and the Dying Girl (2015)
1202 Our Brand is Crisis (2015)
1203 Grandma (2015)
1204 Danny Collins (2015)
1205 I'll See You in My Dreams (2015)
1206 Only You (2015)
1207 Absolutely Anything (2015)
1208 L'hermine (2015)
1209 Knock Knock (2015)
1210 Learning to Drive (2015)
1211 The Loft (2015)
1212 True Story (2015)
1213 Truth (2015)
1214 The Boy (2015)
1215 Fathers and Daughters (2015)
1216 She's Funny That Way (2015)
1217 90 Minutes in Heaven (2015)
1218 Demonic (2015)
1219 He Named Me Malala (2015)
1220 Mistress America (2015)
1221 The Blinky Bill Movie (2015)
1222 Dark Places (2015)
1223 Jane Got a Gun (2015)
1224 Boychoir (2015)
1225 By the Sea (2015)
1226 Spare Parts (2015)
1227 Pawn Sacrifice (2015)
1228 Ladrones (2015)
1229 Child 44 (2015)
1230 Rock the Kasbah (2015)
1231 Heist (2015)
1232 The End of the Tour (2015)
1233 Tracers (2015)
1234 Captive (2015)
1235 Barbie in Rock'n Royals (2015)
1236 Chi-raq (2015)
1237 2015 Oscar Shorts (2015)
1238 5 Flights Up (2015)
1239 Jem and the Holograms (2015)
1240 Sleeping with Other People (2015)
1241 Extinction (2015)
1242 Meru (2015)
1243 The Diary of a Teenage Girl (2015)
1244 My All-American (2015)
1245 Pay the Ghost (2015)
1246 Roger Waters the Wall (2015)
1247 Clown (2015)
1248 Cake (2015)
1249 Last Knights (2015)
1250 Kurt Cobain: Montage Of Heck (2015)
1251 Infinitely Polar Bear (2015)
1252 Old Fashioned (2015)
1253 The Benefactor (2015)
1254 99 Homes (2015)
1255 Game of Thrones: The IMAX Experience (2015)
1256 Freeheld (2015)
1257 Meet the Patels (2015)
1258 The Letters (2015)
1259 The Wolfpack (2015)
1260 Black Sea (2015)
1261 Barbie in Princess Power (2015)
1262 The Met: Live in HD - Tannhauser (2015)
1263 Queen of the Desert (2015)
1264 Iris (2015)
1265 The Cokeville Miracle (2015)
1266 Beyond the Mask (2015)
1267 The Cobbler (2015)
1268 Open Season Scared Silly (2015)
1269 Where Hope Grows (2015)
1270 The Overnight (2015)
1271 Knight of Cups (2015)
1272 Big Stone Gap (2015)
1273 Faith of Our Fathers (2015)
1274 Seymour: An Introduction (2015)
1275 Peggy Guggenheim: Art Addict (2015)
1276 Wild Card (2015)
1277 Tangerine (2015)
1278 Best of Enemies (2015)
1279 Visions (2015)
1280 Playing It Cool (2015)
1281 The Wrecking Crew (2015)
1282 Manglehorn (2015)
1283 Survivor (2015)
1284 The D Train (2015)
1285 Kumiko, The Treasure Hunter (2015)
1286 Othello - RSC Live (2015)
1287 National Theatre Live: Man and Superman (2015)
1288 Cartel Land (2015)
1289 Once I Was a Beehive (2015)
1290 Maps to the Stars (2015)
1291 Red Army (2015)
1292 Madame Bovary (2015)
1293 Good Kill (2015)
1294 Janis: Little Girl Blue (2015)
1295 The Stanford Prison Experiment (2015)
1296 Curious George 3: Back to the Jungle (2015)
1297 Hitchcock/Truffaut (2015)
1298 Welcome to Me (2015)
1299 Gallows Hill (2015)
1300 Burying the Ex (2015)
1301 Maggie (2015)
1302 Breaking Through (2015)
1303 Cooties (2015)
1304 Kahlil Gibran's The Prophet (2015)
1305 The Black Panthers: Vanguard of the Revolution (2015)
1306 Met Opera: Il Trovatore (2015)
1307 Listen to Me Marlon (2015)
1308 Barely Lethal (2015)
1309 Deli Man: The Movie (2015)
1310 Steve Jobs: The Man in the Machine (2015)
1311 The Beaux' Stratgem - NT Live (2015)
1312 Before We Go (2015)
1313 Bone Tomahawk (2015)
1314 Brotherly Love (2015)
1315 Some Kind of Beautiful (2015)
1316 Mississippi Grind (2015)
1317 Heart of a Dog (2015)
1318 The Voices (2015)
1319 Song One (2015)
1320 Rosenwald (2015)
1321 Backmask (2015)
1322 Bound to Vengeance (2015)
1323 Unbranded (2015)
1324 The Hunting Ground (2015)
1325 Freetown (2015)
1326 Criminal Activities (2015)
1327 Mediterranea (2015)
1328 Z for Zachariah (2015)
1329 Otello Met Opera 2015 (2015)
1330 Going Clear: Scientology and the Prison of Belief (2015)
1331 Ballet 422 (2015)
1332 Dark Awakening (2015)
1333 David and Goliath (2015)
1334 Time Out of Mind (2015)
1335 Hidden (2015)
1336 Stonewall (2015)
1337 The Man in 3B (2015)
1338 Above and Beyond (2015)
1339 600 Millas (2015)
1340 Queen and Country (2015)
1341 Outcast (2015)
1342 Met Opera: The Merry Widow (2015)
1343 Carter High (2015)
1344 Experimenter (2015)
1345 Tales of Halloween (2015)
1346 Jeremy Scott: The People’s Designer (2015)
1347 Boulevard (2015)
1348 People, Places, Things (2015)
1349 Chocolate City (2015)
1350 Humpback Whales 3D (2015)
1351 The Forger (2015)
1352 My Little Pony Equestria Girls: Friendship Games (2015)
1353 Merchants of Doubt (2015)
1354 5 to 7 (2015)
1355 Lambert & Stamp (2015)
1356 An Honest Liar (2015)
1357 Serena (2015)
1358 Hüddam (2015)
1359 All Things Must Pass (2015)
1360 After the Ball (2015)
1361 Journey to Space 3D (2015)
1362 Contracted 2 (2015)
1363 Hell & Back (2015)
1364 The Rewrite (2015)
1365 The Last Five Years (2015)
1366 Songs My Brothers Taught Me (2015)
1367 Cop Car (2015)
1368 Cut Bank (2015)
1369 Accidental Love (2015)
1370 Building Jerusalem (2015)
1371 Don't Think I've Forgotten: Cambodia's Lost Rock and Roll (2015)
1372 Momentum (2015)
1373 Warren Miller’s No Turning Back (2015)
1374 Queen of Earth (2015)
1375 Met Opera: Cavalleria Rusticana & Pagliacci (2015)
1376 Altergeist (2015)
1377 In Jackson Heights (2015)
1378 Digging for Fire (2015)
1379 Road Hard (2015)
1380 James White (2015)
1381 Do I Sound Gay? (2015)
1382 Memories of the Sword (2015)
1383 Warren Miller's Chasing Shadows (2015)
1384 Adult Beginners (2015)
1385 Results (2015)
1386 Every Secret Thing (2015)
1387 Beyond The Reach (2015)
1388 Met Opera: La Donna del Lago (2015)
1389 Beyond the Brick: A LEGO Brickumentary (2015)
1390 A Ballerina's Tale (2015)
1391 A Poem Is a Naked Person (2015)
1392 Sunshine Superman (2015)
1393 1915 (2015)
1394 Met Opera: Les Contes d’Hoffmann (2015)
1395 Man from Reno (2015)
1396 Return to Sender (2015)
1397 Christmas Eve (2015)
1398 May in the Summer (2015)
1399 Beasts of No Nation (2015)
1400 Met Opera: Iolanta & Duke Bluebeard's Castle (2015)
1401 Tab Hunter Confidential (2015)
1402 Pandas: The Journey Home (2015)
1403 Steve McQueen: The Man & Le Mans (2015)
1404 Heaven Knows What (2015)
1405 Nasty Baby (2015)
1406 Trace Amounts (2015)
1407 I Spit on Your Grave 3 (2015)
1408 Blackbird (2015)
1409 I Am Big Bird: The Caroll Spinney Story (2015)
1410 Batkid Begins (2015)
1411 The Seven Five (2015)
1412 Superfast! (2015)
1413 Freaks of Nature (2015)
1414 Marie's Story (2015)
1415 The Keeping Room (2015)
1416 Ashby (2015)
1417 Drunk Stoned Brilliant Dead The Story of the National Lampoon (2015)
1418 Met Opera: Die Meistersinger von Nurnberg (2015)
1419 Harbinger Down (2015)
1420 I Smile Back (2015)
1421 Jauja (2015)
1422 Difret (2015)
1423 Brian Wilson: I Just Wasn't Made for These Times (2015)
1424 Entertainment (2015)
1425 War Pigs (2015)
1426 Love Thy Nature (2015)
1427 Aloft (2015)
1428 The Quay Brothers in 35MM (2015)
1429 The Dog Who Saved Summer (2015)
1430 Spring (2015)
1431 Red Herring (2015)
1432 Gnome Alone (2015)
1433 Appropriate Behavior (2015)
1434 Alien Outpost (2015)
1435 Lost River (2015)
1436 River of Fundament (2015)
1437 Mavis! (2015)
1438 Russell Madness (2015)
1439 Anguish (2015)
1440 Fabergé: A Life Of Its Own (2015)
1441 Unity (2015)
1442 The Search for General Tso (2015)
1443 Nowitzki: The Perfect Shot (2015)
1444 The Opposite Sex (2015)

1445 Prophet’s Prey (2015)
1446 Hungry Hearts (2015)
1447 Lila & Eve (2015)
1448 Welcome to Leith (2015)
1449 Finders Keepers (2015)
1450 Speak No Evil (2015)
1451 Black November (2015)
1452 Amira & Sam (2015)
1453 Don Verdean (2015)
1454 The Winding Stream (2015)
1455 The Nightmare (2015)
1456 Match (2015)
1457 Runoff (2015)
1458 Paul Taylor Creative Domain (2015)
1459 3 and 1/2 Minutes (2015)
1460 Americons (2015)
1461 Look At Us Now, Mother! (2015)
1462 Like Sunday, Like Rain (2015)
1463 7 Chinese Brothers (2015)
1464 Sembene! (2015)
1465 Tap World (2015)
1466 Peace Officer (2015)
1467 Preggoland (2015)
1468 Out of the Dark (2015)
1469 Backstreet Boys: Show 'Em What You're Made Of (2015)
1470 Kill Me Three Times (2015)
1471 The Diabolical (2015)
1472 Slow Learners (2015)
1473 Can't Stand Losing You: Surviving the Police (2015)
1474 Animals (2015)
1475 Boy Meets Girl (2015)
1476 Friends and Romans (2015)
1477 The Runner (2015)
1478 Misery Loves Comedy (2015)
1479 This Changes Everything (2015)
1480 The Challenger (2015)
1481 The Human Centipede 3 (Final Sequence) (2015)
1482 El Ardor (2015)
1483 The Other One (2015)
1484 Butterfly Girl (2015)
1485 A Reason (2015)
1486 Hits (2015)
1487 Cheatin' (2015)
1488 Far Too Far (2015)
1489 Zombeavers (2015)
1490 10 Days in a Madhouse (2015)
1491 Gone Doggy Gone (2015)
1492 Buzzard (2015)
1493 The Drop Box (2015)
1494 Just Jim (2015)
1495 Survivor (2015)
1496 The Armor Of Light (2015)
1497 The Squeeze (2015)
1498 Emptying The Skies (2015)
1499 Just Before I Go (2015)
1500 Mala Mala (2015)
1501 Station to Station (2015)
1502 The Forecaster (2015)
1503 The Life and Mind of Mark DeFriest (2015)
1504 Wild Canaries (2015)
1505 One Cut, One Life (2015)
1506 Medeas (2015)
1507 B-Side (2015)
1508 Dawn of the Crescent Moon (2015)
1509 Little Accidents (2015)
1510 Meet Me in Montenegro (2015)
1511 Farewell to Hollywood (2015)
1512 Wa-shoku: Beyond Sushi (2015)
1513 Counting (2015)
1514 The Girl in the Book (2015)
1515 Vendetta (2015)
1516 Straight Outta Tompkins (2015)
1517 Living in the Age of Airplanes (2015)
1518 One Small Hitch (2015)
1519 Area 51 (2015)
1520 Rubble Kings (2015)
1521 Cast Party - Podcast Festival (2015)
1522 Antarctic Edge: 70º South (2015)
1523 Aaaaaaaah! (2015)
1524 A Murder in the Park (2015)
1525 Dreams Rewired (2015)
1526 Gabriel (2015)
1527 The Sisterhood of Night (2015)
1528 Jenny’s Wedding (2015)
1529 Famous Nathan (2015)
1530 Buttercup Bill (2015)
1531 Orion: The Man Who Would Be King (2015)
1532 Sex, Death and Bowling (2015)
1533 Top Spin (2015)
1534 Shout Gladi Gladi (2015)
1535 This Isn't Funny (2015)
1536 The Living (2015)
1537 Fresh Dressed (2015)
1538 She's Lost Control (2015)
1539 The True Cost (2015)
1540 Hitting the Apex (2015)
1541 Death Valley (2015)
1542 SBK The-Movie (2015)
1543 Miss Hill: Making Dance Matter (2015)
1544 Seeds of Time (2015)
1545 La navaja de Don Juan (2015)
1546 Unfreedom (2015)
1547 Julia (2015)
1548 Broken Horses (2015)
1549 Blackhats (2015)
1550 The Forgotten Kingdom (2015)
1551 Know How (2015)
1552 Drunk Wedding (2015)
1553 Windsor Drive (2015)
1554 Allure (2015)
1555 Body (2015)
1556 Hayride 2 (2015)
1557 Drake's Homecoming: The Lost Footage (2015)
1558 Racing Extinction (2015)
1559 L.A. Slasher (2015)
1560 Réalité (2015)
1561 Me, You and Five Bucks (2015)
1562 Everly (2015)
1563 Sneakerheadz (2015)
1564 The Other Man: F.W. de Klerk and the End of Apartheid (2015)
1565 The Looking Glass (2015)
1566 The Russian Woodpecker (2015)
1567 Forever (2015)
1568 Brand: A Second Coming (2015)
1569 Making Rounds (2015)
1570 Vice (2015)
1571 Brahmin Bulls (2015)
1572 Esports in Cinemas: All Work All Play (2015)
1573 3 Nights in the Desert (2015)
1574 Skin Trade (2015)
1575 Childless (2015)
1576 My Accomplice (2015)
1577 Alex of Venice (2015)
1578 The Wannabe (2015)
1579 The Invoking 2 (2015)
1580 Against the Sun (2015)
1581 American Hero (2015)
1582 Addicted to Fresno (2015)
CPU times: user 2min 52s, sys: 1.09 s, total: 2min 53s
Wall time: 2min 54s

In [659]:
# movies_clean_v2.delete_many({})

In [662]:
len(list(movies_clean_v2.find()))

1583

In [663]:
df_clean = pd.DataFrame(list(movies_clean_v2.find()))
df_clean.head()

,_id,data,title
0,5af4cd0d7cfdd30e1919a126,"{'Casting Director': 'Nick Horbaczewski', 'Dom...",Star Wars Ep. VIII: The Last Jedi (2017)
1,5af4cd0d7cfdd30e1919a127,{'Visual Effects Supervisor': 'Chris Corbould'...,Beauty and the Beast (2017)
2,5af4cd0d7cfdd30e1919a128,"{'Set Decorator': ['Tim Rice', 'Danielle Berma...",The Fate of the Furious (2017)
3,5af4cd0d7cfdd30e1919a129,"{'Second Unit Director': 'Jack Gill', 'Domesti...",Despicable Me 3 (2017)
4,5af4cd0e7cfdd30e1919a12a,"{'Score Mixer': 'Noah Snyder', 'Domestic Box O...",Jumanji: Welcome to the Jungle (2017)

In [664]:
df_clean_data = pd.DataFrame(list(df_clean['data']))
df_clean_data.head()

,,1st Assistant Director,3-D and Digital Image Producer,3D Animator,3D Stereoscopic Supervisor,ADR Editor,ADR Mixer,ADR Recording Engineer,ADR/Dialogue Editor,Action Choreographer,...,Visual Effects Supervisor: MPC,Visual Effects Supervisor: Milk Visual Effects,Visual Effects by,Wardrobe Supervisor,Worldwide Box Office,Written By,Written by,based on the novel “A Monster Calls” by,lead_cast,story based on a novel by
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1320214241,NaN,NaN,NaN,"[Mark Hamill, Carrie Fisher, Adam Driver, Dais...",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1263109573,NaN,NaN,NaN,"[Emma Watson, Dan Stevens, Luke Evans, Kevin K...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1237466026,NaN,NaN,NaN,"[Vin Diesel, Dwayne Johnson, Jason Statham, Mi...",NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1034542646,NaN,NaN,NaN,"[Vin Diesel, Dwayne Johnson, Jason Statham, Mi...",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,958513171,NaN,NaN,NaN,"[Dwayne Johnson, Jack Black, Kevin Hart, Karen...",NaN

In [755]:
df_clean_data_trim = df_clean_data.loc[:, ['Worldwide Box Office', 'Domestic Box Office', 'International Box Office','Production Budget','Source']]
df_clean_data_trim

,Worldwide Box Office,Domestic Box Office,International Box Office,Production Budget,Source
0,1320214241,620181382,700032859,NaN,Original Screenplay
1,1263109573,504014165,759095408,160000000,Remake
2,1237466026,225764765,1011701261,250000000,Original Screenplay
3,1034542646,264624300,769918346,75000000,Original Screenplay
4,958513171,404353892,554159279,90000000,Original Screenplay
5,880210429,334201140,546009289,175000000,Based on Comic/Graphic Novel
6,863197744,389813101,473384643,200000000,Based on Comic/Graphic Novel
7,850653412,315058289,535595123,180000000,Based on Comic/Graphic Novel
8,817012815,412563408,404449407,150000000,Based on Comic/Graphic Novel
9,800398408,209726015,590672393,175000000,Based on Folk Tale/Legend/Fairytale
10,794758876,172558876,622200000,230000000,Based on Theme Park Ride
11,697459228,327481748,369977480,35000000,Remake
12,655953446,229024295,426929151,300000000,Based on Comic/Graphic Novel
13,615577068,226277068,389300000,127000000,Based on Comic/Graphic Novel
14,603968683,130168683,473800000,217000000,Based on TV
15,561137727,168052812,393084915,185000000,Original Screenplay
16,512017946,175003033,337014913,125000000,Based on Fiction Book/Short Story
17,500516189,190068280,310447909,150000000,Original Screenplay
18,490280162,146880162,343400000,152000000,Original Screenplay
19,429785156,173789109,255996047,84000000,Based on Real Life Events
20,410333326,80101125,330232201,195000000,Based on Folk Tale/Legend/Fairytale
21,408834838,100234838,308600000,104000000,Based on Comic/Graphic Novel
22,383601115,152901115,230700000,NaN,Original Screenplay
23,381081967,114434010,266647957,55000000,Based on Fiction Book/Short Story
24,349213586,102826543,246387043,55000000,Remake
25,345114933,44898413,300216520,85000000,Original Screenplay
26,310940997,175750384,135190613,80000000,Based on Toy
27,305492201,102092201,203400000,15000000,Original Screenplay
28,299515685,132422809,167092876,20000000,Based on Factual Book/Article
29,290830650,84364229,206466421,111000000,Based on Fiction Book/Short Story
...,...,...,...,...,...
1553,NaN,3256,NaN,850000,Original Screenplay
1554,NaN,3130,NaN,NaN,Original Screenplay
1555,NaN,2634,NaN,NaN,Original Screenplay
1556,NaN,2571,NaN,NaN,Original Screenplay
1557,2530,0,2530,NaN,Based on Real Life Events
1558,2484,0,2484,NaN,Based on Real Life Events
1559,NaN,2421,NaN,NaN,Original Screenplay
1560,2247,0,2247,NaN,Original Screenplay
1561,NaN,2105,NaN,1500000,Original Screenplay
1562,2052,1800,252,NaN,Original Screenplay
1563,NaN,1903,NaN,NaN,Based on Real Life Events
1564,NaN,1747,NaN,NaN,Based on Real Life Events
1565,NaN,1711,NaN,300000,Original Screenplay
1566,1644,0,1644,NaN,Based on Real Life Events
1567,NaN,1597,NaN,NaN,Original Screenplay
1568,1563,0,1563,NaN,Based on Real Life Events
1569,NaN,1484,NaN,NaN,Based on Real Life Events
1570,1467,0,1467,NaN,Original Screenplay
1571,1467,0,1467,NaN,Original Screenplay
1572,1430,0,1430,NaN,Based on Real Life Events
1573,NaN,1297,NaN,NaN,Original Screenplay
1574,NaN,1242,NaN,9000000,Original Screenplay
1575,NaN,1036,NaN,1000000,Original Screenplay
1576,796,0,796,NaN,Original Screenplay
1577,588,0,588,NaN,Original Screenplay
1578,272,0,272,NaN,Original Screenplay
1579,249,0,249,NaN,Original Screenplay
1580,54,0,54,NaN,Based on Real Life Events
1581,26,0,26,1000000,Original Screenplay
1582,25,0,25,NaN,Original Screenplay

In [682]:
df_clean_data_trim['Domestic Box Office'].fillna(0, inplace=True)
df_clean_data_trim['Domestic Box Office']

0       620181382
1       504014165
2       225764765
3       264624300
4       404353892
5       334201140
6       389813101
7       315058289
8       412563408
9       209726015
10      172558876
11      327481748
12      229024295
13      226277068
14      130168683
15      168052812
16      175003033
17      190068280
18      146880162
19      173789109
20       80101125
21      100234838
22      152901115
23      114434010
24      102826543
25       44898413
26      175750384
27      102092201
28      132422809
29       84364229
          ...
1553         3256
1554         3130
1555         2634
1556         2571
1557            0
1558            0
1559         2421
1560            0
1561         2105
1562         1800
1563         1903
1564         1747
1565         1711
1566            0
1567         1597
1568            0
1569         1484
1570            0
1571            0
1572            0
1573         1297
1574         1242
1575         1036
1576            0
1577            0
1578            0
1579            0
1580            0
1581            0
1582            0
Name: Domestic Box Office, Length: 1583, dtype: object

In [756]:
# df_clean_data_trim['WW Aggregate'] = int(df_clean_data_trim['Domestic Box Office']) + int(df_clean_data_trim['International Box Office'])
# df_clean_data_trim

df_clean_data_trim['Domestic Box Office'].fillna(0, inplace=True)
df_clean_data_trim['International Box Office'].fillna(0, inplace=True)
df_clean_data_trim['Production Budget'].fillna(10000000, inplace=True)

df_clean_data_trim['Domestic Box Office'] = df_clean_data_trim['Domestic Box Office'].apply(pd.to_numeric)
df_clean_data_trim['International Box Office'] = df_clean_data_trim['International Box Office'].apply(pd.to_numeric)
df_clean_data_trim['ww_agg'] = df_clean_data_trim['Domestic Box Office'] + df_clean_data_trim['International Box Office']
df_clean_data_trim['Production Budget'] = df_clean_data_trim['Production Budget'].apply(pd.to_numeric)

df_clean_data_trim

,Worldwide Box Office,Domestic Box Office,International Box Office,Production Budget,Source,ww_agg
0,1320214241,620181382,700032859,10000000,Original Screenplay,1320214241
1,1263109573,504014165,759095408,160000000,Remake,1263109573
2,1237466026,225764765,1011701261,250000000,Original Screenplay,1237466026
3,1034542646,264624300,769918346,75000000,Original Screenplay,1034542646
4,958513171,404353892,554159279,90000000,Original Screenplay,958513171
5,880210429,334201140,546009289,175000000,Based on Comic/Graphic Novel,880210429
6,863197744,389813101,473384643,200000000,Based on Comic/Graphic Novel,863197744
7,850653412,315058289,535595123,180000000,Based on Comic/Graphic Novel,850653412
8,817012815,412563408,404449407,150000000,Based on Comic/Graphic Novel,817012815
9,800398408,209726015,590672393,175000000,Based on Folk Tale/Legend/Fairytale,800398408
10,794758876,172558876,622200000,230000000,Based on Theme Park Ride,794758876
11,697459228,327481748,369977480,35000000,Remake,697459228
12,655953446,229024295,426929151,300000000,Based on Comic/Graphic Novel,655953446
13,615577068,226277068,389300000,127000000,Based on Comic/Graphic Novel,615577068
14,603968683,130168683,473800000,217000000,Based on TV,603968683
15,561137727,168052812,393084915,185000000,Original Screenplay,561137727
16,512017946,175003033,337014913,125000000,Based on Fiction Book/Short Story,512017946
17,500516189,190068280,310447909,150000000,Original Screenplay,500516189
18,490280162,146880162,343400000,152000000,Original Screenplay,490280162
19,429785156,173789109,255996047,84000000,Based on Real Life Events,429785156
20,410333326,80101125,330232201,195000000,Based on Folk Tale/Legend/Fairytale,410333326
21,408834838,100234838,308600000,104000000,Based on Comic/Graphic Novel,408834838
22,383601115,152901115,230700000,10000000,Original Screenplay,383601115
23,381081967,114434010,266647957,55000000,Based on Fiction Book/Short Story,381081967
24,349213586,102826543,246387043,55000000,Remake,349213586
25,345114933,44898413,300216520,85000000,Original Screenplay,345114933
26,310940997,175750384,135190613,80000000,Based on Toy,310940997
27,305492201,102092201,203400000,15000000,Original Screenplay,305492201
28,299515685,132422809,167092876,20000000,Based on Factual Book/Article,299515685
29,290830650,84364229,206466421,111000000,Based on Fiction Book/Short Story,290830650
...,...,...,...,...,...,...
1553,NaN,3256,0,850000,Original Screenplay,3256
1554,NaN,3130,0,10000000,Original Screenplay,3130
1555,NaN,2634,0,10000000,Original Screenplay,2634
1556,NaN,2571,0,10000000,Original Screenplay,2571
1557,2530,0,2530,10000000,Based on Real Life Events,2530
1558,2484,0,2484,10000000,Based on Real Life Events,2484
1559,NaN,2421,0,10000000,Original Screenplay,2421
1560,2247,0,2247,10000000,Original Screenplay,2247
1561,NaN,2105,0,1500000,Original Screenplay,2105
1562,2052,1800,252,10000000,Original Screenplay,2052
1563,NaN,1903,0,10000000,Based on Real Life Events,1903
1564,NaN,1747,0,10000000,Based on Real Life Events,1747
1565,NaN,1711,0,300000,Original Screenplay,1711
1566,1644,0,1644,10000000,Based on Real Life Events,1644
1567,NaN,1597,0,10000000,Original Screenplay,1597
1568,1563,0,1563,10000000,Based on Real Life Events,1563
1569,NaN,1484,0,10000000,Based on Real Life Events,1484
1570,1467,0,1467,10000000,Original Screenplay,1467
1571,1467,0,1467,10000000,Original Screenplay,1467
1572,1430,0,1430,10000000,Based on Real Life Events,1430
1573,NaN,1297,0,10000000,Original Screenplay,1297
1574,NaN,1242,0,9000000,Original Screenplay,1242
1575,NaN,1036,0,1000000,Original Screenplay,1036
1576,796,0,796,10000000,Original Screenplay,796
1577,588,0,588,10000000,Original Screenplay,588
1578,272,0,272,10000000,Original Screenplay,272
1579,249,0,249,10000000,Original Screenplay,249
1580,54,0,54,10000000,Based on Real Life Events,54
1581,26,0,26,1000000,Original Screenplay,26
1582,25,0,25,10000000,Original Screenplay,25

In [723]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_curve,roc_auc_score

In [761]:
X = df_clean_data_trim.iloc[:,3:4]
y = df_clean_data_trim.iloc[:,5]

In [762]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [763]:
base_model = LinearRegression()

In [764]:
base_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [765]:
y_pred = base_model.predict(X_test)

In [766]:
base_model.score(X_test,y_test)

0.77236797510950528

In [767]:
base_model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'normalize': False}

In [768]:
df_clean_data_trim['log_ww_agg'] = df_clean_data_trim['ww_agg'].apply(np.log)

In [769]:
X = df_clean_data_trim.iloc[:,3:4]
y = df_clean_data_trim.iloc[:,6]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [770]:
base_model_logrev = LinearRegression()
base_model_logrev.fit(X_train, y_train)
y_pred_logrev = base_model_logrev.predict(X_test)
base_model_logrev.score(X_test,y_test)

0.29854408189690151

In [771]:
df_clean_data_trim['log_budget'] = df_clean_data_trim['Production Budget'].apply(np.log)

In [772]:
df_clean_data_trim.head()

,Worldwide Box Office,Domestic Box Office,International Box Office,Production Budget,Source,ww_agg,log_ww_agg,log_budget
0,1320214241,620181382,700032859,10000000,Original Screenplay,1320214241,21.001060,16.118096
1,1263109573,504014165,759095408,160000000,Remake,1263109573,20.956842,18.890684
2,1237466026,225764765,1011701261,250000000,Original Screenplay,1237466026,20.936332,19.336971
3,1034542646,264624300,769918346,75000000,Original Screenplay,1034542646,20.757225,18.132999
4,958513171,404353892,554159279,90000000,Original Screenplay,958513171,20.680894,18.315320

In [790]:
X = df_clean_data_trim.iloc[:,[7]]
y = df_clean_data_trim.iloc[:,6]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [787]:
base_model_logrev_2 = LinearRegression()
base_model_logrev_2.fit(X_train, y_train)
y_pred_logrev_2 = base_model_logrev_2.predict(X_test)
base_model_logrev_2.score(X_test,y_test)

0.25021551803196052

In [780]:
df_source_dummies = pd.concat( [df_clean_data_trim, pd.get_dummies(df_clean_data_trim['Source'])], axis=1)

In [781]:
df_source_dummies.head()

,Worldwide Box Office,Domestic Box Office,International Box Office,Production Budget,Source,ww_agg,log_ww_agg,log_budget,Based on Comic/Graphic Novel,Based on Factual Book/Article,...,Based on Religious Text,Based on Short Film,Based on TV,Based on Theme Park Ride,Based on Toy,Based on Web Series,Compilation,Original Screenplay,Remake,Spin-Off
0,1320214241,620181382,700032859,10000000,Original Screenplay,1320214241,21.001060,16.118096,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1263109573,504014165,759095408,160000000,Remake,1263109573,20.956842,18.890684,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1237466026,225764765,1011701261,250000000,Original Screenplay,1237466026,20.936332,19.336971,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1034542646,264624300,769918346,75000000,Original Screenplay,1034542646,20.757225,18.132999,0,0,...,0,0,0,0,0,0,0,1,0,0
4,958513171,404353892,554159279,90000000,Original Screenplay,958513171,20.680894,18.315320,0,0,...,0,0,0,0,0,0,0,1,0,0

In [791]:
X = df_source_dummies.iloc[:, 7:]
y = df_source_dummies.iloc[:,6]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [792]:
base_model_logrev_sourcedummies = LinearRegression()
base_model_logrev_sourcedummies.fit(X_train, y_train)
y_pred_logrev_sourcedummies = base_model_logrev_sourcedummies.predict(X_test)
base_model_logrev_sourcedummies.score(X_test,y_test)

0.34325894210271879

In [ ]:
metadata = pd.read_csv('data/movies_metadata.csv', low_memory= False)

In [ ]:
metadata.head()

In [5]:
len(metadata[metadata['revenue'] == 0])

38052

In [6]:
metadata[metadata['revenue'] == 0]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16.0
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0.0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2.0
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,1995-11-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149.0
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,1995-07-19,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828.0
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,1995-12-29,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50.0
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,1995-10-06,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,1995-12-29,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30.0
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,1995-05-05,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10.0
50,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,117164,tt0109950,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,...,1994-11-22,0.0,93.0,[],Released,She's no angel of mercy.,Guardian Angel,False,6.3,3.0
52,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",...,1994-01-01,0.0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,NaN,Lamerica,False,7.7,11.0
53,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,26441,tt0112499,en,The Big Green,"In a depressed Texas town, British foreign exc...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0
54,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,97406,tt0113158,en,Georgia,"Sadie looks up to her older sister Georgia, a ...",...,1995-05-19,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The toughest act to follow was their dreams.,Georgia,False,6.1,15.0
55,False,NaN,0,[],NaN,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",...,1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Kids of the Round Table,False,3.0,1.0
57,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,11010,tt0110877,it,Il postino,Simple Italian postman learns to love poetry w...,...,1994-09-22,0.0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,The Postman,False,7.6,181.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
59,False,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,11359,tt0113419,en,The Indian in the Cupboard,A nine-year-old boy gets a plastic Indian and ...,...,1995-07-14,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Indian in the Cupboard,False,5.9,136.0
60,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,17182,tt0116260,en,Eye for an Eye,It's fire and brimstone time as grieving mothe...,...,1996-01-12,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,What do you do when justice fails?,Eye for an Eye,False,5.8,65.0
62,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,10607,tt0116126,en,Don't Be a Menace to South Central While Drink...,When Ashtray (Shawn Wayans) moves to South Cen...,...,1996-01-12,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Finally, the movie that proves that Justice is...",Don't Be a Menace to South Central While Drink...,False,6.2,192.0
63,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,19760,tt0118002,en,Two If by Sea,"Frank O'Brien, a petty thief, and his 7-year-l...",...,1996-01-12,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A new comedy about love, laughter, and larceny",Two If by Sea,False,4.5,14.0
64,False,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9536,tt0115683,en,Bio-Dome,Bud and Doyle are two losers who are doing not...,...,1996-01-12,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Bud and Doyle are here to save the world. But ...,Bio-Dome,False,4.4,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [9]:
(metadata[metadata['release_date'] > '2009-01-01'])

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
868,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,79782,tt1684935,en,Wenecja,An atmospheric coming-of-age story featuring a...,...,2010-05-25,0.0,110.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Venice,False,7.5,4.0
1081,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,141210,tt2250194,en,The Sleepover,"The town of Derry has a secret, but no one tol...",...,2013-10-12,0.0,6.0,[],Released,NaN,The Sleepover,False,8.0,1.0
2114,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.thefarmerswifefilm.co.uk/,143750,tt2140519,en,The Farmer's Wife,"As her surroundings are invaded by outsiders, ...",...,2012-06-20,0.0,18.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Farmer's Wife,False,10.0,1.0
2564,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
2778,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,171982,tt2378428,en,Romance,She's as hot as Britney Spears. Hotter. She pa...,...,2012-10-09,0.0,27.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Romance,False,0.0,0.0
4122,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://brokenkingdomfilm.com/#/kingdomcome,136558,tt2043893,en,Kingdom Come,"The documentary, Kingdom Come follows a first-...",...,2011-01-01,0.0,88.0,[],Released,The unmaking of independent film,Kingdom Come,False,8.0,1.0
4356,False,NaN,3512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
5766,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,78022,tt1790669,en,Da wu sheng,"In the 19th century, the Prince Regent of the ...",...,2011-09-08,0.0,95.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,NaN,My Kingdom,False,4.0,2.0
6563,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,66111,tt1351186,en,Luster,Thomas Luster is a troubled businessman who tr...,...,2010-12-12,0.0,0.0,[],Rumored,Know Your Enemy,Luster,False,4.8,4.0
11155,False,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
11251,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,171771,tt2449612,en,La Cicatrice,The Scar draws an intense psychological suspen...,...,2013-03-03,0.0,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Scar,False,0.0,0.0
12815,False,NaN,130000000,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",https://www.warnerbros.com/watchmen,13183,tt0409459,en,Watchmen,In a gritty and alternate 1985 the glory days ...,...,2009-03-05,185258983.0,163.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice is coming to all of us. No matter wha...,Watchmen,False,7.0,2892.0
13059,False,NaN,32000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.theroad-movie.com/,20766,tt0898367,en,The Road,A father and his son walk alone through burned...,...,2009-11-25,27635305.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In a moment the world changed forever.,The Road,False,6.8,1113.0
13070,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,16166,tt1124394,fi,Sauna,It is 1595. Brutal wars have just ended in an ...,...,2010-06-25,0.0,85.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,Cleanse Your Sins,Sauna,False,6.3,33.0
13174,False,"{'id': 86774, 'name': 'Che Collection', 'poste...",40000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.ifcfilms.com/films/che,8880,tt0374569,en,Che: Part Two,"After the Cuban Revolution, Che is at the heig...",...,2009-01-24,0.0,131.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A revolutionary life.,Che: Part Two,False,6.7,155.0
13297,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.bridewars.com,10521,tt0901476,en,Bride Wars,Two best friends become rivals when their resp...,...,2009-01-09,114663461.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,May the best bride win,Bride Wars,False,5.9,884.0
13300,False,"{'id': 264437, 'name': 'My Bloody Valentine Co...",15000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.mybloodyvalentinein3d.com/,14435,tt1179891,en,My Bloody Valentine,"Ten years ago, a tragedy changed the town of H...",...,2009-01-16,100734718.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's gonna break your heart.,My Bloody Valentine,False,5.3,303.0
13317,False,"{'id': 2326, 'name': 'Underworld Collection', ...",35000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,12437,tt0834001,en,Underworld: Rise of the Lycans,"A prequel to the first two Underworld films, t...",...,2009-01-22,91353501.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every war has a beginning.,Underworld: Rise of the Lycans,False,6.2,1447.0
13334,False,"{'id': 328372, 'name': 'Mall Cop Collection', ...",26000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://paulblartmallcop.com/,14560,tt1114740,en,Paul Blart: Mall Cop,Mild-mannered Paul Blart (Kevin James) has alw...,...,2009-01-15,183293131.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Safety Never Takes A Holiday.,Paul Blart: Mall Cop,False,5.2,807.0
13335,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.notorious09.com,14410,tt0472198,en,Notorious,NOTORIOUS is the story of Christopher Wallace....,...,2009-01-16,43051547.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The story of the man behind the legend.,Notorious,False,6.6,163.0
13336,False,NaN,16000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.theunbornmovie.net/,13788,tt1139668,en,The Unborn,A young woman fights the spirit that is slowly...,...,2009-01-09,76514050.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Evil will do anything to live.,The Unborn,False,4.8,373.0
13343,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.uninvitedmovie.com,14254,tt0815245,en,The Uninvited,Anna returns home after spending time in a psy...,...,2009-01-30,41624046.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Can you believe what you see?,The Uninvited,False,6.3,424.0
13348,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,14549,tt1020055,en,Night Train,Two Passengers (Sobieski and Zahn) and the con...,...,2009-04-15,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Night Train,False,5.4,50.0
13367,False,"{'id': 1974, 'name': 'The Grudge Collection', ...",5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.sonypictures.com/homevideo/thegrudge3/,1977,tt1053859,en,The Grudge 3,"Jake, the sole survivor of The Grudge 2 massac...",...,2009-05-12,38610009.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You can't escape the curse.,The Grudge 3,False,5.3,150.0
13371,False,NaN,60000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://coraline.com/,14836,tt0327597,en,Coraline,"When Coraline moves to an old house, she feels...",...,2009-02-05,124596398.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be careful what you wish for.,Coraline,False,7.3,1432.0
13378,False,NaN,38000000,"[{'id': 28, 'name': 'Action'}]",http://www.push-themovie.com/,13455,tt0465580,en,Push,"After his father, an assassin, is brutally mur...",...,2009-02-06,45465299.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One push can change everything.,Push,False,5.9,671.0
13379,False,NaN,50000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.sonypictures.com/movies/theinternat...,4959,tt0963178,en,The International,An interpol agent and an attorney are determin...,...,2009-02-03,60161391.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Is your money making a killing?,The International,False,6.0,373.0
13381,False,NaN,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.hesjustnotthatintoyoumovie.com/,10184,tt1001508,en,He's Just Not That Into You,Remember that really cute guy who said he'd ca...,...,2009-02-06,177259441.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Are you the exception...or the rule?,He's Just Not That Into You,False,6.2,988.0
13383,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,14849,tt1079444,en,Dead Like Me: Life After Death,When George and her colleagues get a new boss ...,...,2009-02-17,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Like Me: Life After Death,False,5.8,67.0
13393,False,"{'id': 13800, 'name': 'Futurama Collection', '...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,15060,tt1054487,en,Futurama: Into the Wild Green Yonder,Leela becomes an outlaw when she and a group o...,...,2009-02-23,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All the other galaxies will be green with envy!,Futurama: Into the Wild Green Yonder,False,7.2,134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45373,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,426272,tt6598626,en,Take Me,Ray is a fledgling entrepreneur who specialize...,...,2017-05-05,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A good hostage is hard to find.,Take Me,False,6.0,38.0
45374,False,NaN,0,[],NaN,408624,tt5918074,en,A Death in the Gunj,A sensitive university student unraveling whil...,...,2016-09-10,0.0,110.0,"[{'iso_639_1': 'bn', 'name': 'বাংলা'}, {'iso_6...",Released,NaN,A Death in the Gunj,False,7.0,5.0
45375,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,413421,tt5502766,hi,फिल्लौरी,A man is forced to marry a tree to ward off il...,...,2017-03-24,0.0,138.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Some love stories last beyond a lifetime,Phillauri,False,7.1,11.0
45376,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,261871,tt3338382,ru,Полярный рейс,Sometimes New Year eve can bring a lot of surp...,...,2013-12-12,0.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Polar Flight,False,0.0,0.0
45379,False,NaN,2,[],NaN,227143,tt2401213,uk,Іван Сила,"""Strong Ivan"" is a film telling an outstanding...",...,2013-10-02,0.0,80.0,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,Іван Сила,False,7.0,1.0
45380,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",https://www.netflix.com/title/80171022,432789,tt5990342,en,The Incredible Jessica James,"Burned by a bad breakup, a struggling New York...",...,2017-01-27,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Likes are easy, love is hard.",The Incredible Jessica James,False,6.2,37.0
45381,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,264269,tt2400314,ru,Vladeniye 18,"Sveta and Maxim, a happy newlyweds, are moving...",...,2014-03-13,320395.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Apartment 18,False,4.4,4.0
45384,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,434873,tt5735280,en,It Stains the Sands Red,"In the throes of a zombie apocalypse, A troubl...",...,2016-10-08,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If the heat doesn't kill you, something else will",It Stains the Sands Red,False,5.6,21.0
45389,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,370213,tt5278928,fa,Sonita,"If 18-year-old Sonita had a say, Michael Jacks...",...,2015-11-20,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Sonita,False,6.0,1.0
45391,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",http://pixltv.com/cant-buy-my-love-premieres-s...,445126,tt5864238,en,Can't Buy My Love,"Lilly, a hard working EMT, is only focused on ...",...,2017-03-04,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Can't Buy My Love,False,7.0,7.0
45392,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",http://pixltv.com/hopeless-romantic-premieres-...,401687,tt5775814,en,Hopeless Romantic,Hopeless romantic Matt (Brandon W. Jones) deci...,...,2016-06-04,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hopeless Romantic,False,4.3,3.0
45394,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,273279,tt1563665,fr,La peau de chagrin,"In 19th-century France, a man (Thomas Coumans)...",...,2010-09-22,0.0,98.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Skin of Sorrow,False,7.0,1.0
45398,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri Mäntyvaaran tuuheet ripset,NaN,...,2017-07-28,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri Mäntyvaara,False,8.0,1.0
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45401,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,240789,tt1197626,ru,Чудо,The film is based on real events that took pla...,...,2009-10-09,50656.0,110.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Miracle,False,6.3,3.0
45402,False,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,293654,tt3761706,ru,Корпоратив,"Igor, a furniture store manager, tries to figu...",...,2014-09-18,0.0,89.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Corporate Event,False,3.5,4.0
45404,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,102363,tt2117825,ru,Beduin,Rita's daughter is sick with leukemia. In orde...,...,2011-01-01,0.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Bedouin,False,4.0,5.0
45406,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,98604,tt2147597,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",...,2012-02-14,0.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Cinderella,False,4.6,6.0
45407,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97672,tt2258565,ru,Samoubiytsy,Comedy about the crazy adventures of three fri...,...,2012-03-01,0.0,86.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Suicides,False,4.6,4.0
45412,False,NaN,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45417,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,461297,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,...,2017-08-01,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1.0
45427,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,365432,tt4285960,en,The Sublet,The Sublet is a suspense driven psychological ...,...,2015-11-07,0.0,82.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Sublet,False,6.5,4.0
45435,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,63266,tt1489253,en,Fobos. Klub Strakha,Rainy summer evening... Young people are arriv...,...,2010-03-25,0.0,79.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Phobos. Fear Kills,False,3.0,2.0
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [132]:
movies_2017_list = list(movies.find())

In [133]:
movies_2017_df = pd.DataFrame(movies_2017_list)

In [135]:
movies_2017_df.to_csv('data/movies_2017_html.csv')