In [1]:
from selenium import webdriver
import selenium
import time
import pymongo
import requests
from bs4 import BeautifulSoup
import time
import json

import numpy as np
import pandas as pd

In [2]:
mc = pymongo.MongoClient()  # Connect to the MongoDB server using default settings

In [3]:

db = mc['movies_metadata']  # Use (or create) a database called 'movies_metadata'
test = db['test']  # Use (or create) a collection called 'test'

In [4]:
movies = db['movies'] #Create a collection called movies

In [5]:
mc.database_names()

['admin', 'local', 'movies_metadata', 'nyt_dump', 'tweets']

In [32]:
list(movies.collection.find())

NameError: name 'movies_metadata' is not defined

In [6]:
len(list(movies.find()))
#2017 movies populate movies.find first 510 records
#moving on...

1061

In [30]:
#2016 movies:
browser = webdriver.Firefox()
i = 519
browser.get("https://www.the-numbers.com/United-States/movies/year/2016")
while (browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(5)").text != '$0'):
    
    #If the worldwide revenue is a nonzero amount... then go to the direct webpage for the movie
    #Then store that webpage's html code in the pymongo collection
    #The data on the webpage is sorted by worldwide box office revenue in descending order, with all the zero amounts 
    #at the bottom 
    url = browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(1) > b:nth-child(1) > a:nth-child(1)").get_attribute('href')
    # pause between HTTP requests
    browser.get(url)
    DELAY = 5 + 5 * np.random.random() # time to wait between HTTP requests
    time.sleep(DELAY)
    html = browser.page_source
    movies.insert_one({'url': url,
                     'ts': time.time(),
                     'html': html
                     })
    print(i)
    i += 1
    browser.get("https://www.the-numbers.com/United-States/movies/year/2016")

519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552

In [18]:
#2015 movies:
browser = webdriver.Firefox()
i = 483
browser.get("https://www.the-numbers.com/United-States/movies/year/2015")
while (browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(5)").text != '$0'):
    time.sleep(2)
    #If the worldwide revenue is a nonzero amount... then go to the direct webpage for the movie
    #Then store that webpage's html code in the pymongo collection
    url = browser.find_element_by_css_selector("#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(" + str(i) + ") > td:nth-child(1) > b:nth-child(1) > a:nth-child(1)").get_attribute('href')
    # pause between HTTP requests
    browser.get(url)
    DELAY = 5 + 5 * np.random.random() # time to wait between HTTP requests
    time.sleep(DELAY)
    html = browser.page_source
    movies.insert_one({'url': url,
                     'ts': time.time(),
                     'html': html
                     })
    print(i)
    i += 1
    browser.get("https://www.the-numbers.com/United-States/movies/year/2015")

483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523

In [ ]:
#page_filling_chart > center:nth-child(7) > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(523) > td:nth-child(5)

In [23]:
pd.read_html(list(movies.find())[-1]['html'])

[                              0        1        2
 0        Theatrical Performance      NaN      NaN
 1           Domestic Box Office  $83,992  Details
 2  Further financial details...      NaN      NaN,
                                                    0      1        2
 0                                             Record   Rank   Amount
 1  All Time Domestic Box Office (Rank 11,301-11,400)  11385  $83,992
 2  All Time Worldwide Box Office (Rank 15,301-15,...  15359  $83,992
 3  All Time Domestic Highest Grossing Limited Rel...   4217  $83,992,
                         0                                                  1
 0      Domestic Releases:  April 15th, 2016 (Limited) by Oscilloscope Pic...
 1          Video Release:            October 7th, 2016 by Oscilloscope Video
 2            MPAA Rating:                                          Not Rated
 3           Running Time:                                         57 minutes
 4            Comparisons:                  Create your own comparison chart…
 5               Keywords:  1970s, 1980s, New York City, New York, Drug De...
 6                 Source:                          Based on Real Life Events
 7                  Genre:                                        Documentary
 8      Production Method:                                        Live Action
 9          Creative Type:                                            Factual
 10  Production Companies:               Oscilloscope Laboratories, UnionDocs
 11  Production Countries:                                      United States,
                           0     1        2             3               4
 0                    Record  Rank   Amount     ChartDate  Days InRelease
 1  Top 2016 Theater Average    30  $26,088  Apr 15, 2016               3,
                   0   1                   2
 0  Diego Echeverria NaN            Director
 1  Diego Echeverria NaN            Producer
 2      David Loxton NaN  Executive Producer
 3   Fernando Moreno NaN  Associate Producer
 4      Kate Taverna NaN              Editor
 5     Mark Benjamin NaN     Cinematographer
 6      Alicia Weber NaN     Cinematographer
 7    Felipe Borrero NaN      Sound Designer
 8      Ellen Tolmie NaN  Production Manager,
                                                     0      1        2
 0                                              Record   Rank  Revenue
 1   All Time Domestic Box Office (Rank 11,301-11,400)  11385  $83,992
 2   All Time Domestic Inflation Adjusted Box Offic...  10965  $87,099
 3   All Time Domestic Non-Sequel Box Office (Rank ...  10601  $83,992
 4   Top 2016 Movies at the Domestic Box Office (Ra...    388  $83,992
 5   All Time Domestic Highest Grossing Limited Rel...   4217  $83,992
 6   All Time Domestic Inflation Adjusted Box Offic...   4433  $87,099
 7   Top 2016 Limited Release Movies at the Domesti...    223  $83,992
 8   All Time Domestic Box Office for Based on Real...   1206  $83,992
 9   All Time Domestic Box Office for Live Action M...   9543  $83,992
 10  All Time Domestic Box Office for Factual Movie...    747  $83,992
 11  All Time Domestic Box Office for Documentary M...    694  $83,992
 12  All Time Domestic Box Office for Not Rated Mov...   1886  $83,992
 13  All Time Domestic Box Office for Oscilloscope ...     29  $83,992,
             0     1        2         3         4            5            6  \
 0        Date  Rank    Gross  % Change  Theaters  Per Theater  Total Gross
 1  2016/04/15    49  $26,088       NaN         1      $26,088      $26,088
 2  2016/04/22    66   $8,559      -67%         1       $8,559      $48,996
 3  2016/04/29    76   $3,525      -59%         1       $3,525      $59,049
 4  2016/05/06    77   $3,594       +2%         1       $3,594      $66,669
 5  2016/05/13    72   $4,950      +38%         1       $4,950      $72,423
 6  2016/05/20    90   $1,368      -72%         1       $1,368      $76,305
 7  2016/05/27    84   $1,140      -17%         1       $1,140      $79,254
 8  2016/06/24    90     $833       NaN         1         $833      $82,019

       7
 0  Week
 1     1
 2     2
 3     3
 4     4
 5     5
 6     6
 7     7
 8    11  ,
             0     1        2         3         4            5            6  \
 0        Date  Rank    Gross  % Change  Theaters  Per Theater  Total Gross
 1  2016/04/15    46  $40,437       NaN         1      $40,437      $40,437
 2  2016/04/22    62  $15,087      -63%         1      $15,087      $55,524
 3  2016/04/29    82   $7,551      -50%         1       $7,551      $63,075
 4  2016/05/06    89   $4,398      -42%         1       $4,398      $67,473
 5  2016/05/13    79   $7,464      +70%         1       $7,464      $74,937
 6  2016/05/20    87   $3,177      -57%         1       $3,177      $78,114
 7  2016/05/27    80   $3,072       -3%         1       $3,072      $81,186
 8  2016/06/24    86   $2,806       NaN         2       $1,403      $83,992

       7
 0  Week
 1     1
 2     2
 3     3
 4     4
 5     5
 6     6
 7     7
 8    11  ,
                                                    0      1        2
 0                                             Record   Rank  Revenue
 1  All Time Worldwide Box Office (Rank 15,301-15,...  15359  $83,992
 2  All Time Worldwide Non-Sequel Box Office (Rank...  14348  $83,992
 3  All Time Worldwide Box Office for Based on Rea...   1544  $83,992
 4  All Time Worldwide Box Office for Live Action ...  12691  $83,992
 5  All Time Worldwide Box Office for Factual Movi...    962  $83,992
 6  All Time Worldwide Box Office for Documentary ...    885  $83,992
 7  All Time Worldwide Box Office for Not Rated Mo...   2387  $83,992
 8  All Time Worldwide Box Office for Oscilloscope...     35  $83,992]

#What numbers do I need?
Title - from html code itself, should be located somewhere just before the first table

Items below can be extracted from pd.read_html, look into whether its easier to pull from this or directly from the unparsed mongodb format
Domestic Box office
Intl Box office 
Worldwide Box office

Release Date
MPAA Rating
Running Time
Source
Genre
Production Method
Creative Type
Production Companies


Lead Actor 1
Lead Actor 2
Lead Actor 3
Lead Actor 4

Director
Executive Producer
Producer

In [ ]:
#Figure out how to pull one number: Domestic Box Office
j = 0
while j != 99:
    my_tables = pd.read_html(list(test.find())[-1]['html'])
    for k in range(0,len(my_tables)):
        ind_table = my_tables[k]
        for m in range(0,len(ind_table)):
            if ind_table.iloc[m,0] == 'Domestic Box Office':
                dom = ind_table.iloc[m,1]
                print(dom)
    j = 99

In [99]:
len(list(movies.find()))

471

In [27]:
pd.read_html(list(test.find())[-2]['html'])

[                                 0               1        2
 0           Theatrical Performance             NaN      NaN
 1              Domestic Box Office    $936,662,225  Details
 2         International Box Office  $1,122,000,000  Details
 3             Worldwide Box Office  $2,058,662,225      NaN
 4          Home Market Performance             NaN      NaN
 5          Est. Domestic DVD Sales     $37,530,278  Details
 6      Est. Domestic Blu-ray Sales    $150,794,223  Details
 7  Total Est. Domestic Video Sales    $188,324,501      NaN
 8     Further financial details...             NaN      NaN,
                                    0     1               2
 0                             Record  Rank          Amount
 1       All Time Domestic Box Office     1    $936,662,225
 2  All Time International Box Office     4  $1,122,000,000
 3      All Time Worldwide Box Office     3  $2,058,662,225,
                           0                                                  1
 0        Production Budget:                                       $306,000,000
 1        Domestic Releases:  December 18th, 2015 (IMAX) by Walt DisneyDecem...
 2   International Releases:  December 16th, 2015 (Wide) (Belgium) December ...
 3            Video Release:                April 1st, 2016 by Disney/Lucasfilm
 4              MPAA Rating:  PG-13 for sci-fi action violence.(Rating bulle...
 5             Running Time:                                        136 minutes
 6                Franchise:                                          Star Wars
 7              Comparisons:  All-Time Top-Grossing FilmsBlockbusters, 2015v...
 8                 Keywords:  Space Opera, Good vs. Evil, Delayed Sequel, In...
 9                   Source:                                Original Screenplay
 10                   Genre:                                          Adventure
 11       Production Method:                              Animation/Live Action
 12           Creative Type:                                    Science Fiction
 13    Production Companies:                               Lucasfilm, Bad Robot
 14    Production Countries:                                      United States,
                                                     0     1             2  \
 0                                              Record  Rank        Amount
 1                       Biggest Domestic 11th Weekend    84    $2,986,439
 2                       Biggest Domestic 10th Weekend    71    $3,907,295
 3                        Biggest Domestic 9th Weekend    40    $6,159,276
 4           Washington's Birthday (All Movies, 3-Day)   187    $6,159,276
 5   Washington's Birthday (All Movies, 3-Day, Infl...   284    $6,439,243
 6   Washington's Birthday (All Movies, 4-Day, Fri-...   138    $7,640,691
 7   Washington's Birthday (All Movies, 4-Day, Fri-...   158    $7,987,995
 8                        Biggest Domestic 8th Weekend    47    $6,973,316
 9                      Super Bowl (All Movies, 3-Day)    87    $6,973,316
 10  Super Bowl (All Movies, 3-Day, Inflation Adjus...   173    $7,290,285
 11                                   Fastest to $900m     1  $900,844,232
 12                       Biggest Domestic 7th Weekend    18   $11,116,684
 13                       Biggest Domestic 6th Weekend    19   $14,078,648
 14                       Biggest Domestic 5th Weekend     7   $26,342,117
 15                                   Fastest to $850m     1  $852,274,958
 16             Martin Luther King (All Movies, 3-Day)    16   $26,342,117
 17  Martin Luther King (All Movies, 3-Day, Inflati...    24   $27,539,486
 18    Martin Luther King (All Movies, 4-Day, Fri-Mon)    12   $33,020,265
 19  Martin Luther King (All Movies, 4-Day, Fri-Mon...    19   $34,521,186
 20                       Biggest Domestic 4th Weekend     3   $42,353,785
 21                                   Fastest to $800m     1  $800,329,495
 22                                   Fastest to $750m     1  $750,230,824
 23                       Biggest Domestic 3rd Weekend     1   $90,241,673
 24                   Biggest Domestic January Weekend     1   $90,241,673
 25                        Theater Average 3rd Weekend    63       $21,829
 26                 New Year's Day (All Movies, 3-Day)     1   $90,241,673
 27  New Year's Day (All Movies, 3-Day, Inflation A...     1   $94,343,567
 28                                   Fastest to $700m     1  $720,729,671
 29                       Biggest Domestic January Day     2   $34,394,152
 ..                                                ...   ...           ...
 47                            Biggest Domestic Sunday     2   $60,553,189
 48                  Biggest Domestic December Weekend     1  $247,966,675
 49                   Biggest Domestic Opening Weekend     2  $247,966,675
 50                     Top Adventure Weekend Domestic     1  $247,966,675
 51         Top Animation/Live Action Weekend Domestic     2  $247,966,675
 52           Top Original Screenplay Weekend Domestic     1  $247,966,675
 53                         Top PG-13 Weekend Domestic     2  $247,966,675
 54               Top Science Fiction Weekend Domestic     1  $247,966,675
 55                    Biggest Domestic Sequel Weekend     2  $247,966,675
 56                   Top Walt Disney Weekend Domestic     2  $247,966,675
 57                           Biggest Domestic Weekend     2  $247,966,675
 58                                   Fastest to $200m     2  $247,966,675
 59                    Theater Average Opening Weekend    88       $59,982
 60                       Front-Loaded Opening Weekend    37         48.0%
 61                           Top 2015 Theater Average     7       $59,982
 62                             Widest Opening Weekend    51          4134
 63                          Biggest Domestic Saturday     4   $68,294,204
 64                                   Fastest to $150m     2  $187,413,486
 65                         Top Adventure Day Domestic     1  $119,119,282
 66             Top Animation/Live Action Day Domestic     1  $119,119,282
 67               Top Original Screenplay Day Domestic     1  $119,119,282
 68                             Top PG-13 Day Domestic     1  $119,119,282
 69                   Top Science Fiction Day Domestic     1  $119,119,282
 70                        Biggest Domestic Sequel Day     1  $119,119,282
 71                       Top Walt Disney Day Domestic     1  $119,119,282
 72                      Biggest Domestic December Day     1  $119,119,282
 73                            Biggest Domestic Friday     1  $119,119,282
 74                               Biggest Domestic Day     1  $119,119,282
 75                                   Fastest to $100m     1  $119,119,282
 76                                    Fastest to $50m     1  $119,119,282

                3               4
 0      ChartDate  Days InRelease
 1   Feb 26, 2016              73
 2   Feb 19, 2016              66
 3   Feb 12, 2016              59
 4   Feb 12, 2016              59
 5   Feb 12, 2016              59
 6   Feb 12, 2016              59
 7   Feb 12, 2016              59
 8    Feb 5, 2016              52
 9    Feb 5, 2016              52
 10   Feb 5, 2016              52
 11   Feb 5, 2016              50
 12  Jan 29, 2016              45
 13  Jan 22, 2016              38
 14  Jan 15, 2016              31
 15  Jan 15, 2016              31
 16  Jan 15, 2016              31
 17  Jan 15, 2016              31
 18  Jan 15, 2016              31
 19  Jan 15, 2016              31
 20   Jan 8, 2016              24
 21   Jan 8, 2016              23
 22   Jan 1, 2016              18
 23   Jan 1, 2016              17
 24   Jan 1, 2016              17
 25   Jan 1, 2016              17
 26   Jan 1, 2016              17
 27   Jan 1, 2016              17
 28   Jan 1, 2016              16
 29   Jan 1, 2016              15
 ..           ...             ...
 47  Dec 20, 2015               3
 48  Dec 18, 2015               3
 49  Dec 18, 2015               3
 50  Dec 18, 2015               3
 51  Dec 18, 2015               3
 52  Dec 18, 2015               3
 53  Dec 18, 2015               3
 54  Dec 18, 2015               3
 55  Dec 18, 2015               3
 56  Dec 18, 2015               3
 57  Dec 18, 2015               3
 58  Dec 18, 2015               3
 59  Dec 18, 2015               3
 60  Dec 18, 2015               3
 61  Dec 18, 2015               3
 62  Dec 18, 2015               3
 63  Dec 19, 2015               2
 64  Dec 18, 2015               2
 65  Dec 18, 2015               1
 66  Dec 18, 2015               1
 67  Dec 18, 2015               1
 68  Dec 18, 2015               1
 69  Dec 18, 2015               1
 70  Dec 18, 2015               1
 71  Dec 18, 2015               1
 72  Dec 18, 2015               1
 73  Dec 18, 2015               1
 74  Dec 18, 2015               1
 75  Dec 18, 2015               1
 76  Dec 18, 2015               1

 [77 rows x 5 columns],
               0   1         2
 0   Adam Driver NaN  Kylo Ren
 1  Daisy Ridley NaN       Rey
 2   John Boyega NaN      Finn,
                             0   1                        2
 0               Harrison Ford NaN                 Han Solo
 1                 Mark Hamill NaN           Luke Skywalker
 2               Carrie Fisher NaN                     Leia
 3                 Oscar Isaac NaN              Poe Dameron
 4              Lupita Nyong'o NaN               Maz Kanata
 5                 Andy Serkis NaN     Supreme Leader Snoke
 6            Domhnall Gleeson NaN              General Hux
 7             Anthony Daniels NaN                    C-3PO
 8                Peter Mayhew NaN                Chewbacca
 9               Max von Sydow NaN  Lor San Tekka/The Vicar
 10                Kenny Baker NaN                    R2-D2
 11        Gwendoline Christie NaN           Captain Phasma
 12              Warwick Davis NaN                 Wollivan
 13                 Simon Pegg NaN              Unkar Plutt
 14  Maisie Richardson Sellers NaN               Korr Sella
 15               Pip Andersen NaN                     Slip
 16                   Tim Rose NaN           Admiral Ackbar
 17            Jessica Henwick NaN             Jessica Pava
 18              Greg Grunberg NaN              Snap Wexley
 19                  Iko Uwais NaN           Razoo Quin-Fee
 20               Yayan Ruhian NaN               Tasu Leech
 21                Pip Torrens NaN           Colonel Kaplan
 22                 Kiran Shah NaN                    Teedo
 23          Sebastian Armesto NaN        Lieutenant Mitaka
 24                  Ken Leung NaN          Admiral Statura
 25              Anna Brewster NaN             Bazine Netal
 26             Harriet Walter NaN              Dr. Kalonia
 27            Erik Bauersfeld NaN           Admiral Ackbar
 28          Michael Giacchino NaN                  FN-3181
 29          Judah Friedlander NaN               Bar Patron
 30             Victor McGuire NaN               Bar Patron
 31         Francesca Longrigg NaN               Bar Patron
 32              Gerald Abrams NaN          Captain Cypress
 33                Jim McGrath NaN      Vice Admiral Resdox
 34             Kate Fleetwood NaN      First Order Officer
 35                 Bill Hader NaN    BB-8 Voice Consultant,
                          0   1  \
 0              J.J. Abrams NaN
 1              J.J. Abrams NaN
 2          Lawrence Kasdan NaN
 3            Michael Arndt NaN
 4         Kathleen Kennedy NaN
 5              J.J. Abrams NaN
 6               Bryan Burk NaN
 7             Tommy Harper NaN
 8           Jason McGatlin NaN
 9               Dan Mindel NaN
 10             Rick Carter NaN
 11          Darren Gilford NaN
 12          Mary Jo Markey NaN
 13         Maryann Brandon NaN
 14          Michael Kaplan NaN
 15           John Williams NaN
 16            George Lucas NaN
 17            Roger Guyett NaN
 18          Chris Corbould NaN
 19            Tommy Harper NaN
 20           Simon Emanuel NaN
 21           April Webster NaN
 22         Alyssa Weisberg NaN
 23               Nina Gold NaN
 24         Jessica Sherman NaN
 25             Rachel Dill NaN
 26               Ben Burtt NaN
 27           Gary Rydstrom NaN
 28            Matthew Wood NaN
 29             David Acord NaN
 30           Gary Rydstrom NaN
 31             Andy Nelson NaN
 32  Christopher Scarabosio NaN
 33            Neal Scanlan NaN
 34             Janet Lewin NaN
 35            Luke O'Byrne NaN
 36           Tommy Gormley NaN
 37            Roger Guyett NaN
 38             Neil Lamont NaN
 39             James Clyne NaN
 40              Rob Cowper NaN
 41    Hayley Easton-Street NaN
 42             Mark Harris NaN
 43           Ashley Lamont NaN
 44           Andrew Palmer NaN
 45             Stuart Rose NaN
 46           James Collins NaN
 47             Peter Dorme NaN
 48               Jo Finkel NaN
 49           Kevin Jenkins NaN
 50          Mary Mackenzie NaN
 51          Oliver Roberts NaN
 52           Stephen Swain NaN
 53            Lee Sandales NaN
 54           Michael Arndt NaN
 55           Stuart Wilson NaN
 56           Paul Kavanagh NaN

                                                     2
 0                                            Director
 1                                        Screenwriter
 2                                        Screenwriter
 3                                        Screenwriter
 4                                            Producer
 5                                            Producer
 6                                            Producer
 7                                  Executive Producer
 8                                  Executive Producer
 9                             Director of Photography
 10                                Production Designer
 11                                Production Designer
 12                                             Editor
 13                                             Editor
 14                                   Costume Designer
 15                                           Composer
 16                                  Character Creator
 17                          Visual Effects Supervisor
 18                         Special Effects Supervisor
 19                                      Line Producer
 20                                 Production Manager
 21                                   Casting Director
 22                                   Casting Director
 23                                   Casting Director
 24               Additional Casting-Casting Associate
 25               Additional Casting-Casting Assistant
 26                                     Sound Designer
 27                                     Sound Designer
 28                           Supervising Sound Editor
 29                           Supervising Sound Editor
 30                                 Re-recording Mixer
 31                                 Re-recording Mixer
 32                                 Re-recording Mixer
 33  Creature Designer-Creature and Droid Effects C...
 34                            Visual Effects Producer
 35                            Visual Effects Producer
 36                           First Assistant Director
 37                               Second Unit Director
 38                           Supervising Art Director
 39                                       Art Director
 40                                       Art Director
 41                                       Art Director
 42                                       Art Director
 43                                       Art Director
 44                                       Art Director
 45                                       Art Director
 46                                       Art Director
 47                                       Art Director
 48                                       Art Director
 49                                       Art Director
 50                                       Art Director
 51                                       Art Director
 52                                       Art Director
 53                                      Set Decorator
 54                                 Associate Producer
 55                                        Sound Mixer
 56                                     Visual Effects  ,
                                                     0     1             2
 0                                              Record  Rank       Revenue
 1                        All Time Domestic Box Office     1  $936,662,225
 2     All Time Domestic Inflation Adjusted Box Office     4  $991,399,500
 3                 All Time Domestic Sequel Box Office     1  $936,662,225
 4          Top 2015 Movies at the Domestic Box Office     1  $936,662,225
 5   All Time Domestic Box Office for Original Scre...     1  $936,662,225
 6   All Time Domestic Box Office for Animation/Liv...     1  $936,662,225
 7   All Time Domestic Box Office for Science Ficti...     1  $936,662,225
 8   All Time Domestic Box Office for Adventure Movies     1  $936,662,225
 9       All Time Domestic Box Office for PG-13 Movies     1  $936,662,225
 10  All Time Domestic Box Office for Walt Disney M...     1  $936,662,225,
              0     1             2         3         4            5  \
 0         Date  Rank         Gross  % Change  Theaters  Per Theater
 1   2015/12/18     1  $247,966,675       NaN      4134      $59,982
 2   2015/12/25     1  $149,202,860      -40%      4134      $36,092
 3   2016/01/01     1   $90,241,673      -40%      4134      $21,829
 4   2016/01/08     1   $42,353,785      -53%      4134      $10,245
 5   2016/01/15     3   $26,342,117      -38%      3822       $6,892
 6   2016/01/22     2   $14,078,648      -47%      3365       $4,184
 7   2016/01/29     3   $11,116,684      -21%      2556       $4,349
 8   2016/02/05     3    $6,973,316      -37%      2262       $3,083
 9   2016/02/12     7    $6,159,276      -12%      1810       $3,403
 10  2016/02/19     8    $3,907,295      -37%      1618       $2,415
 11  2016/02/26    11    $2,986,439      -24%      1433       $2,084
 12  2016/03/04    13    $1,864,704      -38%      1021       $1,826
 13  2016/03/11    14    $1,297,752      -30%       760       $1,708
 14  2016/03/18    17      $966,071      -26%       568       $1,701
 15  2016/03/25    13      $816,484      -15%       552       $1,479
 16  2016/04/01    15      $681,629      -17%       462       $1,475
 17  2016/04/08    19      $378,923      -44%       346       $1,095
 18  2016/04/15    24      $190,152      -50%       260         $731
 19  2016/04/22    28      $153,949      -19%       208         $740
 20  2016/05/06    33      $107,160       NaN       117         $916
 21  2016/05/13    34      $102,490       -4%        78       $1,314
 22  2016/05/20    34       $87,340      -15%        58       $1,506
 23  2016/05/27    44       $16,762      -81%        20         $838

                6     7
 0    Total Gross  Week
 1   $247,966,675     1
 2   $540,058,914     2
 3   $742,208,942     3
 4   $812,734,828     4
 5   $852,274,958     5
 6   $879,110,994     6
 7   $895,760,846     7
 8   $906,044,785     8
 9   $914,804,240     9
 10  $921,713,590    10
 11  $925,988,323    11
 12  $928,842,219    12
 13  $930,757,012    13
 14  $932,324,258    14
 15  $933,674,012    15
 16  $934,898,148    16
 17  $935,528,312    17
 18  $935,832,841    18
 19  $936,064,861    19
 20  $936,390,462    21
 21  $936,519,683    22
 22  $936,627,416    23
 23  $936,658,640    24  ,
               0     1             2         3         4            5  \
 0          Date  Rank         Gross  % Change  Theaters  Per Theater
 1    2015/12/18     1  $119,119,282       NaN      4134      $28,815
 2    2015/12/19     1   $68,294,204      -43%      4134      $16,520
 3    2015/12/20     1   $60,553,189      -11%      4134      $14,648

In [41]:
list(test.find())[-2]['html'].index('<h1 itemprop="name">')

32767

In [55]:
list(test.find())[-1]['html'].index('</h1>')

34584

In [54]:
list(test.find())[-1]['html'][32787]

'>'

In [48]:
[list(test.find())[-2]['html'].index('<h1 itemprop="name">'),list(test.find())[-2]['html'].index('<h1 itemprop="name">') + 20]

[32767, 32787]

In [53]:
list(test.find())[-2]['html'][32787:32830]

'Star Wars Ep. VII: The Force Awakens (2015)'

In [82]:
movie_titles = []
# for i in range(len(list(test.find()))):
for i in range(10):
    title_start_index = list(movies.find())[i]['html'].index('<h1 itemprop="name">')
#     print(title_start_index)
#     print(title_start_index + 20)
    title_end_index = list(movies.find())[i]['html'].index('</h1>')
    print(list(movies.find())[i]['html'][(title_start_index + 20): title_end_index])

Star Wars Ep. VIII: The Last Jedi (2017)
Beauty and the Beast (2017)
The Fate of the Furious (2017)
Despicable Me 3 (2017)
Jumanji: Welcome to the Jungle (2017)
Spider-Man: Homecoming (2017)
Guardians of the Galaxy Vol 2 (2017)
Thor: Ragnarok (2017)
Wonder Woman (2017)
Coco (2017)

In [50]:
import sys
sys.getsizeof(list(movies.find()))

13904

In [83]:
url

'https://www.the-numbers.com/movie/Addicted-to-Fresno#tab=summary'

In [92]:
retrieved_document = movies.find_one({'url': 'https://www.the-numbers.com/movie/Star-Wars-Ep-VIII-The-Last-Jedi#tab=summary'})

In [89]:
import pymongo
import requests
from bs4 import BeautifulSoup
import time
import json

In [517]:
len(list(movies.find()))

1583

In [ ]:
#This code works for pulling out movie titles from 15 movies. need to put into function and loop over entire db (as of 
#5/9/18 it is about 1500 elements long)

movie_titles = []
for i in range(5):
    retrieved_document = movies.find()[i]
    soup = BeautifulSoup(retrieved_document['html'], 'html.parser')
    movie_title = soup.find('h1', attrs = {"itemprop":"name"}).text
    movie_titles.append(movie_title)
    print(movie_title)

In [445]:
#This code works for pulling out three main figures from one movie. need to for loop it put into function and loop that
#to make it go over all movies in the collection.
# retrieved_document = movies.find_one({'url': 'https://www.the-numbers.com/movie/Skin-Trade#tab=summary'})
retrieved_document = movies.find()[0]

soup = BeautifulSoup(retrieved_document['html'], 'html.parser')
dom = 0
intl = 0
ww = 0


for i in range(5):
    if soup.select('td')[i].text == 'Domestic Box Office':
        dom = soup.select('td')[i+1].text.strip('$')
        dom = int(dom.replace(',',''))
    if soup.select('td')[i].text == 'International Box Office':
        intl = soup.select('td')[i+1].text.strip('$')
        intl = int(intl.replace(',',''))
    if soup.select('td')[i].text == 'Worldwide Box Office':
        ww = soup.select('td')[i+1].text.strip('$')
        ww = int(ww.replace(',',''))


if ww == 0:
    ww = dom + intl


print(dom)
print(intl)
print(ww)
%time

620181382
700032859
1320214241
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.01 µs

In [471]:
soup.findAll('td', text = 'Production Budget:')

[]

In [472]:
soup.findAll('b')

[<b>Theatrical Performance</b>,
 <b>Domestic Box Office</b>,
 <b>International Box Office</b>,
 <b>Worldwide Box Office</b>,
 <b>Domestic Releases:</b>,
 <b>International Releases:</b>,
 <b><a href="#tab=video-sales">Video Release:</a></b>,
 <b>MPAA Rating:</b>,
 <b>Running Time:</b>,
 <b>Franchise:</b>,
 <b>Comparisons:</b>,
 <b>Keywords:</b>,
 <b>Source:</b>,
 <b>Genre:</b>,
 <b>Production Method:</b>,
 <b>Creative Type:</b>,
 <b>Production Companies:</b>,
 <b>Production Countries:</b>,
 <b><a href="/person/60740401-Mark-Hamill" itemprop="url"><span itemprop="name">Mark Hamill</span></a></b>,
 <b><a href="/person/48440401-Carrie-Fisher" itemprop="url"><span itemprop="name">Carrie Fisher</span></a></b>,
 <b><a href="/person/287130401-Adam-Driver" itemprop="url"><span itemprop="name">Adam Driver</span></a></b>,
 <b><a href="/person/921750401-Daisy-Ridley" itemprop="url"><span itemprop="name">Daisy Ridley</span></a></b>,
 <b><a href="/person/256230401-John-Boyega" itemprop="url"><span itemprop="name">John Boyega</span></a></b>,
 <b><a href="/person/70200401-Oscar-Isaac" itemprop="url"><span itemprop="name">Oscar Isaac</span></a></b>,
 <b><a href="/person/175390401-Domhnall-Gleeson" itemprop="url"><span itemprop="name">Domhnall Gleeson</span></a></b>,
 <b><a href="/person/35650401-Anthony-Daniels" itemprop="url"><span itemprop="name">Anthony Daniels</span></a></b>,
 <b><a href="/person/481340401-Gwendoline-Christie" itemprop="url"><span itemprop="name">Gwendoline Christie</span></a></b>,
 <b><a href="/person/1317060401-Kelly-Marie-Tran" itemprop="url"><span itemprop="name">Kelly Marie Tran</span></a></b>,
 <b><a href="/person/38290401-Benicio-del-Toro" itemprop="url"><span itemprop="name">Benicio del Toro</span></a></b>,
 <b><a href="/person/129920401-Andy-Serkis">Andy Serkis</a></b>,
 <b><a href="/person/469110401-Lupita-Nyong-o">Lupita Nyong'o</a></b>,
 <b><a href="/person/38970401-Laura-Dern">Laura Dern</a></b>,
 <b><a href="/person/412460401-Rian-Johnson" itemprop="url"><span itemprop="name">Rian Johnson</span></a></b>,
 <b><a href="/person/412460401-Rian-Johnson">Rian Johnson</a></b>,
 <b><a href="/person/189790401-Kathleen-Kennedy">Kathleen Kennedy</a></b>,
 <b><a href="/person/227560401-Ram-Bergman">Ram Bergman</a></b>,
 <b><a href="/person/42010401-Bob-Ducsay">Bob Ducsay</a></b>,
 <b><a href="/person/199650401-John-Williams">John Williams</a></b>,
 <b><a href="/person/214330401-Steve-Yedlin">Steve Yedlin</a></b>,
 <b>Bold</b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Argentina#tab=box-office">Argentina</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Australia#tab=box-office">Australia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Belgium#tab=box-office">Belgium</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Brazil#tab=box-office">Brazil</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Bulgaria#tab=box-office">Bulgaria</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Cambodia#tab=box-office">Cambodia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Chile#tab=box-office">Chile</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/China#tab=box-office">China</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Colombia#tab=box-office">Colombia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Croatia#tab=box-office">Croatia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Cyprus#tab=box-office">Cyprus</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Czech-Republic#tab=box-office">Czech Republic</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Denmark#tab=box-office">Denmark</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Estonia#tab=box-office">Estonia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Finland#tab=box-office">Finland</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/France#tab=box-office">France</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Germany#tab=box-office">Germany</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Greece#tab=box-office">Greece</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Hong-Kong#tab=box-office">Hong Kong</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Hungary#tab=box-office">Hungary</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/India#tab=box-office">India</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Indonesia#tab=box-office">Indonesia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Ireland#tab=box-office">Ireland</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Israel#tab=box-office">Israel</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Italy#tab=box-office">Italy</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Japan#tab=box-office">Japan</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Kuwait#tab=box-office">Kuwait</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Lithuania#tab=box-office">Lithuania</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Malaysia#tab=box-office">Malaysia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Mexico#tab=box-office">Mexico</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Netherlands#tab=box-office">Netherlands</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/New-Zealand#tab=box-office">New Zealand</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Norway#tab=box-office">Norway</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Pakistan#tab=box-office">Pakistan</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Philippines#tab=box-office">Philippines</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Poland#tab=box-office">Poland</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Portugal#tab=box-office">Portugal</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Romania#tab=box-office">Romania</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Russia-(CIS)#tab=box-office">Russia (CIS)</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Serbia-and-Montenegro#tab=box-office">Serbia and Montenegro</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Singapore#tab=box-office">Singapore</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Slovakia#tab=box-office">Slovakia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Slovenia#tab=box-office">Slovenia</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/South-Africa#tab=box-office">South Africa</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/South-Korea#tab=box-office">South Korea</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Spain#tab=box-office">Spain</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Sweden#tab=box-office">Sweden</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Taiwan#tab=box-office">Taiwan</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Turkey#tab=box-office">Turkey</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Ukraine#tab=box-office">Ukraine</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/United-Kingdom#tab=box-office">United Kingdom</a></b>,
 <b><a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Vietnam#tab=box-office">Vietnam</a></b>,
 <b>Rest of World</b>,
 <b>International Total</b>,
 <b>$700,032,859</b>,
 <b>© 1997-2018 <a href="https://www.opusdata.com" rel="nofollow">Nash Information Services, LLC</a>. All rights reserved.</b>,
 <b>The Numbers is a registered trademark of Nash Information Services, LLC</b>,
 <b>For comments or corrections, please email us at <a href="mailto:corrections@the-numbers.com">corrections@the-numbers.com</a></b>]

In [ ]:
#This code works for pulling out three main figures from one movie. need to for loop it put into function and loop that
#to make it go over all movies in the collection.
# retrieved_document = movies.find_one({'url': 'https://www.the-numbers.com/movie/Skin-Trade#tab=summary'})
retrieved_document = movies.find()[0]

soup = BeautifulSoup(retrieved_document['html'], 'html.parser')
dom = 0
intl = 0
ww = 0

for i in range(5):
    if soup.select('td')[i].text == 'Domestic Box Office':
        dom = soup.select('td')[i+1].text.strip('$')
        dom = int(dom.replace(',',''))
    if soup.select('td')[i].text == 'International Box Office':
        intl = soup.select('td')[i+1].text.strip('$')
        intl = int(intl.replace(',',''))
    if soup.select('td')[i].text == 'Worldwide Box Office':
        ww = soup.select('td')[i+1].text.strip('$')
        ww = int(ww.replace(',',''))


if ww == 0:
    ww = dom + intl

print(dom)
print(intl)
print(ww)
%time

In [366]:
soup.select('table')

[<table id="movie_finances">
 <tbody><tr class="heading">
 <td colspan="3"><b>Theatrical Performance</b></td>
 </tr>
 <tr>
 <td><b>Domestic Box Office</b></td>
 <td class="data">$620,181,382</td><td><a href="#tab=box-office">Details</a></td>
 </tr>
 <tr>
 <td><b>International Box Office</b></td>
 <td class="data sum">$700,032,859</td><td><a href="#tab=international">Details</a></td>
 </tr>
 <tr>
 <td><b>Worldwide Box Office</b></td>
 <td class="data">$1,320,214,241</td><td></td>
 </tr>
 <tr class="heading"><td class="headed" colspan="3"><a class=" inactive" href="#more">Further financial details...</a></td></tr>
 </tbody></table>,
 <table id="movie_ratings"><tbody><tr class="heading"></tr></tbody></table>,
 <table>
 <tbody><tr><th>Record</th><th>Rank</th><th>Amount</th></tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/cumulative/all-time">All Time Domestic Box Office</a></td>
 <td align="right">7</td>
 <td align="right">$620,181,382</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/international/all-movies/cumulative/all-time">All Time International Box Office</a></td>
 <td align="right">26</td>
 <td align="right">$700,032,859</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/worldwide/all-movies/cumulative/all-time">All Time Worldwide Box Office</a></td>
 <td align="right">10</td>
 <td align="right">$1,320,214,241</td>
 </tr>
 </tbody></table>,
 <table>
 <tbody><tr><td><b>Domestic Releases:</b></td>
 <td>December 15th, 2017 (Wide) by <a href="/market/distributor/Walt-Disney">Walt Disney</a><br/>December 15th, 2017 (IMAX) by <a href="/market/distributor/Walt-Disney">Walt Disney</a></td></tr>
 <tr><td><b>International Releases:</b></td>
 <td>December 13th, 2017 (Wide) (<a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Belgium#tab=summary">Belgium</a>)
 <br/>December 13th, 2017 (Wide) (<a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Brazil#tab=summary">Brazil</a>)
 <br/>December 13th, 2017 (Wide) (<a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Colombia#tab=summary">Colombia</a>)
 <br/>December 13th, 2017 (Wide) (<a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Denmark#tab=summary">Denmark</a>)
 <br/>December 13th, 2017 (Wide) (<a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi/Finland#tab=summary">Finland</a>)
 <br/><a class=" inactive" href="#international">... Show all releases</a>
 </td></tr>
 <tr><td><b><a href="#tab=video-sales">Video Release:</a></b></td>
 <td>March 13th, 2018 by <a href="/home-market/distributor/Walt-Disney-Home-Entertainment">Walt Disney Home Entertainment</a></td></tr>
 <tr><td><b>MPAA Rating:</b></td>
 <td><a href="/market/mpaa-rating/PG-13-(US)">PG-13</a> for sequences of sci-fi action and violence.<br/>(Rating bulletin 2503 (Cert #51222), 11/22/2017)</td></tr>
 <tr><td><b>Running Time:</b></td>
 <td>150 minutes</td></tr>
 <tr><td><b>Franchise:</b></td>
 <td><a href="/movies/franchise/Star-Wars">Star Wars</a></td></tr>
 <tr><td><b>Comparisons:</b></td>
 <td><a href="/movies/comparisons/All-Time-Top-Grossing-Films">All-Time Top-Grossing Films</a><br/><a href="/movies/custom-comparisons/Star-Wars-Ep-VIII-The-Last-Jedi/Black-Panther">vs. Black Panther</a><br/><a href="/movies/custom-comparisons/Star-Wars-Ep-VIII-The-Last-Jedi">Create your own comparison chart…</a></td></tr>
 <tr><td><b>Keywords:</b></td>
 <td><a href="/movies/keywords/Space-Opera">Space Opera</a>, <a href="/movies/keywords/Robot">Robot</a>, <a href="/movies/keywords/Good-vs-Evil">Good vs. Evil</a>, <a href="/movies/keywords/Outer-Space">Outer Space</a>, <a href="/movies/keywords/Dysfunctional-Family">Dysfunctional Family</a>, <a href="/movies/keywords/Intertitle">Intertitle</a>, <a href="/movies/keywords/Family-Affair">Family Affair</a>, <a href="/movies/keywords/Fugitive">Fugitive / On the Run</a>, <a href="/movies/keywords/Gambling">Gambling</a>, <a href="/movies/keywords/Prison-Break">Prison Break</a>, <a href="/movies/keywords/Twins">Twins</a>, <a href="/movies/keywords/Death-of-a-Sibling">Death of a Sibling</a>, <a href="/movies/keywords/Posthumous-Release">Posthumous Release</a></td></tr>
 <tr><td><b>Source:</b></td><td><a href="/market/source/Original-Screenplay">Original Screenplay</a></td></tr>
 <tr><td><b>Genre:</b></td><td><a href="/market/genre/Adventure">Adventure</a></td></tr>
 <tr><td><b>Production Method:</b></td><td><a href="/market/production-method/Live-Action">Live Action</a></td></tr>
 <tr><td><b>Creative Type:</b></td><td><a href="/market/creative-type/Science-Fiction">Science Fiction</a></td></tr>
 <tr><td><b>Production Companies:</b></td>
 <td><a href="/movies/production-company/Lucasfilm">Lucasfilm</a>, <a href="/movies/production-company/Walt-Disney-Pictures">Walt Disney Pictures</a></td></tr>
 <tr><td><b>Production Countries:</b></td>
 <td><a href="/United-States/movies">United States</a></td></tr>
 </tbody></table>,
 <table>
 <tbody><tr><th>Record</th><th>Rank</th><th>Amount</th><th>Chart<br/>Date</th><th>Days In<br/>Release</th></tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-600m">Fastest to $600m</a></td>
 <td align="right">4</td>
 <td align="right">$602,512,582</td>
 <td>Jan 19, 2018</td>
 <td align="right">37</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/5th">Biggest Domestic 5th Weekend</a></td>
 <td align="right">58</td>
 <td align="right">$11,854,481</td>
 <td>Jan 12, 2018</td>
 <td align="right">31</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies/martin-luther-king">Martin Luther King (All Movies, 3-Day)</a></td>
 <td align="right">70</td>
 <td align="right">$11,854,481</td>
 <td>Jan 12, 2018</td>
 <td align="right">31</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies-infl-adj/martin-luther-king">Martin Luther King (All Movies, 3-Day, Inflation Adjusted)</a></td>
 <td align="right">167</td>
 <td align="right">$11,608,591</td>
 <td>Jan 12, 2018</td>
 <td align="right">31</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-4-day-all-movies/martin-luther-king">Martin Luther King (All Movies, 4-Day, Fri-Mon)</a></td>
 <td align="right">65</td>
 <td align="right">$14,627,721</td>
 <td>Jan 12, 2018</td>
 <td align="right">31</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-4-day-all-movies-infl-adj/martin-luther-king">Martin Luther King (All Movies, 4-Day, Fri-Mon, Inflation Adjusted)</a></td>
 <td align="right">108</td>
 <td align="right">$14,324,308</td>
 <td>Jan 12, 2018</td>
 <td align="right">31</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/4th">Biggest Domestic 4th Weekend</a></td>
 <td align="right">23</td>
 <td align="right">$23,728,944</td>
 <td>Jan 5, 2018</td>
 <td align="right">24</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-month/january">Biggest Domestic January Weekend</a></td>
 <td align="right">57</td>
 <td align="right">$23,728,944</td>
 <td>Jan 5, 2018</td>
 <td align="right">24</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-550m">Fastest to $550m</a></td>
 <td align="right">2</td>
 <td align="right">$555,486,075</td>
 <td>Jan 5, 2018</td>
 <td align="right">22</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-month/january">Biggest Domestic January Day</a></td>
 <td align="right">43</td>
 <td align="right">$14,293,461</td>
 <td>Jan 1, 2018</td>
 <td align="right">18</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/3rd">Biggest Domestic 3rd Weekend</a></td>
 <td align="right">6</td>
 <td align="right">$52,520,140</td>
 <td>Dec 29, 2017</td>
 <td align="right">17</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies/new-years-day">New Year's Day (All Movies, 3-Day)</a></td>
 <td align="right">3</td>
 <td align="right">$52,520,140</td>
 <td>Dec 29, 2017</td>
 <td align="right">17</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies-infl-adj/new-years-day">New Year's Day (All Movies, 3-Day, Inflation Adjusted)</a></td>
 <td align="right">5</td>
 <td align="right">$53,292,495</td>
 <td>Dec 29, 2017</td>
 <td align="right">17</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-500m">Fastest to $500m</a></td>
 <td align="right">2</td>
 <td align="right">$503,651,719</td>
 <td>Dec 29, 2017</td>
 <td align="right">16</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/thursday">Biggest Domestic Thursday</a></td>
 <td align="right">14</td>
 <td align="right">$19,490,329</td>
 <td>Dec 28, 2017</td>
 <td align="right">14</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-450m">Fastest to $450m</a></td>
 <td align="right">3</td>
 <td align="right">$464,698,228</td>
 <td>Dec 22, 2017</td>
 <td align="right">14</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/wednesday">Biggest Domestic Wednesday</a></td>
 <td align="right">18</td>
 <td align="right">$21,846,132</td>
 <td>Dec 27, 2017</td>
 <td align="right">13</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/tuesday">Biggest Domestic Tuesday</a></td>
 <td align="right">5</td>
 <td align="right">$27,734,356</td>
 <td>Dec 26, 2017</td>
 <td align="right">12</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-400m">Fastest to $400m</a></td>
 <td align="right">5</td>
 <td align="right">$423,361,767</td>
 <td>Dec 22, 2017</td>
 <td align="right">12</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/monday">Biggest Domestic Monday</a></td>
 <td align="right">6</td>
 <td align="right">$27,459,557</td>
 <td>Dec 25, 2017</td>
 <td align="right">11</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/2nd">Biggest Domestic 2nd Weekend</a></td>
 <td align="right">15</td>
 <td align="right">$71,565,498</td>
 <td>Dec 22, 2017</td>
 <td align="right">10</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies/christmas">Christmas (All Movies, 3-Day)</a></td>
 <td align="right">3</td>
 <td align="right">$71,565,498</td>
 <td>Dec 22, 2017</td>
 <td align="right">10</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/holiday-3-day-all-movies-infl-adj/christmas">Christmas (All Movies, 3-Day, Inflation Adjusted)</a></td>
 <td align="right">6</td>
 <td align="right">$72,617,932</td>
 <td>Dec 22, 2017</td>
 <td align="right">10</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-350m">Fastest to $350m</a></td>
 <td align="right">5</td>
 <td align="right">$350,537,855</td>
 <td>Dec 22, 2017</td>
 <td align="right">9</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-300m">Fastest to $300m</a></td>
 <td align="right">4</td>
 <td align="right">$321,365,440</td>
 <td>Dec 22, 2017</td>
 <td align="right">8</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-250m">Fastest to $250m</a></td>
 <td align="right">4</td>
 <td align="right">$261,820,146</td>
 <td>Dec 15, 2017</td>
 <td align="right">5</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/sunday">Biggest Domestic Sunday</a></td>
 <td align="right">6</td>
 <td align="right">$51,331,888</td>
 <td>Dec 17, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-month/december">Biggest Domestic December Weekend</a></td>
 <td align="right">2</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/opening">Biggest Domestic Opening Weekend</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-genre/adventure">Top Adventure Weekend Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-production-method/live-action">Top Live Action Weekend Domestic</a></td>
 <td align="right">1</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-source/original-screenplay">Top Original Screenplay Weekend Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-mpaa-rating/pg-13-(us)">Top PG-13 Weekend Domestic</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-creative-type/science-fiction">Top Science Fiction Weekend Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/sequel">Biggest Domestic Sequel Weekend</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-weekend-by-theatrical-distributor/walt-disney">Top Walt Disney Weekend Domestic</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/any">Biggest Domestic Weekend</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-200m">Fastest to $200m</a></td>
 <td align="right">3</td>
 <td align="right">$220,009,584</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/legs/front-loaded-opening-weekend">Front-Loaded Opening Weekend</a></td>
 <td align="right">41</td>
 <td align="right">47.6%</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/weekend/high-theater-average-released-in-2017">Top 2017 Theater Average</a></td>
 <td align="right">13</td>
 <td align="right">$51,987</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/misc/widest-opening-weekend">Widest Opening Weekend</a></td>
 <td align="right">35</td>
 <td align="right">4,232</td>
 <td>Dec 15, 2017</td>
 <td align="right">3</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/saturday">Biggest Domestic Saturday</a></td>
 <td align="right">6</td>
 <td align="right">$63,993,205</td>
 <td>Dec 16, 2017</td>
 <td align="right">2</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-150m">Fastest to $150m</a></td>
 <td align="right">3</td>
 <td align="right">$168,677,696</td>
 <td>Dec 15, 2017</td>
 <td align="right">2</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-genre/adventure">Top Adventure Day Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-production-method/live-action">Top Live Action Day Domestic</a></td>
 <td align="right">1</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-source/original-screenplay">Top Original Screenplay Day Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-mpaa-rating/pg-13-(us)">Top PG-13 Day Domestic</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-creative-type/science-fiction">Top Science Fiction Day Domestic</a></td>
 <td align="right">2</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/day/sequel">Biggest Domestic Sequel Day</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-theatrical-distributor/walt-disney">Top Walt Disney Day Domestic</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/biggest-day-by-month/december">Biggest Domestic December Day</a></td>
 <td align="right">2</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/best-performance-by-day-of-the-week/friday">Biggest Domestic Friday</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/day/any">Biggest Domestic Day</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-100m">Fastest to $100m</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 <tr>
 <td><a href="/box-office-records/domestic/all-movies/fastest/fastest-to-50m">Fastest to $50m</a></td>
 <td align="right">3</td>
 <td align="right">$104,684,491</td>
 <td>Dec 15, 2017</td>
 <td align="right">1</td>
 </tr>
 </tbody></table>,
 <table align="center" cellspacing="0">
 <tbody><tr>
 <td align="right" itemprop="actor" itemscope="" itemtype="http://schema.org/Person" width="49%"><b><a href="/person/60740401-Mark-Hamill" itemprop="url"><span itemprop="name">Mark Hamill</span></a></b></td>
 <td>  </td>
 <td align="left" width="49%">Luke Skywalker</td>
 </tr>
 <tr>
 <td align="right" itemprop="actor" itemscope="" itemtype="http://schema.org/Person" width="49%"><b><a href="/person/48440401-Carrie-Fisher" itemprop="url"><span itemprop="name">Carrie Fisher</span></a></b></td>
 <td>  </td>
 <td align="left" width="49%">General Leia Organa</td>
 </tr>
 <tr>
 <td align="right" itemprop="actor" itemscope="" itemtype="http://schema.org/Person" width="49%"><b><a href="/person/287130401-Adam-Driver" itemprop="url"><span itemprop="name">Adam Driver</span></a></b></td>
 <td>  </td>
 <td align="left" width="49%">Kylo Ren</td>
 </tr>
 <tr>
 <td align="right" itemprop="actor" itemscope="" itemtype="http://schema.org/Person" width="49%"><b><a href="/person/921750401-Daisy-Ridley" itemprop="url"><span itemprop="name">Daisy Ridley</span></a></b></td>
 <td>  </td>
 <td align="left" width="49%">Rey</td>
 </tr>
 <tr>

In [513]:


for df in pd.read_html(movies.find()[0]['html']):
    if len(df.columns) == 2:
        break
df = df.transpose()
df.columns = df.iloc[0]
df.reindex(df.index.drop(0))

,Domestic Releases:,International Releases:,Video Release:,MPAA Rating:,Running Time:,Franchise:,Comparisons:,Keywords:,Source:,Genre:,Production Method:,Creative Type:,Production Companies:,Production Countries:
1,"December 15th, 2017 (Wide) by Walt DisneyDecem...","December 13th, 2017 (Wide) (Belgium) December ...","March 13th, 2018 by Walt Disney Home Entertain...",PG-13 for sequences of sci-fi action and viole...,150 minutes,Star Wars,All-Time Top-Grossing Filmsvs. Black PantherCr...,"Space Opera, Robot, Good vs. Evil, Outer Space...",Original Screenplay,Adventure,Live Action,Science Fiction,"Lucasfilm, Walt Disney Pictures",United States

In [ ]:
for df in pd.read_html(movies.find()[0]['html']):
    if len(df.columns) == 3:
        break

In [486]:
pd.read_html(movies.find()[0]['html'])

[                              0               1        2
 0        Theatrical Performance             NaN      NaN
 1           Domestic Box Office    $620,181,382  Details
 2      International Box Office    $700,032,859  Details
 3          Worldwide Box Office  $1,320,214,241      NaN
 4  Further financial details...             NaN      NaN,
                                    0     1               2
 0                             Record  Rank          Amount
 1       All Time Domestic Box Office     7    $620,181,382
 2  All Time International Box Office    26    $700,032,859
 3      All Time Worldwide Box Office    10  $1,320,214,241,
                           0                                                  1
 0        Domestic Releases:  December 15th, 2017 (Wide) by Walt DisneyDecem...
 1   International Releases:  December 13th, 2017 (Wide) (Belgium) December ...
 2            Video Release:  March 13th, 2018 by Walt Disney Home Entertain...
 3              MPAA Rating:  PG-13 for sequences of sci-fi action and viole...
 4             Running Time:                                        150 minutes
 5                Franchise:                                          Star Wars
 6              Comparisons:  All-Time Top-Grossing Filmsvs. Black PantherCr...
 7                 Keywords:  Space Opera, Robot, Good vs. Evil, Outer Space...
 8                   Source:                                Original Screenplay
 9                    Genre:                                          Adventure
 10       Production Method:                                        Live Action
 11           Creative Type:                                    Science Fiction
 12    Production Companies:                    Lucasfilm, Walt Disney Pictures
 13    Production Countries:                                      United States,
                                                     0     1             2  \
 0                                              Record  Rank        Amount
 1                                    Fastest to $600m     4  $602,512,582
 2                        Biggest Domestic 5th Weekend    58   $11,854,481
 3              Martin Luther King (All Movies, 3-Day)    70   $11,854,481
 4   Martin Luther King (All Movies, 3-Day, Inflati...   167   $11,608,591
 5     Martin Luther King (All Movies, 4-Day, Fri-Mon)    65   $14,627,721
 6   Martin Luther King (All Movies, 4-Day, Fri-Mon...   108   $14,324,308
 7                        Biggest Domestic 4th Weekend    23   $23,728,944
 8                    Biggest Domestic January Weekend    57   $23,728,944
 9                                    Fastest to $550m     2  $555,486,075
 10                       Biggest Domestic January Day    43   $14,293,461
 11                       Biggest Domestic 3rd Weekend     6   $52,520,140
 12                 New Year's Day (All Movies, 3-Day)     3   $52,520,140
 13  New Year's Day (All Movies, 3-Day, Inflation A...     5   $53,292,495
 14                                   Fastest to $500m     2  $503,651,719
 15                          Biggest Domestic Thursday    14   $19,490,329
 16                                   Fastest to $450m     3  $464,698,228
 17                         Biggest Domestic Wednesday    18   $21,846,132
 18                           Biggest Domestic Tuesday     5   $27,734,356
 19                                   Fastest to $400m     5  $423,361,767
 20                            Biggest Domestic Monday     6   $27,459,557
 21                       Biggest Domestic 2nd Weekend    15   $71,565,498
 22                      Christmas (All Movies, 3-Day)     3   $71,565,498
 23  Christmas (All Movies, 3-Day, Inflation Adjusted)     6   $72,617,932
 24                                   Fastest to $350m     5  $350,537,855
 25                                   Fastest to $300m     4  $321,365,440
 26                                   Fastest to $250m     4  $261,820,146
 27                            Biggest Domestic Sunday     6   $51,331,888
 28                  Biggest Domestic December Weekend     2  $220,009,584
 29                   Biggest Domestic Opening Weekend     3  $220,009,584
 30                     Top Adventure Weekend Domestic     2  $220,009,584
 31                   Top Live Action Weekend Domestic     1  $220,009,584
 32           Top Original Screenplay Weekend Domestic     2  $220,009,584
 33                         Top PG-13 Weekend Domestic     3  $220,009,584
 34               Top Science Fiction Weekend Domestic     2  $220,009,584
 35                    Biggest Domestic Sequel Weekend     3  $220,009,584
 36                   Top Walt Disney Weekend Domestic     3  $220,009,584
 37                           Biggest Domestic Weekend     3  $220,009,584
 38                                   Fastest to $200m     3  $220,009,584
 39                       Front-Loaded Opening Weekend    41         47.6%
 40                           Top 2017 Theater Average    13       $51,987
 41                             Widest Opening Weekend    35          4232
 42                          Biggest Domestic Saturday     6   $63,993,205
 43                                   Fastest to $150m     3  $168,677,696
 44                         Top Adventure Day Domestic     2  $104,684,491
 45                       Top Live Action Day Domestic     1  $104,684,491
 46               Top Original Screenplay Day Domestic     2  $104,684,491
 47                             Top PG-13 Day Domestic     3  $104,684,491
 48                   Top Science Fiction Day Domestic     2  $104,684,491
 49                        Biggest Domestic Sequel Day     3  $104,684,491
 50                       Top Walt Disney Day Domestic     3  $104,684,491
 51                      Biggest Domestic December Day     2  $104,684,491
 52                            Biggest Domestic Friday     3  $104,684,491
 53                               Biggest Domestic Day     3  $104,684,491
 54                                   Fastest to $100m     3  $104,684,491
 55                                    Fastest to $50m     3  $104,684,491

                3               4
 0      ChartDate  Days InRelease
 1   Jan 19, 2018              37
 2   Jan 12, 2018              31
 3   Jan 12, 2018              31
 4   Jan 12, 2018              31
 5   Jan 12, 2018              31
 6   Jan 12, 2018              31
 7    Jan 5, 2018              24
 8    Jan 5, 2018              24
 9    Jan 5, 2018              22
 10   Jan 1, 2018              18
 11  Dec 29, 2017              17
 12  Dec 29, 2017              17
 13  Dec 29, 2017              17
 14  Dec 29, 2017              16
 15  Dec 28, 2017              14
 16  Dec 22, 2017              14
 17  Dec 27, 2017              13
 18  Dec 26, 2017              12
 19  Dec 22, 2017              12
 20  Dec 25, 2017              11
 21  Dec 22, 2017              10
 22  Dec 22, 2017              10
 23  Dec 22, 2017              10
 24  Dec 22, 2017               9
 25  Dec 22, 2017               8
 26  Dec 15, 2017               5
 27  Dec 17, 2017               3
 28  Dec 15, 2017               3
 29  Dec 15, 2017               3
 30  Dec 15, 2017               3
 31  Dec 15, 2017               3
 32  Dec 15, 2017               3
 33  Dec 15, 2017               3
 34  Dec 15, 2017               3
 35  Dec 15, 2017               3
 36  Dec 15, 2017               3
 37  Dec 15, 2017               3
 38  Dec 15, 2017               3
 39  Dec 15, 2017               3
 40  Dec 15, 2017               3
 41  Dec 15, 2017               3
 42  Dec 16, 2017               2
 43  Dec 15, 2017               2
 44  Dec 15, 2017               1
 45  Dec 15, 2017               1
 46  Dec 15, 2017               1
 47  Dec 15, 2017               1
 48  Dec 15, 2017               1
 49  Dec 15, 2017               1
 50  Dec 15, 2017               1
 51  Dec 15, 2017               1
 52  Dec 15, 2017               1
 53  Dec 15, 2017               1
 54  Dec 15, 2017               1
 55  Dec 15, 2017               1  ,
                       0   1                    2
 0           Mark Hamill NaN       Luke Skywalker
 1         Carrie Fisher NaN  General Leia Organa
 2           Adam Driver NaN             Kylo Ren
 3          Daisy Ridley NaN                  Rey
 4           John Boyega NaN                 Finn
 5           Oscar Isaac NaN          Poe Dameron
 6      Domhnall Gleeson NaN          General Hux
 7       Anthony Daniels NaN                C-3PO
 8   Gwendoline Christie NaN       Captain Phasma
 9      Kelly Marie Tran NaN            Rose Tico
 10     Benicio del Toro NaN                   DJ,
                  0   1                          2
 0      Andy Serkis NaN       Supreme Leader Snoke
 1   Lupita Nyong'o NaN                 Maz Kanata
 2       Laura Dern NaN  Vice Admiral Amilyn Holdo
 3     Peter Mayhew NaN                  Chewbacca
 4   Joonas Suotamo NaN                  Chewbacca
 5       Mike Quinn NaN                  Nien Nunb
 6         Tim Rose NaN             Admiral Ackbar
 7     Billie Lourd NaN          Lieutenant Connix
 8       Simon Pegg NaN                Unkar Plutt
 9        Jimmy Vee NaN                      R2-D2
 10   Warwick Davis NaN                    Wodibin
 11      Noah Segan NaN        X-Wing Pilot Starck
 12    Veronica Ngo NaN                 Paige Tico
 13  Justin Theroux NaN         Master Codebreaker
 14       Lily Cole NaN                      Lovey
 15    Hugh Skinner NaN      Holdo’s First Officer,
                        0   1                           2
 0   Joseph Gordon-Levitt NaN                   Slowen-Lo
 1              Tom Hardy NaN                Stormtrooper
 2            Gary Barlow NaN                Stormtrooper
 3         Gareth Edwards NaN   Resistance Trench Soldier
 4           Edgar Wright NaN    Crait Resistance Fighter
 5           Oscar Wright NaN    Crait Resistance Fighter
 6            Andrew Jack NaN               General Ematt
 7          Michaela Coel NaN          Resistance Fighter
 8         Ellie Goulding NaN          Resistance Fighter
 9           James Corden NaN          Resistance Fighter
 10      Adrian Edmondson NaN  First Order Captain Peavey
 11          Matthew Wood NaN            General Grievous
 12            Sam Witwer NaN            Additional Voice,
                     0   1                          2
 0        Rian Johnson NaN                   Director
 1        Rian Johnson NaN               Screenwriter
 2    Kathleen Kennedy NaN                   Producer
 3         Ram Bergman NaN                   Producer
 4          Bob Ducsay NaN                     Editor
 5       John Williams NaN                   Composer
 6        Steve Yedlin NaN    Director of Photography
 7     Richard Roberts NaN              Set Decorator
 8   Jamie Christopher NaN   First Assistant Director
 9        Matthew Wood NaN   Supervising Sound Editor
 10          Ren Klyce NaN             Sound Designer
 11       David Parker NaN         Re-recording Mixer
 12   Michael Semanick NaN         Re-recording Mixer
 13          Ren Klyce NaN         Re-recording Mixer
 14      Stuart Wilson NaN                Sound Mixer
 15         Ben Morris NaN  Visual Effects Supervisor
 16    Mike Mulholland NaN  Visual Effects Supervisor
 17       Neal Scanlan NaN  Visual Effects Supervisor
 18     Chris Corbould NaN  Visual Effects Supervisor,
                                                     0     1             2
 0                                              Record  Rank       Revenue
 1                        All Time Domestic Box Office     7  $620,181,382
 2     All Time Domestic Inflation Adjusted Box Office    22  $620,181,382
 3                 All Time Domestic Sequel Box Office     3  $620,181,382
 4          Top 2017 Movies at the Domestic Box Office     1  $620,181,382
 5   All Time Domestic Box Office for Original Scre...     4  $620,181,382
 6   All Time Domestic Box Office for Live Action M...     4  $620,181,382
 7   All Time Domestic Box Office for Science Ficti...     4  $620,181,382
 8   All Time Domestic Box Office for Adventure Movies     2  $620,181,382
 9       All Time Domestic Box Office for PG-13 Movies     7  $620,181,382
 10  All Time Domestic Box Office for Walt Disney M...     4  $620,181,382,
              0     1             2         3         4            5  \
 0         Date  Rank         Gross  % Change  Theaters  Per Theater
 1   2017/12/15     1  $220,009,584       NaN      4232      $51,987
 2   2017/12/22     1   $71,565,498      -67%      4232      $16,911
 3   2017/12/29     1   $52,520,140      -27%      4232      $12,410
 4   2018/01/05     3   $23,728,944      -55%      4232       $5,607
 5   2018/01/12     6   $11,854,481      -50%      3090       $3,836
 6   2018/01/19     8    $6,555,435      -45%      2456       $2,669
 7   2018/01/26    11    $4,254,001      -35%      1745       $2,438
 8   2018/02/02    15    $2,338,242      -45%      1467       $1,594
 9   2018/02/09    16    $1,397,413      -40%       830       $1,684
 10  2018/02/16    25      $617,698      -56%       351       $1,760
 11  2018/02/23    28      $352,838      -43%       292       $1,208
 12  2018/03/02    26      $252,689      -28%       221       $1,143
 13  2018/03/09    21      $265,513       +5%       246       $1,079
 14  2018/03/16    25      $174,756      -34%       211         $828
 15  2018/03/23    33      $102,020      -42%       150         $680
 16  2018/03/30    30       $66,989      -34%       109         $615
 17  2018/04/06    46       $33,544      -50%        61         $550
 18  2018/04/13    71        $5,845      -83%        28         $209

                6     7
 0    Total Gross  Week
 1   $220,009,584     1
 2   $368,167,854     2
 3   $517,218,368     3
 4   $572,691,546     4
 5   $592,129,065     5
 6   $604,273,911     6
 7   $610,795,822     7
 8   $614,455,022     8
 9   $616,833,692     9
 10  $618,040,475    10
 11  $618,728,556    11
 12  $619,116,325    12
 13  $619,483,244    13
 14  $619,791,373    14
 15  $619,967,829    15
 16  $620,097,892    16
 17  $620,164,565    17
 18  $620,178,595    18  ,
               0     1             2         3         4            5  \
 0          Date  Rank         Gross  % Change  Theaters  Per Theater
 1    2017/12/15     1  $104,684,491       NaN      4232      $24,736
 2    2017/12/16     1   $63,993,205      -39%      4232      $15,121
 3    2017/12/17     1   $51,331,888      -20%      4232      $12,129
 4    2017/12/18     1   $21,556,373      -58%      4232       $5,094
 5    2017/12/19     1   $20,254,189       -6%      4232       $4,786
 6    2017/12/20     1   $16,889,863      -17%      4232       $3,991
 7    2017/12/21     1   $17,892,347       +6%      4232       $4,228
 8    2017/12/22     1   $24,763,084      +38%      4232       $5,851
 9    2017/12/23     1   $29,172,415      +18%      4232       $6,893
 10   2017/12/24     1   $17,629,999      -40%      4232       $4,166
 11   2017/12/25     1   $27,459,557      +56%      4232       $6,489
 12   2017/12/26     1   $27,734,356       +1%      4232       $6,553
 13   2017/12/27     1   $21,846,132      -21%      4232       $5,162
 14   2017/12/28     1   $19,490,329      -11%      4232       $4,605
 15   2017/12/29     1   $19,029,250       -2%      4232       $4,497
 16   2017/12/30     1   $19,924,241       +5%      4232       $4,708
 17   2017/12/31     1   $13,566,649      -32%      4232       $3,206
 18   2018/01/01     2   $14,293,461       +5%      4232       $3,377
 19   2018/01/02     2    $7,876,574      -45%      4232       $1,861
 20   2018/01/03     2    $5,225,332      -34%      4232       $1,235
 21   2018/01/04     2    $4,348,867      -17%      4232       $1,028
 22   2018/01/05     3    $6,523,473      +50%      4232       $1,541
 23   2018/01/06     3   $10,398,845      +59%      4232       $2,457
 24   2018/01/07     2    $6,806,626      -35%      4232       $1,608
 25   2018/01/08     2    $1,791,497      -74%      4232         $423
 26   2018/01/09     2    $2,368,317      +32%      4232         $560
 27   2018/01/10     2    $1,744,275      -26%      4232         $412
 28   2018/01/11     2    $1,678,949       -4%      4232         $397
 29   2018/01/12     7    $2,670,813      +59%      3090         $864
 ..          ...   ...           ...       ...       ...          ...
 97   2018/03/21     -       $17,933       -3%       211          $85
 98   2018/03/22     -       $20,186      +13%       211          $96
 99   2018/03/23     -       $29,559      +46%       150         $197
 100  2018/03/24     -       $44,955      +52%       150         $300
 101  2018/03/25     -       $27,506      -39%       150         $183
 102  2018/03/26     -       $14,511      -47%       150          $97
 103  2018/03/27     -       $16,845      +16%       150         $112
 104  2018/03/28     -       $14,468      -14%       150          $96
 105  2018/03/29     -       $17,250      +19%       150         $115
 106  2018/03/30     -       $27,758      +61%       109         $255
 107  2018/03/31     -       $26,916       -3%       109         $247
 108  2018/04/01     -       $12,315      -54%       109         $113
 109  2018/04/02     -        $8,694      -29%       109          $80
 110  2018/04/03     -        $7,381      -15%       109          $68
 111  2018/04/04     -        $6,800       -8%       109          $62
 112  2018/04/05     -       $10,254      +51%       109          $94
 113  2018/04/06     -       $11,517      +12%        61         $189
 114  2018/04/07     -       $14,984      +30%        61         $246
 115  2018/04/08     -        $7,043      -53%        61         $115
 116  2018/04/09     -        $1,752      -75%        61          $29
 117  2018/04/10     -        $2,033      +16%        61          $33
 118  2018/04/11     -        $1,982       -3%        61          $32
 119  2018/04/12     -        $2,418      +22%        61          $40
 120  2018/04/13     -        $1,460      -40%        28          $52
 121  2018/04/14     -        $2,716      +86%        28          $97
 122  2018/04/15     -        $1,669      -39%        28          $60
 123  2018/04/16     -          $621      -63%        28          $22
 124  2018/04/17     -          $769      +24%        28          $27
 125  2018/04/18     -          $543      -29%        28          $19
 126  2018/04/19     -          $854      +57%        28          $31

                 6     7
 0     Total Gross  Days
 1    $104,684,491     1
 2    $168,677,696     2
 3    $220,009,584     3
 4    $241,565,957     4
 5    $261,820,146     5
 6    $278,710,009     6
 7    $296,602,356     7
 8    $321,365,440     8
 9    $350,537,855     9
 10   $368,167,854    10
 11   $395,627,411    11
 12   $423,361,767    12
 13   $445,207,899    13
 14   $464,698,228    14
 15   $483,727,478    15
 16   $503,651,719    16
 17   $517,218,368    17
 18   $531,511,829    18
 19   $539,388,403    19
 20   $544,613,735    20
 21   $548,962,602    21
 22   $555,486,075    22
 23   $565,884,920    23
 24   $572,691,546    24
 25   $574,483,043    25
 26   $576,851,360    26
 27   $578,595,635    27
 28   $580,274,584    28
 29   $582,945,397    29
 ..            ...   ...
 97   $619,845,623    97
 98   $619,865,809    98
 99   $619,895,368    99
 100  $619,940,323   100
 101  $619,967,829   101
 102  $619,982,340   102
 103  $619,999,185   103
 104  $620,013,653   104
 105  $620,030,903   105
 106  $620,058,661   106
 107  $620,085,577   107
 108  $620,097,892   108
 109  $620,106,586   109
 110  $620,113,967   110
 111  $620,120,767   111
 112  $620,131,021   112
 113  $620,142,538   113
 114  $620,157,522   114
 115  $620,164,565   115
 116  $620,166,317   116
 117  $620,168,350   117
 118  $620,170,332   118
 119  $620,172,750   119
 120  $620,174,210   120
 121  $620,176,926   121
 122  $620,178,595   122

In [485]:
# soup.findAll('h2')
for header in soup.find_all('h2', text='Movie Details'):
    print(header)
    
    #summary > table:nth-child(10)

<h2>Movie Details</h2>

#What numbers do I need?
Title - from html code itself, should be located somewhere just before the first table

Items below can be extracted from pd.read_html, look into whether its easier to pull from this or directly from the unparsed mongodb format
Domestic Box office
Intl Box office 
Worldwide Box office

Release Date
MPAA Rating
Franchise (dummy is fine)
Running Time
Source
Genre
Production Method
Creative Type
Production Companies


Lead Actor 1
Lead Actor 2
Lead Actor 3
Lead Actor 4

Director
Executive Producer
Producer

In [385]:
soup.find('h1', attrs = {"itemprop":"name"}).text

'Star Wars Ep. VIII: The Last Jedi (2017)'

In [323]:
import sys
sys.getsizeof(list(movies.find()))

13904

In [ ]:
metadata = pd.read_csv('data/movies_metadata.csv', low_memory= False)

In [ ]:
metadata.head()

In [5]:
len(metadata[metadata['revenue'] == 0])

38052

In [6]:
metadata[metadata['revenue'] == 0]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16.0
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0.0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2.0
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,1995-11-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149.0
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,1995-07-19,0.0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828.0
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,1995-12-29,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50.0
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,1995-10-06,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,1995-12-29,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30.0
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,1995-05-05,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10.0
50,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,117164,tt0109950,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,...,1994-11-22,0.0,93.0,[],Released,She's no angel of mercy.,Guardian Angel,False,6.3,3.0
52,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",...,1994-01-01,0.0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,NaN,Lamerica,False,7.7,11.0
53,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,26441,tt0112499,en,The Big Green,"In a depressed Texas town, British foreign exc...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0
54,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,97406,tt0113158,en,Georgia,"Sadie looks up to her older sister Georgia, a ...",...,1995-05-19,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The toughest act to follow was their dreams.,Georgia,False,6.1,15.0
55,False,NaN,0,[],NaN,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",...,1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Kids of the Round Table,False,3.0,1.0
57,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,11010,tt0110877,it,Il postino,Simple Italian postman learns to love poetry w...,...,1994-09-22,0.0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,The Postman,False,7.6,181.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
59,False,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,11359,tt0113419,en,The Indian in the Cupboard,A nine-year-old boy gets a plastic Indian and ...,...,1995-07-14,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Indian in the Cupboard,False,5.9,136.0
60,False,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,17182,tt0116260,en,Eye for an Eye,It's fire and brimstone time as grieving mothe...,...,1996-01-12,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,What do you do when justice fails?,Eye for an Eye,False,5.8,65.0
62,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,10607,tt0116126,en,Don't Be a Menace to South Central While Drink...,When Ashtray (Shawn Wayans) moves to South Cen...,...,1996-01-12,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Finally, the movie that proves that Justice is...",Don't Be a Menace to South Central While Drink...,False,6.2,192.0
63,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,19760,tt0118002,en,Two If by Sea,"Frank O'Brien, a petty thief, and his 7-year-l...",...,1996-01-12,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A new comedy about love, laughter, and larceny",Two If by Sea,False,4.5,14.0
64,False,NaN,15000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9536,tt0115683,en,Bio-Dome,Bud and Doyle are two losers who are doing not...,...,1996-01-12,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Bud and Doyle are here to save the world. But ...,Bio-Dome,False,4.4,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [9]:
(metadata[metadata['release_date'] > '2009-01-01'])

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
868,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,79782,tt1684935,en,Wenecja,An atmospheric coming-of-age story featuring a...,...,2010-05-25,0.0,110.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Venice,False,7.5,4.0
1081,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,141210,tt2250194,en,The Sleepover,"The town of Derry has a secret, but no one tol...",...,2013-10-12,0.0,6.0,[],Released,NaN,The Sleepover,False,8.0,1.0
2114,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.thefarmerswifefilm.co.uk/,143750,tt2140519,en,The Farmer's Wife,"As her surroundings are invaded by outsiders, ...",...,2012-06-20,0.0,18.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Farmer's Wife,False,10.0,1.0
2564,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
2778,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,171982,tt2378428,en,Romance,She's as hot as Britney Spears. Hotter. She pa...,...,2012-10-09,0.0,27.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Romance,False,0.0,0.0
4122,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://brokenkingdomfilm.com/#/kingdomcome,136558,tt2043893,en,Kingdom Come,"The documentary, Kingdom Come follows a first-...",...,2011-01-01,0.0,88.0,[],Released,The unmaking of independent film,Kingdom Come,False,8.0,1.0
4356,False,NaN,3512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
5766,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,78022,tt1790669,en,Da wu sheng,"In the 19th century, the Prince Regent of the ...",...,2011-09-08,0.0,95.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,NaN,My Kingdom,False,4.0,2.0
6563,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,66111,tt1351186,en,Luster,Thomas Luster is a troubled businessman who tr...,...,2010-12-12,0.0,0.0,[],Rumored,Know Your Enemy,Luster,False,4.8,4.0
11155,False,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
11251,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,171771,tt2449612,en,La Cicatrice,The Scar draws an intense psychological suspen...,...,2013-03-03,0.0,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Scar,False,0.0,0.0
12815,False,NaN,130000000,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",https://www.warnerbros.com/watchmen,13183,tt0409459,en,Watchmen,In a gritty and alternate 1985 the glory days ...,...,2009-03-05,185258983.0,163.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Justice is coming to all of us. No matter wha...,Watchmen,False,7.0,2892.0
13059,False,NaN,32000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.theroad-movie.com/,20766,tt0898367,en,The Road,A father and his son walk alone through burned...,...,2009-11-25,27635305.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In a moment the world changed forever.,The Road,False,6.8,1113.0
13070,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,16166,tt1124394,fi,Sauna,It is 1595. Brutal wars have just ended in an ...,...,2010-06-25,0.0,85.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,Cleanse Your Sins,Sauna,False,6.3,33.0
13174,False,"{'id': 86774, 'name': 'Che Collection', 'poste...",40000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.ifcfilms.com/films/che,8880,tt0374569,en,Che: Part Two,"After the Cuban Revolution, Che is at the heig...",...,2009-01-24,0.0,131.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A revolutionary life.,Che: Part Two,False,6.7,155.0
13297,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.bridewars.com,10521,tt0901476,en,Bride Wars,Two best friends become rivals when their resp...,...,2009-01-09,114663461.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,May the best bride win,Bride Wars,False,5.9,884.0
13300,False,"{'id': 264437, 'name': 'My Bloody Valentine Co...",15000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.mybloodyvalentinein3d.com/,14435,tt1179891,en,My Bloody Valentine,"Ten years ago, a tragedy changed the town of H...",...,2009-01-16,100734718.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's gonna break your heart.,My Bloody Valentine,False,5.3,303.0
13317,False,"{'id': 2326, 'name': 'Underworld Collection', ...",35000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,12437,tt0834001,en,Underworld: Rise of the Lycans,"A prequel to the first two Underworld films, t...",...,2009-01-22,91353501.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every war has a beginning.,Underworld: Rise of the Lycans,False,6.2,1447.0
13334,False,"{'id': 328372, 'name': 'Mall Cop Collection', ...",26000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://paulblartmallcop.com/,14560,tt1114740,en,Paul Blart: Mall Cop,Mild-mannered Paul Blart (Kevin James) has alw...,...,2009-01-15,183293131.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Safety Never Takes A Holiday.,Paul Blart: Mall Cop,False,5.2,807.0
13335,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.notorious09.com,14410,tt0472198,en,Notorious,NOTORIOUS is the story of Christopher Wallace....,...,2009-01-16,43051547.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The story of the man behind the legend.,Notorious,False,6.6,163.0
13336,False,NaN,16000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.theunbornmovie.net/,13788,tt1139668,en,The Unborn,A young woman fights the spirit that is slowly...,...,2009-01-09,76514050.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Evil will do anything to live.,The Unborn,False,4.8,373.0
13343,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.uninvitedmovie.com,14254,tt0815245,en,The Uninvited,Anna returns home after spending time in a psy...,...,2009-01-30,41624046.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Can you believe what you see?,The Uninvited,False,6.3,424.0
13348,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,14549,tt1020055,en,Night Train,Two Passengers (Sobieski and Zahn) and the con...,...,2009-04-15,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Night Train,False,5.4,50.0
13367,False,"{'id': 1974, 'name': 'The Grudge Collection', ...",5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",http://www.sonypictures.com/homevideo/thegrudge3/,1977,tt1053859,en,The Grudge 3,"Jake, the sole survivor of The Grudge 2 massac...",...,2009-05-12,38610009.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You can't escape the curse.,The Grudge 3,False,5.3,150.0
13371,False,NaN,60000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://coraline.com/,14836,tt0327597,en,Coraline,"When Coraline moves to an old house, she feels...",...,2009-02-05,124596398.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be careful what you wish for.,Coraline,False,7.3,1432.0
13378,False,NaN,38000000,"[{'id': 28, 'name': 'Action'}]",http://www.push-themovie.com/,13455,tt0465580,en,Push,"After his father, an assassin, is brutally mur...",...,2009-02-06,45465299.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One push can change everything.,Push,False,5.9,671.0
13379,False,NaN,50000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.sonypictures.com/movies/theinternat...,4959,tt0963178,en,The International,An interpol agent and an attorney are determin...,...,2009-02-03,60161391.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Is your money making a killing?,The International,False,6.0,373.0
13381,False,NaN,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.hesjustnotthatintoyoumovie.com/,10184,tt1001508,en,He's Just Not That Into You,Remember that really cute guy who said he'd ca...,...,2009-02-06,177259441.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Are you the exception...or the rule?,He's Just Not That Into You,False,6.2,988.0
13383,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,14849,tt1079444,en,Dead Like Me: Life After Death,When George and her colleagues get a new boss ...,...,2009-02-17,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Like Me: Life After Death,False,5.8,67.0
13393,False,"{'id': 13800, 'name': 'Futurama Collection', '...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,15060,tt1054487,en,Futurama: Into the Wild Green Yonder,Leela becomes an outlaw when she and a group o...,...,2009-02-23,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All the other galaxies will be green with envy!,Futurama: Into the Wild Green Yonder,False,7.2,134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45373,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,426272,tt6598626,en,Take Me,Ray is a fledgling entrepreneur who specialize...,...,2017-05-05,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A good hostage is hard to find.,Take Me,False,6.0,38.0
45374,False,NaN,0,[],NaN,408624,tt5918074,en,A Death in the Gunj,A sensitive university student unraveling whil...,...,2016-09-10,0.0,110.0,"[{'iso_639_1': 'bn', 'name': 'বাংলা'}, {'iso_6...",Released,NaN,A Death in the Gunj,False,7.0,5.0
45375,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,413421,tt5502766,hi,फिल्लौरी,A man is forced to marry a tree to ward off il...,...,2017-03-24,0.0,138.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Some love stories last beyond a lifetime,Phillauri,False,7.1,11.0
45376,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,261871,tt3338382,ru,Полярный рейс,Sometimes New Year eve can bring a lot of surp...,...,2013-12-12,0.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Polar Flight,False,0.0,0.0
45379,False,NaN,2,[],NaN,227143,tt2401213,uk,Іван Сила,"""Strong Ivan"" is a film telling an outstanding...",...,2013-10-02,0.0,80.0,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,Іван Сила,False,7.0,1.0
45380,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",https://www.netflix.com/title/80171022,432789,tt5990342,en,The Incredible Jessica James,"Burned by a bad breakup, a struggling New York...",...,2017-01-27,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Likes are easy, love is hard.",The Incredible Jessica James,False,6.2,37.0
45381,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,264269,tt2400314,ru,Vladeniye 18,"Sveta and Maxim, a happy newlyweds, are moving...",...,2014-03-13,320395.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Apartment 18,False,4.4,4.0
45384,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,434873,tt5735280,en,It Stains the Sands Red,"In the throes of a zombie apocalypse, A troubl...",...,2016-10-08,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If the heat doesn't kill you, something else will",It Stains the Sands Red,False,5.6,21.0
45389,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,370213,tt5278928,fa,Sonita,"If 18-year-old Sonita had a say, Michael Jacks...",...,2015-11-20,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Sonita,False,6.0,1.0
45391,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",http://pixltv.com/cant-buy-my-love-premieres-s...,445126,tt5864238,en,Can't Buy My Love,"Lilly, a hard working EMT, is only focused on ...",...,2017-03-04,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Can't Buy My Love,False,7.0,7.0
45392,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",http://pixltv.com/hopeless-romantic-premieres-...,401687,tt5775814,en,Hopeless Romantic,Hopeless romantic Matt (Brandon W. Jones) deci...,...,2016-06-04,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Hopeless Romantic,False,4.3,3.0
45394,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,273279,tt1563665,fr,La peau de chagrin,"In 19th-century France, a man (Thomas Coumans)...",...,2010-09-22,0.0,98.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Skin of Sorrow,False,7.0,1.0
45398,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri Mäntyvaaran tuuheet ripset,NaN,...,2017-07-28,0.0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri Mäntyvaara,False,8.0,1.0
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0
45401,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,240789,tt1197626,ru,Чудо,The film is based on real events that took pla...,...,2009-10-09,50656.0,110.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Miracle,False,6.3,3.0
45402,False,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,293654,tt3761706,ru,Корпоратив,"Igor, a furniture store manager, tries to figu...",...,2014-09-18,0.0,89.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Corporate Event,False,3.5,4.0
45404,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,102363,tt2117825,ru,Beduin,Rita's daughter is sick with leukemia. In orde...,...,2011-01-01,0.0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Bedouin,False,4.0,5.0
45406,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,98604,tt2147597,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",...,2012-02-14,0.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Cinderella,False,4.6,6.0
45407,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97672,tt2258565,ru,Samoubiytsy,Comedy about the crazy adventures of three fri...,...,2012-03-01,0.0,86.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Suicides,False,4.6,4.0
45412,False,NaN,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45417,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,461297,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,...,2017-08-01,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1.0
45427,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,365432,tt4285960,en,The Sublet,The Sublet is a suspense driven psychological ...,...,2015-11-07,0.0,82.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Sublet,False,6.5,4.0
45435,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,63266,tt1489253,en,Fobos. Klub Strakha,Rainy summer evening... Young people are arriv...,...,2010-03-25,0.0,79.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Phobos. Fear Kills,False,3.0,2.0
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [132]:
movies_2017_list = list(movies.find())

In [133]:
movies_2017_df = pd.DataFrame(movies_2017_list)

In [135]:
movies_2017_df.to_csv('data/movies_2017_html.csv')